/* TABS Z-INDEX */

#tab_cars_list {
	z-index:+1;
}
#tab_car_sel {
	z-index:+2;
}
#tab_car_editor, #tab_photos_list, #tab_fills_list, #tab_repairs_list, #tab_insurances_list {
	z-index:+3;
}
#tab_photo_editor, #tab_fill_editor, #tab_repair_editor, #tab_insurance_editor {
	z-index:+4;
}
#tab_stats {
	z-index:+5;
}
#tab_log {
	z-index:+50;
}

/* ICONS */

/* with white bg */
.button_add {
	background:#fff url('plus.png') no-repeat center center;
}
.button_del {
	background:#fff url('delete.png') no-repeat center center;
}
.button_settings {
	background:#fff url('menu.png') no-repeat center center;
}
.button_edit {
	background:#fff url('edit.png') no-repeat center center;
}
.button_submit {
	background:#fff url('submit.png') no-repeat center center;
}
.button_back {
	background:#fff url('backward.png') no-repeat center center;
}
#main_import {
	background:#fff url('upload.png') no-repeat center center;
}
#main_export {
	background:#fff url('download.png') no-repeat center center;
}

/* with gray bg */
.button_gas {
	background:#666 url('gas-station.png') no-repeat center center;
}
.button_repair {
	background:#666 url('oil.png') no-repeat center center;
}
.button_insurance {
	background:#666 url('umbrella.png') no-repeat center center;
}
.button_stats {
	background:#666 url('stats.png') no-repeat center center;
}
.button_camera {
	background:#666 url('camera.png') no-repeat center center;
}

/* TABLES */

table {
	margin:0 auto;
}

th, td {
	padding:4px;
}

table.list, table.list2 {
	width:100%;
	border-collapse:collapse;
	margin:10px 0;
}
table.list img {
	vertical-align:middle;
	margin:5px 0;
}
table.list thead tr th,table.list2 thead tr th  {
	background:black;
	color:white;
	font-weight:normal;
	line-height:20px;
}
table.list tbody tr, table.list2 tbody tr {
	line-height:30px;	
}

table.list tbody tr:nth-child(even) {
	background:lightgrey;
}
table.list tbody tr:nth-child(odd) {
	background:linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}
table.list tbody tr.sel {
	background:linear-gradient(to bottom, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
}

table.list2 tbody tr:nth-child(4n), table.list2 tbody tr:nth-child(4n-1) {
	background:lightgrey;
}
table.list2 tbody tr:nth-child(4n-2), table.list2 tbody tr:nth-child(4n-3) {
	background:#f0f0f0;
}