
			<style type="text/css" id="cats_styles"></style>
			<!-- TAB MAIN -->
			<div id="tab_main" class="tab fixed">
				<div class="header">
					<div class="absright">
						<span class="rounded menu icon_timetable" id="main_goto_today"></span>
						<span class="rounded menu icon_clock_fast" id="main_goto_month"></span>
						<span class="rounded menu icon_menu" id="button_settings_open"></span>
					</div>
					<div class="absleft">
						<span class="rounded menu icon_prev" id="main_prev_year"></span>
						<p id="button_log_open">
							<span id="main_current_year">2015</span>
						</p>
						<span class="rounded menu icon_next" id="main_next_year"></span>
					</div>
				</div>				
				<div class="footer">
					<div id="search">
						<span class="rounded menu icon_filter_reset" id="button_filter_reset"></span>
						<input type="text" name="input_keywords_filter" id="input_keywords_filter" value="" placeholder=""/>
						<span class="rounded menu icon_filter_outline" id="button_filter_submit"></span>
						<span class="rounded menu icon_database" id="button_filter_open"></span>
					</div>
				</div>
				<div class="body overflow with_footer">
					<div id="cal"></div>
				</div>
			</div>
			<!-- TAB IMPORT -->
			<div id="tab_import" class="tab fixed">
				<div class="header">
					<div class="absleft">
						<span class="rounded menu icon_backward" id="button_import_close"></span>
					</div>
					<p id="label_import">Import</p>
				</div>
				<div class="body overflow">
					<br/>					
					<div id="uploader1" class="uploader c">
						<p id="label_import_help1">Drag/drop your backup file here</p>	
					</div>					
					<br/>
					<p id="label_import_help2">or download it manually :</p>
					<div style="margin-top:20px">
						<input type="file" name="import_file" id="import_file"/>
					</div>
				</div>
			</div>				
			<!-- TAB EXPORT -->
			<div id="tab_export" class="tab fixed">
				<div class="header">
					<div class="absleft">
						<span class="rounded menu icon_backward" id="button_export_close"></span>
					</div>
					<p id="label_export">Export</p>
				</div>
				<div class="body overflow">
					<div class="c" style="margin-top:20px">
						<p id="label_export_calendar">Export your calendar :</p>
						<p><span class="rounded" id="button_export_as_json">as JSON</span></p>
						<p><span class="rounded" id="button_export_as_xml">as XML</span></p>
					</div>
				</div>
			</div>				
			<!-- TAB GOTO MONTH -->
			<div id="tab_goto_month" class="tab fixed">
				<div class="header">
					<p id="label_go_to_month">Go to month ?</p>
				</div>
				<div class="body overflow">
					<ul class="horiz dialer auto li20p ul_months_abrv"><!-- don't use id=... here ! -->
						<li data-value="0">Jan</li>
						<li data-value="1">Feb</li>
						<li data-value="2">Mar</li>
						<li data-value="3">Apr</li>
						<li data-value="4">May</li>
						<li data-value="5">Jun</li>
						<li data-value="6">Jul</li>
						<li data-value="7">Aug</li>
						<li data-value="8">Sep</li>
						<li data-value="9">Oct</li>
						<li data-value="10">Nov</li>
						<li data-value="11">Dec</li>
					</ul>
				</div>
			</div>
			<!-- TAB EVENT START HOUR -->
			<div id="tab_event_start_hour" class="tab fixed">
				<div class="header">
					<p id="label_event_start_hour">Hour ?</p>
				</div>
				<div class="body overflow">
					<ul class="horiz dialer auto li20p">
						<li>00</li>
						<li>01</li>
						<li>02</li>
						<li>03</li>
						<li>04</li>
						<li>05</li>
						<li>06</li>
						<li>07</li>
						<li>08</li>
						<li>09</li>
						<li>10</li>
						<li>11</li>
						<li>12</li>
						<li>13</li>
						<li>14</li>
						<li>15</li>
						<li>16</li>
						<li>17</li>
						<li>18</li>
						<li>19</li>
						<li>20</li>
						<li>21</li>
						<li>22</li>
						<li>23</li>
					</ul>
				</div>
			</div>
			<!-- TAB EVENT START MINUTE -->
			<div id="tab_event_start_minute" class="tab fixed">
				<div class="header">
					<p id="label_event_start_minute">Minute ?</p>
				</div>
				<div class="body overflow">
					<div>
						<input type="number" value="0" min="0" max="59" step="1" style="width:40px"/>
						<button type="button" class="ok" id="label_event_start_minute_ok">OK</button>
					</div>
					<ul class="horiz dialer auto li20p">
						<li>00</li>
						<li>05</li>
						<li>10</li>
						<li>15</li>
						<li>20</li>
						<li>25</li>
						<li>30</li>
						<li>35</li>
						<li>40</li>
						<li>45</li>
						<li>50</li>
						<li>55</li>
					</ul>
				</div>
			</div>
			<!-- TAB EVENT DURATION HOUR -->
			<div id="tab_event_duration_hour" class="tab fixed">
				<div class="header">
					<p id="label_event_duration_hour">Hour ?</p>
				</div>
				<div class="body overflow">
					<div>
						<input type="number" value="0" min="0" max="99" step="1" style="width:40px"/>
						<button type="button" class="ok" id="label_event_duration_hour_ok">OK</button>
					</div>
					<ul class="horiz dialer auto li20p">
						<li>00</li>
						<li>01</li>
						<li>02</li>
						<li>03</li>
						<li>04</li>
						<li>05</li>
						<li>06</li>
						<li>07</li>
						<li>08</li>
						<li>09</li>
						<li>10</li>
						<li>11</li>
						<li>12</li>
						<li>13</li>
						<li>14</li>
						<li>15</li>
						<li>16</li>
						<li>17</li>
						<li>18</li>
						<li>19</li>
						<li>20</li>
						<li>21</li>
						<li>22</li>
						<li>23</li>
					</ul>
				</div>
			</div>
			<!-- TAB EVENT DURATION MINUTE -->
			<div id="tab_event_duration_minute" class="tab fixed">
				<div class="header">
					<p id="label_event_duration_minute">Minute ?</p>
				</div>
				<div class="body overflow">
					<div>
						<input type="number" value="0" min="0" max="59" step="1" style="width:40px"/>
						<button type="button" class="ok" id="label_event_duration_minute_ok">OK</button>
					</div>
					<ul class="horiz dialer auto li20p">
						<li>00</li>
						<li>05</li>
						<li>10</li>
						<li>15</li>
						<li>20</li>
						<li>25</li>
						<li>30</li>
						<li>35</li>
						<li>40</li>
						<li>45</li>
						<li>50</li>
						<li>55</li>
					</ul>
				</div>
			</div>
			<!-- TAB EDIT EVENT -->
			<div id="tab_edit_event" class="tab fixed">
				<div class="header">
					<div class="absleft">
						<span class="rounded menu icon_delete" id="button_event_delete"></span>
					</div>
					<div class="absright">
						<span class="rounded menu icon_db_plus" id="button_event_submit"></span>
					</div>
					<span class="rounded menu icon_paste" id="button_event_paste"></span>
				</div>
				<input type="hidden" id="event_uid" value="" />
				<input type="hidden" id="event_cat_uid" value="" />
				<div class="body overflow">
					<p><input type="date" id="event_date" placeholder="Start date" style="width:10em"/></p>
					<table class="auto">
						<tbody>
							<tr>
								<td style="text-align:right"><span id="label_event_start_time">Start time</span></td>
								<td>
									<span id="event_start_hour" class="rounded li20p hour"></span>
									:
									<span id="event_start_minute" class="rounded li20p minute"></span>
								</td>
								<td style="padding-left:10px">
									<span id="button_event_allday" class="rounded">Allday</span>
								</td>
							</tr>
							<tr>
								<td style="text-align:right"><span id="label_event_duration">Duration</span></td>
								<td>
									<span id="event_duration_hour" class="rounded li20p hour"></span>
									:
									<span id="event_duration_minute" class="rounded li20p minute"></span>
								</td>
								<td style="padding-left:10px">
									<span id="button_event_repeat" class="rounded">Repeat</span>
								</td>
							</tr>
						</tbody>
					</table>
					<div style="margin:10px">
						<input type="text" class="auto w90p" id="event_title" placeholder="Title ?" maxlength="100" />
					</div>
					<div style="margin:10px">
						<textarea class="auto w90p" id="event_description" placeholder="Description ?" maxlength="5000"></textarea>
					</div>
					<table class="auto">
						<tbody>
							<tr>
								<td style="text-align:right"><span id="label_event_cat">Category</span></td>
								<td>
									<span id="button_event_cat" class="rounded">None</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- TAB FILTER -->
			<div id="tab_filter" class="tab fixed">
				<div class="header">
					<div class="absleft">
						<span class="rounded menu icon_backward" id="button_filter_close"></span>
					</div>
					<div class="absright">
						<span class="rounded menu icon_db_minus" id="button_filter_del"></span>
					</div>
					<div class="absright">
					</div>
					<p id="label_filter">Filter</p>
				</div>
				<div class="body overflow">
					<div id="div_filters_list"><!-- will be filled later --></div>
				</div>
			</div>
			<!-- TAB FILTER DELETE -->
			<div id="tab_filter_delete" class="tab fixed">
				<div class="header">
					<div class="absleft">
						<span class="rounded menu icon_backward" id="button_filter_manage_close"></span>
					</div>
					<div class="absright">
					</div>
					<p id="label_filter_delete">Delete filters</p>
				</div>
				<div class="body overflow">
					<div id="div_filters_list_delete"><!-- will be filled later --></div>
				</div>
			</div>
			<!-- TAB CAT -->
			<div id="tab_cat" class="tab fixed">
				<div class="header">
					<div class="absright">
						<span class="rounded menu icon_forward" id="button_cat_manage_open"></span>
					</div>
					<p id="label_cat_category">Category ?</p>
				</div>
				<div class="body overflow">
					<div id="div_event_cat_radio"><!-- will be filled later --></div>
				</div>
			</div>
			<!-- TAB CAT MANAGE -->
			<div id="tab_cat_manage" class="tab fixed">
				<div class="header">
					<div class="absleft">
						<span class="rounded menu icon_backward" id="button_cat_manage_close"></span>
					</div>
					<div class="absright">
						<span class="rounded menu icon_plus" id="button_cat_editor_add"></span>
					</div>
					<p id="label_cat_manage">Manage categories</p>
				</div>
				<div class="body overflow">
					<div id="cat_manage_radio"><!-- will be filled later --></div>
				</div>
			</div>
			<!-- TAB CAT EDITOR -->
			<div id="tab_cat_editor" class="tab fixed">
				<div class="header">
					<div class="absleft">
						<span class="rounded menu icon_delete" id="button_cat_editor_delete"></span>
					</div>
					<div class="absright">
						<span class="rounded menu icon_db_plus" id="button_cat_editor_submit"></span>
					</div>
					<p id="label_cat_editor">Edit category</p>
				</div>
				<input type="hidden" id="cat_editor_uid" value="" />
				<input type="hidden" id="cat_editor_bg_type" value="" />
				<div id="cat_editor_div_name">
					<input type="text" id="cat_editor_name" placeholder="Name ?" value="" maxlength="30"/>
				</div>
				<div class="body overflow">
					<fieldset class="auto" style="margin-top:60px">
						<legend id="cat_editor_fg_label">Text</legend>
						<span id="label_cat_editor_color">Color:</span>
						<span class="rounded" id="cat_editor_color">#000000</span>
						<br/>
						<div id="cat_editor_styles">
							<span class="rounded bold cstyle" id="cat_editor_bold" data-value="bold">B</span>
							<span class="rounded italic cstyle" id="cat_editor_italic" data-value="italic">I</span>
							<span class="rounded underline cstyle" id="cat_editor_underline" data-value="underline">U</span>
						</div>
					</fieldset>
					<fieldset class="auto">
						<legend id="cat_editor_bg_label">Background</legend>
						<div>
							<div class="inline_top">
								<div id="cat_editor_bg_type_radio">
									<span class="rounded" id="cat_editor_bg_transparent" data-value="transparent">Transparent</span><br/>
									<span class="rounded" id="cat_editor_bg_color" data-value="color">Color</span><br/>
									<span class="rounded" id="cat_editor_bg_gradient" data-value="gradient">Gradient</span>
								</div>
							</div>
							<div class="inline_top">
								<table class="auto">
									<tbody>
										<tr id="cat_editor_block_from">
											<td><span id="label_cat_editor_bg_from">Color 1:</span></td>
											<td><span class="rounded" id="cat_editor_bg_from">#0000ff</span></td>
										</tr>
										<tr id="cat_editor_block_to">
											<td><span id="label_cat_editor_bg_to">Color 2:</span></td>
											<td><span class="rounded" id="cat_editor_bg_to">#000033</span></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div id="cat_editor_block_angle" class="inline_top">
								<p style="margin-bottom:20px"><span id="label_cat_editor_bg_angle">Angle:</span></p>
								<div id="cat_editor_circle_black">
									<div id="cat_editor_circle_white"></div>
									<div id="cat_editor_circle_angle"><span id="cat_editor_bg_angle"></span>°</div>
								</div>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
			<!-- TAB COLORS -->
			<div id="tab_colors" class="tab fixed">
				<div class="header">
					<p id="label_event_duqs">Color ?</p>
				</div>
				<div class="body overflow">
					<div id="div_all_colors"></div>
				</div>
			</div>
			<!-- TAB REPEAT -->
			<div id="tab_repeat" class="tab fixed">
				<div class="header">
					<span class="rounded" id="button_repeat_close">Close</span>
				</div>
				<div class="body overflow" id="tab_repeat_events">
					<table class="auto">
						<tbody>
							<tr>
								<td>
									<input type="hidden" id="event_rrule_freq" value="" />
									<div id="event_rrule_freq_radio" class="vert dialer w100p">
										<span class="rounded event_rrule_freq" id="event_rrule_freq_yearly" data-value="yearly">Yearly</span>
										<span class="rounded event_rrule_freq" id="event_rrule_freq_monthly" data-value="monthly">Monthly</span>
										<span class="rounded event_rrule_freq" id="event_rrule_freq_weekly" data-value="weekly">Weekly</span>
										<span class="rounded event_rrule_freq" id="event_rrule_freq_daily" data-value="daily">Daily</span>
									</div>
								</td>
								<td>
									<p id="event_rrule_label_interval">Interval ?</p>
									<div>
										<input type="number" id="event_rrule_interval" value="1" min="1" max="99" step="1" style="width:40px"/>
									</div>
									<p id="event_rrule_label_count">Count</p>
									<div>
										<input type="number" id="event_rrule_count" value="0" min="0" max="99" step="1" style="width:40px"/>
									</div>
									<p id="event_rrule_label_count_no_limit">(0=no limit)</p>
								</td>
							</tr>
							<tr>
								<td>
									<div>
										<input type="date" id="event_rrule_until" placeholder="End date ?" style="width:10em"/>
									</div>
								</td>
								<td>
									<span id="event_rrule_until_reset" class="rounded">Reset</span>
								</td>
							</tr>
						</tbody>
					</table>
	<!--
					<div class="header">
						<p>Repeat rules ?</p>
					</div>
					<ul class="vert dialer">
						<li>by day</li>
						<li>by month day</li>
						<li>by year day</li>
						<li>by week number</li>
						<li>by month</li>
					</ul>
					<div class="header">
						<p>By set position ?</p>
					</div>
					<div>
						<input type="number" id="event_repeat_bysetpos" value="0" min="-366" max="366" step="1" style="width:3em"/>
					</div>
					<div class="header">
						<p>By Month ?</p>
					</div>
					<div>
						<div>
							<ul class="vert dialer">
								<li>Jan</li>
								<li>Feb</li>
								<li>Mar</li>
								<li>Apr</li>
								<li>May</li>
								<li>Jun</li>
								<li>Jul</li>
								<li>Aug</li>
								<li>Sep</li>
								<li>Oct</li>
								<li>Nov</li>
								<li>Dec</li>
							</ul>
						</div>
					</div>
	-->
				</div>
			</div>
