
		<link href="css/module.css" rel="stylesheet" type="text/css" />
		<script src="js/agenda.js" type="text/javascript"></script>
		<script src="js/cat.object.js" type="text/javascript"></script>
		<script src="js/cats.tbl.js" type="text/javascript"></script>
		<script src="js/event.object.js" type="text/javascript"></script>
		<script src="js/events.tbl.js" type="text/javascript"></script>
		<script src="js/filter.object.js" type="text/javascript"></script>
		<script src="js/filters.tbl.js" type="text/javascript"></script>
		<script src="js/gui.tpl.js" type="text/javascript"></script>
		<script src="js/lang.js" type="text/javascript"></script>
		<script src="js/main.js" type="text/javascript"></script>
		<script src="js/rrule.js" type="text/javascript"></script>
		<script src="js/settings.js" type="text/javascript"></script>
		<script src="js/signals.js" type="text/javascript"></script>
		<script src="js/slots.js" type="text/javascript"></script>
		<script src="js/tab.cal.js" type="text/javascript"></script>
		<script src="js/tab.cat.js" type="text/javascript"></script>
		<script src="js/tab.catmanage.js" type="text/javascript"></script>
		<script src="js/tab.cateditor.js" type="text/javascript"></script>
		<script src="js/tab.colors.js" type="text/javascript"></script>
		<script src="js/tab.dialer.js" type="text/javascript"></script>
		<script src="js/tab.event.js" type="text/javascript"></script>
		<script src="js/tab.import.js" type="text/javascript"></script>
		<script src="js/tab.export.js" type="text/javascript"></script>
		<script src="js/tab.main.js" type="text/javascript"></script>
		<script src="js/tab.month.js" type="text/javascript"></script>
		<script src="js/tab.filter.js" type="text/javascript"></script>
		<script src="js/tab.filterdelete.js" type="text/javascript"></script>
		<script src="js/tab.repeat.js" type="text/javascript"></script>
