			<!-- TAB MAIN -->
			<div id="tab_main" class="tab fixed">
				<div class="header">
					<div class="absright">
						<span class="rounded menu icon_clock_fast" id="main_goto_letter"></span>
						<span class="rounded menu icon_plus" id="main_add_contact"></span>
						<span class="rounded menu icon_menu" id="button_settings_open"></span>
					</div>
					<div class="absleft">
						<p id="button_log_open">
						<span id="contacts_number">Contacts</span> : <span id="counter">0</span>
						</p>
					</div>
				</div>	
				<div class="footer">			
					<div class="absright">
						<span class="rounded menu icon_upload" id="button_import_open"></span>
						<span class="rounded menu icon_download" id="button_export_open"></span>
					</div>
				</div>
				<div id="research">
					<input type="text" name="kws" id="kws" placeholder="?" />
					<button type="button" id="clear_kws">&#9003;</button>
				</div>
				<div class="body overflow with_footer" style="top:91px">
					<div id="contacts"></div>
				</div>
			</div>
			<!-- TAB IMPORT -->
			<div id="tab_import" class="tab fixed">
				<div class="header">
					<div class="absleft">
						<span class="rounded menu icon_backward" id="button_import_close"></span>
					</div>
					<p id="label_import">Import</p>
				</div>
				<div class="body overflow">
					<br/>									
					<div id="uploader1" class="uploader c">
						<p id="label_import_help1">Drag/drop your backup file here</p>	
					</div>					
					<br/>
					<p><span id="label_import_help2">or download it manually</span> :</p>
					<div style="margin-top:20px">
						<input type="file" name="import_file" id="import_file"/>
					</div>
				</div>
			</div>				
			<!-- TAB EXPORT -->
			<div id="tab_export" class="tab fixed">
				<div class="header">
					<div class="absleft">
						<span class="rounded menu icon_backward" id="button_export_close"></span>
					</div>
					<p id="label_export">Export</p>
				</div>
				<div class="body overflow">
					<div class="c" style="margin-top:20px">
						<p><span id="label_export_calendar">Export your contacts</span> :</p>
						<p><span class="rounded" id="button_export_as_json">as JSON</span></p>
						<!-- p><span class="rounded" id="button_export_as_xml">as XML</span></p -->
					</div>
				</div>
			</div>				
			<!-- TAB GOTO LETTER -->
			<div id="tab_goto_letter" class="tab fixed">
				<div class="header">
					<p><span id="label_go_to_letter">Go to</span> ?</p>
				</div>
				<div class="body overflow with_padding">
					<ul class="horiz dialer auto li20p" id="ul_letters_abrv">
						<li data-value="">...</li>
					</ul>
				</div>
			</div>
			<!-- TAB RESUME -->
			<div id="tab_resume" class="tab fixed">
				<div class="header">
					<div class="absleft">
						<span class="rounded menu icon_backward" id="button_resume_backward"></span>
					</div>
					<div class="absright">
						<span class="rounded menu icon_edit" id="button_contact_edit"></span>
					</div>
					<p><span id="contact_title"></span></p>
				</div>
				<div class="body overflow with_padding">
					<input type="hidden" name="contact_uid" id="contact_uid" value="" />
					<div id="contact_resume"></div>
					<ul>
						<li id="button_toggle_favorite"></li>
						<li id="button_delete_contact"></li>
					</ul>
				</div>
			</div>
			<!-- TAB EDIT -->
			<div id="tab_edit" class="tab fixed">
				<div class="header">
					<div class="absleft">
						<span class="rounded menu icon_backward" id="button_edit_backward"></span>
					</div>
					<div class="absright">
						<span class="rounded menu icon_db_plus" id="button_edit_rec"></span>
					</div>
				</div>
				<div class="body overflow with_padding">
					<div>
						<form id="form1" onsubmit="return false;" class="datarow" autocomplete="off">
							
							<div id="contact_edit">
								<div class="fieldset fieldset_cont">
									<table class="editor">
										<tbody>
											<tr class="tr_cont_name">
												<td></td>
												<td>
													<input type="text" name="cont[name]" value="" id="cont_name" placeholder="name (String[])"/>
												</td>
											</tr>
											<tr class="tr_cont_honorificPrefix">
												<td>			
													<button class="selector selector_cont_honorificPrefix" data-target="cont_honorificPrefix">☰</button>
												</td>
												<td>
													<input type="text" name="cont[honorificPrefix]" value="" id="cont_honorificPrefix" placeholder="honorificPrefix (String[])"/>
												</td>
											</tr>
											<tr class="tr_cont_givenName">
												<td></td>
												<td>
													<input type="text" name="cont[givenName]" value="" id="cont_givenName" placeholder="givenName (String[])"/>
												</td>
											</tr>
											<tr class="tr_cont_additionalName">
												<td></td>
												<td>
													<input type="text" name="cont[additionalName]" value="" id="cont_additionalName" placeholder="additionalName (String[])" />
												</td>
											</tr>
											<tr class="tr_cont_familyName">
												<td></td>
												<td>
													<input type="text" name="cont[familyName]" value="" id="cont_familyName" placeholder="familyName (String[])"/>
												</td>
											</tr>
											<tr class="tr_cont_honorificSuffix">
												<td>
													<button class="selector selector_cont_honorificSuffix" data-target="cont_honorificSuffix">☰</button>
												</td>
												<td>
													<input type="text" name="cont[honorificSuffix]" value="" id="cont_honorificSuffix" placeholder="honorificSuffix (String[])"/>
												</td>
											</tr>
											<tr class="tr_cont_nickname">
												<td></td>
												<td>
													<input type="text" name="cont[nickname]" value="" id="cont_nickname" placeholder="nickname (String[])"/>
												</td>
											</tr>
											<tr class="tr_cont_sex">
												<td>			
													<button class="selector selector_cont_sex" data-target="cont_sex">☰</button>
												</td>
												<td>
													<input type="text" name="cont[sex]" value="" id="cont_sex" placeholder="sex (String)"/>
												</td>
											</tr>
											<tr class="tr_cont_genderIdentity">
												<td>			
													<button class="selector selector_cont_genderIdentity" data-target="cont_genderIdentity">☰</button>
												</td>
												<td>
													<input type="text" name="cont[genderIdentity]" value="" id="cont_genderIdentity" placeholder="genderIdentity (String)"/>
												</td>
											</tr>
											<tr class="tr_cont_category">
												<td>
													<button class="selector selector_cont_category" data-target="cont_category">☰</button>
												</td>
												<td data-nboptions="1,3">
													<input type="text" name="cont[category]" value="" id="cont_category" placeholder="category (String[])"/>
												</td>
											</tr>
											<tr class="tr_cont_org">
												<td>
													<button class="selector selector_cont_org" data-target="cont_org">☰</button>
												</td>
												<td>
													<input type="text" name="cont[org]" value="" id="cont_org" placeholder="org (String[])"/>
												</td>
											</tr>
											<tr class="tr_cont_jobTitle">
												<td>
													<button class="selector selector_cont_jobTitle" data-target="cont_jobTitle">☰</button>
												</td>
												<td>
													<input type="text" name="cont[jobTitle]" value="" id="cont_jobTitle" placeholder="jobTitle (String[])"/>
												</td>
											</tr>
											<tr class="tr_cont_bday">
												<td></td>
												<td>
													<input type="text" name="cont[bday]" value="" id="cont_bday" placeholder="bday (YYYY-MM-DD)"/>
												</td>
											</tr>
											<tr class="tr_cont_anniversary">
												<td></td>
												<td>
													<input type="text" name="cont[anniversary]" value="" id="cont_anniversary" placeholder="anniversary (YYYY-MM-DD)"/>
												</td>
											</tr>
											<tr class="tr_cont_note">
												<td></td>
												<td>
													<textarea rows="3" name="cont[note]" id="cont_note" placeholder="note (String[])"></textarea>
												</td>
											</tr>
											<tr class="tr_cont_key">
												<td></td>
												<td>
													<textarea rows="3" name="cont[key]" id="cont_key" placeholder="key (String[])"></textarea>
												</td>
											</tr>
											<!-- tr>
												<td></td>
												<td>
													<p>
													<button type="button" class="part_submit" data-part="cont">Add/Update</button>
													<button type="button" class="part_reset" data-part="cont">Reset</button>
													</p>
												</td>
											</tr -->
										</tbody>
									</table>
								</div>
								<div class="fieldset fieldset_adr">
									<h3 id="label_edit_adr">Adresses</h3>
									<input type="hidden" name="adr[uid]" value="" id="adr_uid"/>
									<table class="editor">
										<tbody id="adr_list">
											<tr class="tr_adr_type">
												<td>
													<button class="selector selector_adr_type" data-target="adr_type">☰</button>
												</td>
												<td>
													<input type="text" name="adr[type]" value="" id="adr_type" placeholder="type: (String) [home, work, ...]"/>
												</td>
											</tr>
											<tr class="tr_adr_streetAddress">
												<td></td>
												<td>
													<input type="text" name="adr[streetAddress]" value="" id="adr_streetAddress" placeholder="streetAddress (String)"/>
												</td>
											</tr>
											<tr class="tr_adr_postalCode">
												<td></td>
												<td>
													<input type="text" name="postalCode" value="" id="adr_postalCode" placeholder="postalCode (String)"/>
												</td>
											</tr>
											<tr class="tr_adr_locality">
												<td></td>
												<td>
													<input type="text" name="adr[locality]" value="" id="adr_locality" placeholder="locality (String)"/>
												</td>
											</tr>
											<tr class="tr_adr_region">
												<td></td>
												<td>
													<input type="text" name="adr[region]" value="" id="adr_region" placeholder="region (String)"/>
												</td>
											</tr>
											<tr class="tr_adr_countryName">
												<td></td>
												<td>
													<input type="text" name="countryName" value="" id="adr_countryName" placeholder="countryName (String)"/>
												</td>
											</tr>
											<tr>
												<td></td>
												<td>
													<p>
													<button type="button" class="part_submit" data-part="adr">Add/Update</button>
													<button type="button" class="part_reset" data-part="adr">Reset</button>
													</p>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="fieldset fieldset_email">
									<h3 id="label_edit_email">Emails</h3>
									<input type="hidden" name="email[uid]" value="" id="email_uid"/>
									<table class="editor">
										<tbody id="email_list">
											<tr class="tr_email_type">
												<td>
													<button class="selector selector_email_type" data-target="email_type">☰</button>
												</td>
												<td>
													<input type="text" name="email[type]" value="" id="email_type" placeholder="type: (String[]) [home, work, ...]"/>
												</td>
											</tr>
											<tr class="tr_email_value">
												<td></td>
												<td>
													<input type="text" name="email[value]" value="" id="email_value" placeholder="value (String)"/>
												</td>
											</tr>
											<tr>
												<td></td>
												<td>
													<p>
													<button type="button" class="part_submit" data-part="email">Add/Update</button>
													<button type="button" class="part_reset" data-part="email">Reset</button>
													</p>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="fieldset fieldset_tel">
									<h3 id="label_edit_phone">Phones</h3>
									<input type="hidden" name="tel[uid]" value="" id="tel_uid"/>
									<table class="editor">
										<tbody id="tel_list">
											<tr class="tr_tel_type">
												<td>
													<button class="selector selector_tel_type" data-target="tel_type">☰</button>
												</td>
												<td>
													<input type="text" name="tel[type]" value="" id="tel_type" placeholder="type: (String[]) [home, work, ...]"/>
												</td>
											</tr>
											<tr class="tr_tel_value">
												<td></td>
												<td>
													<input type="text" name="tel[value]" value="" id="tel_value" placeholder="value (String)"/>
												</td>
											</tr>
											<tr class="tr_tel_carrier">
												<td></td>
												<td>
													<input type="text" name="tel[carrier]" value="" id="tel_carrier" placeholder="carrier (String)"/>
												</td>
											</tr>
											<tr>
												<td></td>
												<td>
													<p>
													<button type="button" class="part_submit" data-part="tel">Add/Update</button>
													<button type="button" class="part_reset" data-part="tel">Reset</button>
													</p>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="fieldset fieldset_url field">
									<h3 id="label_edit_url">URLs</h3>
									<input type="hidden" name="url[uid]" value="" id="url_uid"/>
									<table class="editor">
										<tbody id="url_list">
											<tr class="tr_url_type">
												<td>
													<button class="selector selector_url_type" data-target="url_type">☰</button>
												</td>
												<td>
													<input type="text" name="url[type]" value="" id="url_type" placeholder="type: (String[]) [home, work, ...]"/>
												</td>
											</tr>
											<tr class="tr_url_value">
												<td></td>
												<td>
													<input type="text" name="url[value]" value="" id="url_value" placeholder="value (String)"/>
												</td>
											</tr>
											<tr>
												<td></td>
												<td>
													<p>
													<button type="button" class="part_submit" data-part="url">Add/Update</button>
													<button type="button" class="part_reset" data-part="url">Reset</button>
													</p>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="fieldset fieldset_impp field">
									<h3 id="label_edit_impp">IMPP</h3>
									<input type="hidden" name="impp[uid]" value="" id="impp_uid"/>
									<table class="editor">
										<tbody id="impp_list">
											<tr class="tr_impp_type">
												<td>
													<button class="selector selector_impp_type" data-target="impp_type">☰</button>
												</td>
												<td>
													<input type="text" name="impp[type]" value="" id="impp_type" placeholder="type: (String[]) [home, work, ...]"/>
												</td>
											</tr>
											<tr class="tr_impp_value">
												<td></td>
												<td>
													<input type="text" name="impp[value]" value="" id="impp_value" placeholder="value (String)"/>
												</td>
											</tr>
											<tr>
												<td></td>
												<td>
													<p>
													<button type="button" class="part_submit" data-part="impp">Add/Update</button>
													<button type="button" class="part_reset" data-part="impp">Reset</button>
													</p>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="fieldset">
								<h3 id="label_edit_photo">Photos</h3>
								<div id="photos">
									<div id="uploader2" class="uploader">Drag and drop your jpeg photos here !</div>
									<p class="c" id="label_import_pict">or download them manually :</p>
									<div style="margin-top:20px">
										<input type="file" name="import_pict" value="" id="import_pict" multiple="multiple" />
									</div>
									<div id="photos_list"></div>
								</div>
							</div>
							<div class="fieldset">
								<h3 id="label_edit_info">Infos</h3>
								<p>
								<span id="label_edit_info_id">ID</span> : <span id="cont_uid"></span><br/>
								<span id="label_edit_info_published">published</span> : <span id="cont_published"></span><br/>
								<span id="label_edit_info_updated">updated</span> : <span id="cont_updated"></span>
								</p>
							</div>
							<div class="fieldset">
								<h3 id="label_edit_help">Help</h3>
								<p>
								<span id="edit_help1">- use comma as separator in the text fields -</span><br/>
								<span id="edit_help2">- use --- (3 chars) as separator in the textarea fields -</span><br/>
								</p>
							</div>
						</form>						
					</div>
				</div>
			</div>
