		<link rel="stylesheet" href="css/module.css" type="text/css" />
		<script src="js/contact.editor.js" type="text/javascript"></script>
		<script src="js/contact.object.js" type="text/javascript"></script>
		<script src="js/contacts.list.js" type="text/javascript"></script>
		<script src="js/contacts.tbl.js" type="text/javascript"></script>
		<script src="js/gui.tpl.js" type="text/javascript"></script>
		<script src="js/lang.js" type="text/javascript"></script>
		<script src="js/main.js" type="text/javascript"></script>
		<script src="js/settings.js" type="text/javascript"></script>
		<script src="js/settings.tpl.fields.js" type="text/javascript"></script>
		<script src="js/settings.tpl.sortby.js" type="text/javascript"></script>
		<script src="js/signals.js" type="text/javascript"></script>
		<script src="js/slots.js" type="text/javascript"></script>
		<script src="js/tab.edit.js" type="text/javascript"></script>
		<script src="js/tab.import.js" type="text/javascript"></script>
		<script src="js/tab.export.js" type="text/javascript"></script>
		<script src="js/tab.goto.letter.js" type="text/javascript"></script>
		<script src="js/tab.main.js" type="text/javascript"></script>
		<script src="js/tab.resume.js" type="text/javascript"></script>
