			<!-- TAB MAIN -->
			<div id="tab_main" class="tab fixed">
				<div class="header">
					<div class="absright">
						<span class="rounded menu icon_menu" id="button_settings_open"></span>
					</div>
					<div class="absleft">
						<p id="button_log_open">
						<span class="manifest" data-key="title">Title</span>
						</p>
					</div>
				</div>
				<div class="body overflow">
					<p><span id="label_operator_name">Operator name</span> :  <span id="value_operator_name"></span></p>
					<p><span id="label_operator_id">Operator ID</span> :  <span id="value_operator_id"></span></p>
					<p><span id="label_imsi">IMSI</span> :  <span id="value_imsi"></span></p>
					<p><span id="label_sim_identifier">SIM identifier</span> :  <span id="value_identifier"></span></p>
					<br/>
					<h2 id="label_actions">Action ?</h2>
					<br/>
					<div class="with_padding">
						<ul class="radio" id="actions">
							<li data-value="send_pin">Send PIN</li>
							<li data-value="change_pin">Change PIN</li>
							<li data-value="unlock">Unlock device with PUK + new PIN</li>
							<li data-value="enable_pin_checking">Enable PIN checking</li>
							<li data-value="disable_pin_checking">Disable PIN checking</li>
						</ul>
						<h2 id="label_actions">Datas ?</h2>
						<div class="entries">
							<input type="text" name="pin" id="pin" placeholder="Current pin ?"/>
							<input type="text" name="puk" id="puk" placeholder="Puk ?"  disabled="disabled"/>
							<input type="text" name="newpin" id="newpin" placeholder="New pin ?"/>
						</div>
						<hr/>
						<button type="button" id="button_submit">
							<span name="button_submit" id="label_button_submit">Send</span>
						</button>
					</div>
				</div>
			</div>

