/* thx to http://www.colorzilla.com/gradient-editor/ */

* {
	box-sizing: border-box;
	font-family:arial;
}

body {
	margin:0;
	padding:0;
}

a:link, a:active, a:visited, a:hover {
	text-decoration:none;
	color: #666;
}

h3 {
	color:#06a0f0;
	margin:0;
	padding:20px 5px;
}

p {
	margin:5px 0;
}

table {
 border-collapse:collapse;
}

input, textarea, button {
	font-family:arial;
	padding:3px 5px;
	font-size:1rem;
}
textarea {
	min-height:150px;
}
button {
	height:32px;
	cursor:pointer;
}

span.rounded, div.rounded span {
	display:inline-block;
	min-width:32px;
	min-width:50px;
	min-height:38px;
	margin:5px 2px;
	border:2px solid #ccc;
	border-radius:16px;
	padding:0 10px;
	line-height:32px;
	background-color:#fff;		
	padding-top: 3px;
}
span.menu {
	width:48px;
	height:38px;
	vertical-align:middle;
	background-color:#fff;
	background-repeat: no-repeat;
	background-position: center;		
}
span.rounded.selected, div.rounded span.selected {
	background-color:#ffd700;		
}
.italic, .i {
	font-style:italic;
}
.underline, .u {
	text-decoration:underline;
}
.bold, .b {
	font-weight:bold;
}
.center, .c {
	text-align:center;
}
.auto {
	margin:0 auto;
}
.pointer {
	cursor:pointer;
}

/* TABS Z-INDEX */

#tab_main {
	z-index:+1;
}
#tab_settings {
	z-index:+2;
}
#tab_log {
	z-index:+10;
}
#tab_spinner_bg {
	background:#aaa;
	opacity:0.5;
	z-index:+11;
}
#tab_spinner {
	background:transparent;
	opacity:1;
	z-index:+12;
}
#spinner_welcome {
	padding:5px 10px;
	border:2px solid #555;
	border-radius:10px;
	width:120px;
	color:#eee;
	margin:0 auto;
	background: linear-gradient(to bottom, #adadad 0%,#6b6b6b 100%);
}

/* TABS SKELETON */

.fixed {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	padding:0;
	background:#ccc;
	text-align:center;
}
.header, .footer {
	position:absolute;
	left:0;
	right:0;
	height:50px;
	background:linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
	background-size:100% 50px;	
}
.header {
	top:0;
}
.footer {
	bottom:0;
}
.header p, .footer p {
	display:inline-block;
	vertical-align: middle;
	margin:0;
	font-size:22px;
	text-align:center;
	font-weight:bold;
	color:white;
	line-height:50px;
}
.body {
	position:absolute;
	top:50px;
	left:0;
	right:0;
	background: #EEE;
	bottom:0;
}
.overflow {
	overflow:auto;
}
.nooverflow {
	overflow:hidden;
}
.overflow button {
	min-width:32px;
}
.with_padding {
	padding:10px;
}
.with_footer {
	bottom:50px;
}
div.tab.fixed {
	display:none;
}

/* MENUS */

div.absright {
	position:absolute;
	right:5px;
}

div.absleft {
	position:absolute;
	left:5px;
}

/* LOG */

#tab_log_events {
	background:#eee;
	text-align:justify;
	padding:3px 10px;
	font-size:12px;
}
.log_info {
	color:darkgreen;
}
.log_warn {
	color:orange;
}
.log_error {
	color:darkred;
}

/* SPINNER */

.spinner_circle {
  width:80px;
  height:80px;
  border-radius:60px;
  box-sizing:border-box;
  border:10px solid rgba(255, 255, 255, 0.2);
  border-top-color:#FFF;
	padding:0;
	margin:0;
  animation:spinner 2s infinite linear;
}
.spinner_container {
	margin-top:50px;
	position:relative;
	display:inline-block;
	width:80px;
	height:80px;
}
@keyframes spinner {
	from { transform:rotate(0deg); }
	to { transform:rotate(360deg); }
}

/* TAB SETTINGS */
img.manifest {
	width: 128px;
	height: 128px;
}

/* ICONS FOR MENUS */

span.icon {
	display: inline-block;
}

span.icon:hover {
	cursor:pointer;
}

.icon_backward {
	background:#fff url('backward.png') no-repeat center center;
}
.icon_clock_fast {
	background:#fff url('clock-fast.png') no-repeat center center;
}
.icon_close {
	background:#fff url('close.png') no-repeat center center;
}
.icon_database {
	background:#fff url('database.png') no-repeat center center;
}
.icon_db_plus {
	background:#fff url('database-plus.png') no-repeat center center;
}
.icon_db_minus {
	background:#fff url('database-minus.png') no-repeat center center;
}
.icon_delete {
	background:#fff url('delete.png') no-repeat center center;
}
.icon_download {
	background:#fff url('download.png') no-repeat center center;
}
.icon_edit {
	background:#fff url('edit.png') no-repeat center center;
}
.icon_filter_outline {
	background:#fff url('filter-outline.png') no-repeat center center;
}
.icon_filter_reset {
	background:#fff url('filter-remove-outline.png') no-repeat center center;
}
.icon_forward {
	background:#fff url('forward.png') no-repeat center center;
}
.icon_menu {
	background:#fff url('menu.png') no-repeat center center;
}
.icon_next {
	background:#fff url('next.png') no-repeat center center;
}
.icon_paste {
	background:#fff url('content-paste.png') no-repeat center center;
}
.icon_plus {
	background:#fff url('plus.png') no-repeat center center;
}
.icon_prev {
	background:#fff url('prev.png') no-repeat center center;
}
.icon_timetable {
	background:#fff url('timetable.png') no-repeat center center;
}
.icon_upload {
	background:#fff url('upload.png') no-repeat center center;
}

/* TAB SELECTOR */

#research {
	position:absolute;
	top:50px;
	left:0;
	right:0;
	overflow: hidden;
	height:40px;
	z-index:+1;
}
#selector_kws {
	border:0;
	margin:0;
	height:40px;
	line-height:20px;
	width:100%;
	font-size:26px;
	background: linear-gradient(to bottom, rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%);
	border-radius: 0;
}
#selector_clear_kws {
	border:0;
	margin:0;
	padding:0;
	position:absolute;
	right:5px;
	top:4px;
	font-size:20px;
	background: transparent;
}
#tab_selector ul {
	padding:0;
	list-style-type:none;
	line-height:32px;
	text-align:center;
	display:block;
	margin:3px auto;
}
#tab_selector ul li {
	display:inline-block;
}