/* thx to 
 * - http://www.colorzilla.com/gradient-editor/ for gradient tool ! 
 * - material design for most icons
*/

/* TABS Z-INDEX */

/* TAB MAIN */

#actions li {
	text-align: center;    
	cursor: pointer;
    display: block;
    width: 100%;
}

#entries input {
	display: block;
	width: 100%;
	margin: 10px;
}

#button_submit {
	display: block;
	width: 100%;
}


/* MULTIPLE TABS */

h1, h2, h3, h4 {
    padding:10px;
    border-bottom: 1px solid #00adad;
    text-align:left;
	color:#00adad;
	margin-bottom:10px;
}

/* TAB MAIN */

#tab_main ul {
    margin:0;
    padding:0;
    list-style-type:none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
}
#tab_main li {
    background: linear-gradient(to bottom, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%);
    border: 1px solid black;
    margin: 2px 0;
    text-align: left;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    flex: auto;
}
#tab_main li.selected {
    background: linear-gradient(to bottom, rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%);
}

/* TABS EDIT & SETTINGS */

input[type="text"], textarea {
    width:100%;
    background:#eee;
    border-radius:5px;
    border:1px solid #ddd;
    font-weight:bold;
    appearance: none;
    font-size: initial;
    padding: 8px;
    margin: 2px 0;
}
input:hover, textarea:hover {
    background: #f1e767; /* Old browsers */
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%); /* W3C */

}
input:focus, textarea:focus {
    border:1px solid #aaa;
}

.icon_recall {
	background-image:url('../icons/recall.svg');
	opacity: 0.5;
}

/* remove border on focus */

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
