/* thx to http://www.colorzilla.com/gradient-editor/ for gradient tool ! */

/* TABS Z-INDEX */

#tab_goto_letter, #tab_resume {
	z-index:+2;
}
#tab_edit, #tab_filter, #tab_import, #tab_export {
	z-index:+3;
}
#tab_selector, #tab_filter_delete {
	z-index:+4;
}

/* TAB MAIN */

#contacts {
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	top:0;
	overflow: auto;
	background:#EEE;
}
#research {
	position:absolute;
	top:50px;
	left:0;
	right:0;
	overflow: hidden;
	height:40px;
	z-index:+1;
}
#kws {
	border:0;
	margin:0;
	height:40px;
	line-height:20px;
	width:100%;
	font-size:26px;
	background: linear-gradient(to bottom, rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%);
	border-radius: 0;
}
#clear_kws {
	border:0;
	margin:0;
	padding:0;
	position:absolute;
	right:5px;
	top:4px;
	font-size:20px;
	background: transparent;
}

.contact {
	cursor:pointer;
	margin:0px 10px;
	border:1px solid transparent;
	padding:0 10px;
}
.contact:hover {
	border:1px solid orange;
	background: linear-gradient(to bottom, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%);
}
.dual, .single {
	height:50px;
	border-bottom:1px solid #ddd;
	text-align: left;
}
.single {
	padding-top:12px;
}
.dual:last-child, .single:last-child {
	border-bottom:1px solid transparent;
}
.contact:hover:last-child {
	border-bottom:1px solid orange;
}

.datarow {
	text-align: left;
	border-bottom:1px solid #DDD;
	font-size:16px;
	margin:0;
}


/* PHOTOS */

.photo {
	margin:0 auto;
	padding:10px;
	background:#fff;
	max-width:100%;
}

/* TAB EDIT */

table.editor {
	width: 100%;
}
table.editor tbody tr td:first-child {
	width:40px;
}
ul {
	padding:0;
}

#photos {
	background:#ccc;
	padding:10px 10px;
	border-radius:5px;
}
#photos_list > div {
	display: inline-block;
	padding:10px;
	border: 1px dashed #aaa;
	border-radius:5px;
	margin: 10px 10px 0 0;
	text-align:center
}
#photos_list img {
	max-width:100%;
}

#uploader2 {
	background:#999;
	color:white;
	padding:10px;
	border-radius:5px;
}

.changed {
	color:red;
}

/* TAB SETTINGS */

#activated_fields {
	text-align:left;
	margin:0 10px;
	width:auto;
}
#activated_fields li {
	vertical-align: middle;
	border:1px solid black;
	border-radius: 5px;
	padding:10px;
	margin: 2px 0;
}

#sort_by {
	width:100%;
}

/* TAB IMPORT */

#uploader1 {
	width:200px;
	border:2px solid #ccc;
	border-radius: 10px;
	margin:10px auto;
	text-align:center;
	background: linear-gradient(to bottom, rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%);
}

#label_import_help1 {
	font-size:20px;
	line-height: 25px;
	padding:40px 10px;
}

/* TAB RESUME */

.part_resume {
	margin-bottom:20px;
}

button.tel {
	width:69%;
}
button.sms {
	width:29%;
}
button.email {
	width:98%;
}
#button_toggle_favorite, #button_delete_contact {
	flex:none;
	display:block;
	width:100%;
	background:orange;
	padding:10px;
	border-radius:5px;
}
#button_delete_contact {
	margin-top:50px;
	background: linear-gradient(to bottom, rgba(204,0,0,1) 0%,rgba(204,0,0,1) 100%);
	color:white;
	padding:10px;
	border-radius: 5px;
}

/* TAB GOTO LETTER */

#tab_goto_letter ul.li20p > li {
	width:20%;
}

/* MULTIPLE TABS */

h1, h2, h3, h4 {
	padding:10px;
	border-bottom: 1px solid darkorange;
	text-align:left;
	color:darkorange;
}

#tab_goto_letter ul, #tab_settings ul {
	margin:0;
	padding:0;
	list-style-type:none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: stretch;
	justify-content: flex-start;
}
#tab_goto_letter li, #tab_settings li {
	background: linear-gradient(to bottom, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%);	
	border: 1px solid black;
	margin: 2px 0;
	text-align: left;
	display: inline-block;
	padding: 10px;
	border-radius: 5px;
	flex: auto;
}
#tab_settings li.selected {
	background: linear-gradient(to bottom, rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%);
}

/* addchild */



.familyName {
	font-weight:bold;
	text-transform: capitalize;
}

.invisible {
	visibility: hidden;
	width: 0;
	height: 0;
	position: absolute;
}

/* TABS EDIT & SETTINGS */

input[type="text"], textarea {
	width:100%;
	background:#eee;
	border-radius:5px;
	border:1px solid #ddd;
	font-weight:bold;
	appearance: none;
	font-size: initial;
	padding: 8px;
	margin: 2px 0;
}
input:hover, textarea:hover {
	background: #f1e767; /* Old browsers */
	background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%); /* W3C */
	
}
input:focus, textarea:focus {
	border:1px solid #aaa;
}

/* OVERRIDE DEFAULT interface.css */

button {
	min-height:32px;
	height:auto;
}
