* {
    box-sizing: border-box;
}

body {
	font-family:arial;
	font-size:12px;
	color:white;
	padding:10px;
	background: linear-gradient(to right, #45484d 0%,#000000 100%);
}

#container {
	max-width:600px;
	margin:0 auto;
}

a:hover, a:visited, a:link, a:active, a:focus {
	text-decoration: none;
	outline: 0;
	outline-style:none;
	outline-width:0;
}
.center {
	text-align: center;
}
.white {
	color: white;
}
.socket {
	padding: 10px;
	border: 1px solid white;		
}
.programs a {
	font-size:13px;
	font-weight:bold;
	color:black;
	display:inline-block;
	margin:3px;
	padding:0;
	border:1px solid black;
	background: linear-gradient(to bottom, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
	text-align:center;
	border-radius:5px;
	border:3px solid #ddd;
	width:47%;
	height:50px;
	vertical-align:middle;
	display:inline-table;
}

.programs a p {
	display:table-cell;
	vertical-align:middle;
	height:50px;
}
.programs a p:first-child {
	width:50%;
	text-align:right;
	padding-right:10px;
}
.programs a p:last-child {
	text-align:left;
}
body > p {
	text-align:justify;
}

p {
	margin:10px 0;
}

.bigicon {
	width:50px;
	max-height:50px;
}

.programs {
	width:auto;
	margin:0 auto;
	text-align:center;
}

div.iframe {
	position: absolute;
	top: 30px;
	bottom: 30px;
	left: 0;
	right: 0;
	overflow-x: scroll;
	scrollbar-width:  none;
}
iframe:nth-child(1) {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-x:  hidden;
	overflow-y: scroll;
}
iframe:nth-child(2) {
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	overflow-x:  hidden;
	overflow-y: scroll;
}
iframe:nth-child(3) {
	position: absolute;
	top: 0;
	left: 200%;
	width: 100%;
	height: 100%;
	overflow-x:  hidden;
	overflow-y: scroll;
}
