/* TABS Z-INDEX */

#tab_goto_month, #tab_edit_event {
	z-index:+2;
}
#tab_event_start_hour, #tab_event_start_minute, #tab_event_duration_hour, #tab_event_duration_minute, #tab_filter, #tab_import, #tab_export {
	z-index:+3;
}
#tab_repeat, #tab_cat, #tab_filter_delete {
	z-index:+4;
}
#tab_cat_manage {
	z-index:+5;
}
#tab_cat_editor {
	z-index:+6;
}
#tab_colors {
	z-index:+7;
}

/* TAB IMPORT */

#uploader1 {
	width:200px;
	border:2px solid #ccc;
	border-radius: 10px;
	margin:10px auto;
	text-align:center;
	background: linear-gradient(to bottom, rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%);
}

#label_import_help1 {
	font-size:20px;
	line-height: 25px;
	padding:40px 10px;
}

/* DIALERS USED IN MANY TABS */

ul.horiz, ul.vert {
	margin:0;
	padding:0;
	list-style-type:none;
	line-height:32px;
	text-align:center;
}
ul.horiz {
	display:block;
	margin:3px auto;
}
ul.horiz li {
	margin:2% 4%;
	display:inline-block;
	/*width:20%;*/
}
ul.dialer li {
	background:white;
	color:black;
	border:2px solid #ccc;
	border-radius:16px;
	background-color:#fff;
}
ul.dialer:after {
	clear:both;
}
ul.li20p > li {
	width:20%;
}

/* TAB MAIN */

h3.month + div.day {
	border-top:1px solid #ccc;
}
div.event {
	margin:0 0 0 24px;
	padding:3px 5px;
	border-top:1px solid #ccc;
	border-radius:3px;
	overflow:auto;
}
div.day {
	padding:3px 0 0 5px;
	border-bottom:1px solid #ccc;
	overflow:hidden;
	word-wrap:break-word;
	min-height:50px;
}
div.day:nth-child(odd):not(.today):not(.sunday):not(:first-child) {
	background:#ddd;
}
div.sunday {
	color:white;
	background:linear-gradient(to right, #054984 0%,#8abbd7 69%,#c5deea 100%);
}
div.today {
	background:linear-gradient(to right, #f1da36 0%,#fefcea 100%);
	color:black;
}
p.infos {
	margin-top:0;
	float:right;
}
#cal {
	background:#eee;
	padding:0 10px;
	overflow:auto;
	text-align:justify;
}
#input_keywords_filter, #input_keywords_filter2 {
	max-width:120px;
}
.filtered {
	display:none;
}

/* TAB COLORS */

#div_all_colors {
	display:inline-block;
	font-size:10px;
	margin:0 auto;
}
#div_all_colors div {
	display:inline-block;
	width:60px;
	height:60px;
	border:3px solid transparent;
}
#div_all_colors div.selected {
	border:3px inset red;
}

/* TAB CATEGORY EDITOR */

#cat_editor_circle_black {
	position:relative;
	width:250px;
	height:250px;
	background-image:url('cb.png');
	background-repeat:no-repeat;
	margin:0 auto;
}
#cat_editor_circle_angle {
	position:absolute;
	left:200px;
	top:119px;
	width:100px;
	margin-left:-50%;
	text-align:center;
	font-size:12px;
	color:white;
	line-height:12px;
	vertical-align:middle;
}
#cat_editor_circle_white {
	position:absolute;
	left:150px;
	top:80px;
	width:88px;
	height:88px;
	background-image:url('cw.png');
	background-repeat:no-repeat;
	z-index:+1;
}
#cat_editor_div_name {
	position:absolute;
	left:0;
	right:0;
	height:50px;
	top:54px;
	padding:3px;
	z-index:+1;
}
#cat_editor_name {
	width:10em;
	height:40px;
	margin:0 auto;
}
.inline_top {
	display:inline-block;
	vertical-align:top;
}
#cat_editor_bg_type_radio {
	margin:0 20px;
}

/* TAB CAT */

#div_event_cat_radio div, #cat_manage_radio div {
	line-height:50px;
	margin:2px 2px;
	border:2px solid #ccc;
	border-radius:10px;
	display:inline-block;
	padding:0 20px;
	min-width:100px;
}
#div_event_cat_radio div.selected, #cat_manage_radio div.selected {
	border:2px solid #666;
}

/* TAB REPEAT */

.w100p {
	width:100%;
}

/* TAB EDIT EVENT */

.w90p {
	width:90%;
}

/* TAB REPEAT */

div.vert span {
	display: block;
	margin:10px;
}

/* TAB EVENT DURATION HOUR */

button.ok {
	height:auto;
}


