			<!-- TAB MAIN -->
			<div id="tab_main" class="tab">
				<div class="header">
					<div class="absleft">
						<p id="button_log_open"><span class="manifest" data-key="title">Title</span></p>
					</div>
					<div class="absright">
						<span class="rounded menu icon_menu" id="button_settings_open"></span>
					</div>
				</div>
				<div class="body overflow with_padding center">
					<div class="pref">
						<label id="label_default_locale">Locale ?</label>
						<div class="rounded" data-cat="default" data-key="locale" data-type="select" data-nboptions="1,1" data-options="locales">
							<span data-value=""></span>
							<ul id="locales" style="display: none;">
								<li><span data-value="af-ZA">Afrikaans / Afrikaans</span></li>
								<li><span data-value="ar">العربية / Arabic</span></li>
								<li><span data-value="bg-BG">Български / Bulgarian</span></li>
								<li><span data-value="ca-AD">Català / Catalan</span></li>
								<li><span data-value="cs-CZ">Čeština / Czech</span></li>
								<li><span data-value="cy-GB">Cymraeg / Welsh</span></li>
								<li><span data-value="da-DK">Dansk / Danish</span></li>
								<li><span data-value="de-AT">Deutsch (Österreich) / German (Austria)</span></li>
								<li><span data-value="de-CH">Deutsch (Schweiz) / German (Switzerland)</span></li>
								<li><span data-value="de-DE">Deutsch (Deutschland) / German (Germany)</span></li>
								<li><span data-value="el-GR">Ελληνικά / Greek</span></li>
								<li><span data-value="en-GB">English (UK) / English (UK)</span></li>
								<li><span data-value="en-US">English (US) / English (US)</span></li>
								<li><span data-value="es-CL">Español (Chile) / Spanish (Chile)</span></li>
								<li><span data-value="es-ES">Español (España) / Spanish (Spain)</span></li>
								<li><span data-value="es-MX">Español (México) / Spanish (Mexico)</span></li>
								<li><span data-value="et-EE">Eesti keel / Estonian</span></li>
								<li><span data-value="eu">Euskara / Basque</span></li>
								<li><span data-value="fa-IR">فارسی / Persian</span></li>
								<li><span data-value="fi-FI">Suomi / Finnish</span></li>
								<li><span data-value="fr-CA">Français (Canada) / French (Canada)</span></li>
								<li><span data-value="fr-FR">Français (France) / French (France)</span></li>
								<li><span data-value="he-IL">עברית / Hebrew</span></li>
								<li><span data-value="hi-IN">हिंदी / Hindi</span></li>
								<li><span data-value="hr-HR">Hrvatski / Croatian</span></li>
								<li><span data-value="hu-HU">Magyar / Hungarian</span></li>
								<li><span data-value="id-ID">Bahasa Indonesia / Indonesian</span></li>
								<li><span data-value="is-IS">Íslenska / Icelandic</span></li>
								<li><span data-value="it-IT">Italiano / Italian</span></li>
								<li><span data-value="ja-JP">日本語 / Japanese</span></li>
								<li><span data-value="km-KH">ភាសាខ្មែរ / Khmer</span></li>
								<li><span data-value="ko-KR">한국어 / Korean</span></li>
								<li><span data-value="la">Latina / Latin</span></li>
								<li><span data-value="lt-LT">Lietuvių kalba / Lithuanian</span></li>
								<li><span data-value="lv-LV">Latviešu / Latvian</span></li>
								<li><span data-value="mn-MN">Монгол / Mongolian</span></li>
								<li><span data-value="nb-NO">Norsk bokmål / Norwegian (Bokmål)</span></li>
								<li><span data-value="nl-NL">Nederlands / Dutch</span></li>
								<li><span data-value="nn-NO">Norsk nynorsk / Norwegian (Nynorsk)</span></li>
								<li><span data-value="pl-PL">Polski / Polish</span></li>
								<li><span data-value="pt-BR">Português (Brasil) / Portuguese (Brazil)</span></li>
								<li><span data-value="pt-PT">Português (Portugal) / Portuguese (Portugal)</span></li>
								<li><span data-value="ro-RO">Română / Romanian</span></li>
								<li><span data-value="ru-RU">Русский / Russian</span></li>
								<li><span data-value="sk-SK">Slovenčina / Slovak</span></li>
								<li><span data-value="sl-SI">Slovenščina / Slovenian</span></li>
								<li><span data-value="sr-RS">Српски / Srpski / Serbian</span></li>
								<li><span data-value="sv-SE">Svenska / Swedish</span></li>
								<li><span data-value="th-TH">ไทย / Thai</span></li>
								<li><span data-value="tr-TR">Türkçe / Turkish</span></li>
								<li><span data-value="uk-UA">Українська / Ukrainian</span></li>
								<li><span data-value="vi-VN">Tiếng Việt / Vietnamese</span></li>
								<li><span data-value="zh-CN">中文 (中国大陆) / Chinese (PRC)</span></li>
								<li><span data-value="zh-TW">中文 (台灣) / Chinese (Taiwan)</span></li>
							</ul>
						</div>
					</div>
					<div class="pref">
						<label id="label_default_timezone">Timezone ?</label>
						<div class="rounded" data-cat="default" data-key="timezone" data-type="select" data-nboptions="1,1" data-options="timezones">
							<span data-value=""></span>
							<ul id="timezones" style="display: none;">
								<li><span data-value="Africa/Abidjan">Africa / Abidjan</span></li>
								<li><span data-value="Africa/Accra">Africa / Accra</span></li>
								<li><span data-value="Africa/Algiers">Africa / Algiers</span></li>
								<li><span data-value="Africa/Bissau">Africa / Bissau</span></li>
								<li><span data-value="Africa/Cairo">Africa / Cairo</span></li>
								<li><span data-value="Africa/Casablanca">Africa / Casablanca</span></li>
								<li><span data-value="Africa/Ceuta">Africa / Ceuta</span></li>
								<li><span data-value="Africa/El_Aaiun">Africa / El_Aaiun</span></li>
								<li><span data-value="Africa/Johannesburg">Africa / Johannesburg</span></li>
								<li><span data-value="Africa/Juba">Africa / Juba</span></li>
								<li><span data-value="Africa/Khartoum">Africa / Khartoum</span></li>
								<li><span data-value="Africa/Lagos">Africa / Lagos</span></li>
								<li><span data-value="Africa/Maputo">Africa / Maputo</span></li>
								<li><span data-value="Africa/Monrovia">Africa / Monrovia</span></li>
								<li><span data-value="Africa/Nairobi">Africa / Nairobi</span></li>
								<li><span data-value="Africa/Ndjamena">Africa / Ndjamena</span></li>
								<li><span data-value="Africa/Sao_Tome">Africa / Sao_Tome</span></li>
								<li><span data-value="Africa/Tripoli">Africa / Tripoli</span></li>
								<li><span data-value="Africa/Tunis">Africa / Tunis</span></li>
								<li><span data-value="Africa/Windhoek">Africa / Windhoek</span></li>
								<li><span data-value="America/Adak">America / Adak</span></li>
								<li><span data-value="America/Anchorage">America / Anchorage</span></li>
								<li><span data-value="America/Araguaina">America / Araguaina</span></li>
								<li><span data-value="America/Argentina/Buenos_Aires">America / Argentina / Buenos_Aires</span></li>
								<li><span data-value="America/Argentina/Catamarca">America / Argentina / Catamarca</span></li>
								<li><span data-value="America/Argentina/Cordoba">America / Argentina / Cordoba</span></li>
								<li><span data-value="America/Argentina/Jujuy">America / Argentina / Jujuy</span></li>
								<li><span data-value="America/Argentina/La_Rioja">America / Argentina / La_Rioja</span></li>
								<li><span data-value="America/Argentina/Mendoza">America / Argentina / Mendoza</span></li>
								<li><span data-value="America/Argentina/Rio_Gallegos">America / Argentina / Rio_Gallegos</span></li>
								<li><span data-value="America/Argentina/Salta">America / Argentina / Salta</span></li>
								<li><span data-value="America/Argentina/San_Juan">America / Argentina / San_Juan</span></li>
								<li><span data-value="America/Argentina/San_Luis">America / Argentina / San_Luis</span></li>
								<li><span data-value="America/Argentina/Tucuman">America / Argentina / Tucuman</span></li>
								<li><span data-value="America/Argentina/Ushuaia">America / Argentina / Ushuaia</span></li>
								<li><span data-value="America/Asuncion">America / Asuncion</span></li>
								<li><span data-value="America/Atikokan">America / Atikokan</span></li>
								<li><span data-value="America/Bahia">America / Bahia</span></li>
								<li><span data-value="America/Bahia_Banderas">America / Bahia_Banderas</span></li>
								<li><span data-value="America/Barbados">America / Barbados</span></li>
								<li><span data-value="America/Belem">America / Belem</span></li>
								<li><span data-value="America/Belize">America / Belize</span></li>
								<li><span data-value="America/Blanc-Sablon">America / Blanc-Sablon</span></li>
								<li><span data-value="America/Boa_Vista">America / Boa_Vista</span></li>
								<li><span data-value="America/Bogota">America / Bogota</span></li>
								<li><span data-value="America/Boise">America / Boise</span></li>
								<li><span data-value="America/Cambridge_Bay">America / Cambridge_Bay</span></li>
								<li><span data-value="America/Campo_Grande">America / Campo_Grande</span></li>
								<li><span data-value="America/Cancun">America / Cancun</span></li>
								<li><span data-value="America/Caracas">America / Caracas</span></li>
								<li><span data-value="America/Cayenne">America / Cayenne</span></li>
								<li><span data-value="America/Chicago">America / Chicago</span></li>
								<li><span data-value="America/Chihuahua">America / Chihuahua</span></li>
								<li><span data-value="America/Costa_Rica">America / Costa_Rica</span></li>
								<li><span data-value="America/Creston">America / Creston</span></li>
								<li><span data-value="America/Cuiaba">America / Cuiaba</span></li>
								<li><span data-value="America/Curacao">America / Curacao</span></li>
								<li><span data-value="America/Danmarkshavn">America / Danmarkshavn</span></li>
								<li><span data-value="America/Dawson">America / Dawson</span></li>
								<li><span data-value="America/Dawson_Creek">America / Dawson_Creek</span></li>
								<li><span data-value="America/Denver">America / Denver</span></li>
								<li><span data-value="America/Detroit">America / Detroit</span></li>
								<li><span data-value="America/Edmonton">America / Edmonton</span></li>
								<li><span data-value="America/Eirunepe">America / Eirunepe</span></li>
								<li><span data-value="America/El_Salvador">America / El_Salvador</span></li>
								<li><span data-value="America/Fortaleza">America / Fortaleza</span></li>
								<li><span data-value="America/Fort_Nelson">America / Fort_Nelson</span></li>
								<li><span data-value="America/Glace_Bay">America / Glace_Bay</span></li>
								<li><span data-value="America/Godthab">America / Godthab</span></li>
								<li><span data-value="America/Goose_Bay">America / Goose_Bay</span></li>
								<li><span data-value="America/Grand_Turk">America / Grand_Turk</span></li>
								<li><span data-value="America/Guatemala">America / Guatemala</span></li>
								<li><span data-value="America/Guayaquil">America / Guayaquil</span></li>
								<li><span data-value="America/Guyana">America / Guyana</span></li>
								<li><span data-value="America/Halifax">America / Halifax</span></li>
								<li><span data-value="America/Havana">America / Havana</span></li>
								<li><span data-value="America/Hermosillo">America / Hermosillo</span></li>
								<li><span data-value="America/Indiana/Indianapolis">America / Indiana / Indianapolis</span></li>
								<li><span data-value="America/Indiana/Knox">America / Indiana / Knox</span></li>
								<li><span data-value="America/Indiana/Marengo">America / Indiana / Marengo</span></li>
								<li><span data-value="America/Indiana/Petersburg">America / Indiana / Petersburg</span></li>
								<li><span data-value="America/Indiana/Tell_City">America / Indiana / Tell_City</span></li>
								<li><span data-value="America/Indiana/Vevay">America / Indiana / Vevay</span></li>
								<li><span data-value="America/Indiana/Vincennes">America / Indiana / Vincennes</span></li>
								<li><span data-value="America/Indiana/Winamac">America / Indiana / Winamac</span></li>
								<li><span data-value="America/Inuvik">America / Inuvik</span></li>
								<li><span data-value="America/Iqaluit">America / Iqaluit</span></li>
								<li><span data-value="America/Jamaica">America / Jamaica</span></li>
								<li><span data-value="America/Juneau">America / Juneau</span></li>
								<li><span data-value="America/Kentucky/Louisville">America / Kentucky / Louisville</span></li>
								<li><span data-value="America/Kentucky/Monticello">America / Kentucky / Monticello</span></li>
								<li><span data-value="America/La_Paz">America / La_Paz</span></li>
								<li><span data-value="America/Lima">America / Lima</span></li>
								<li><span data-value="America/Los_Angeles">America / Los_Angeles</span></li>
								<li><span data-value="America/Maceio">America / Maceio</span></li>
								<li><span data-value="America/Managua">America / Managua</span></li>
								<li><span data-value="America/Manaus">America / Manaus</span></li>
								<li><span data-value="America/Martinique">America / Martinique</span></li>
								<li><span data-value="America/Matamoros">America / Matamoros</span></li>
								<li><span data-value="America/Mazatlan">America / Mazatlan</span></li>
								<li><span data-value="America/Menominee">America / Menominee</span></li>
								<li><span data-value="America/Merida">America / Merida</span></li>
								<li><span data-value="America/Metlakatla">America / Metlakatla</span></li>
								<li><span data-value="America/Mexico_City">America / Mexico_City</span></li>
								<li><span data-value="America/Miquelon">America / Miquelon</span></li>
								<li><span data-value="America/Moncton">America / Moncton</span></li>
								<li><span data-value="America/Monterrey">America / Monterrey</span></li>
								<li><span data-value="America/Montevideo">America / Montevideo</span></li>
								<li><span data-value="America/Nassau">America / Nassau</span></li>
								<li><span data-value="America/New_York">America / New_York</span></li>
								<li><span data-value="America/Nipigon">America / Nipigon</span></li>
								<li><span data-value="America/Nome">America / Nome</span></li>
								<li><span data-value="America/Noronha">America / Noronha</span></li>
								<li><span data-value="America/North_Dakota/Beulah">America / North_Dakota / Beulah</span></li>
								<li><span data-value="America/North_Dakota/Center">America / North_Dakota / Center</span></li>
								<li><span data-value="America/North_Dakota/New_Salem">America / North_Dakota / New_Salem</span></li>
								<li><span data-value="America/Ojinaga">America / Ojinaga</span></li>
								<li><span data-value="America/Panama">America / Panama</span></li>
								<li><span data-value="America/Pangnirtung">America / Pangnirtung</span></li>
								<li><span data-value="America/Paramaribo">America / Paramaribo</span></li>
								<li><span data-value="America/Phoenix">America / Phoenix</span></li>
								<li><span data-value="America/Port-au-Prince">America / Port-au-Prince</span></li>
								<li><span data-value="America/Port_of_Spain">America / Port_of_Spain</span></li>
								<li><span data-value="America/Porto_Velho">America / Porto_Velho</span></li>
								<li><span data-value="America/Puerto_Rico">America / Puerto_Rico</span></li>
								<li><span data-value="America/Punta_Arenas">America / Punta_Arenas</span></li>
								<li><span data-value="America/Rainy_River">America / Rainy_River</span></li>
								<li><span data-value="America/Rankin_Inlet">America / Rankin_Inlet</span></li>
								<li><span data-value="America/Recife">America / Recife</span></li>
								<li><span data-value="America/Regina">America / Regina</span></li>
								<li><span data-value="America/Resolute">America / Resolute</span></li>
								<li><span data-value="America/Rio_Branco">America / Rio_Branco</span></li>
								<li><span data-value="America/Santarem">America / Santarem</span></li>
								<li><span data-value="America/Santiago">America / Santiago</span></li>
								<li><span data-value="America/Santo_Domingo">America / Santo_Domingo</span></li>
								<li><span data-value="America/Sao_Paulo">America / Sao_Paulo</span></li>
								<li><span data-value="America/Scoresbysund">America / Scoresbysund</span></li>
								<li><span data-value="America/Sitka">America / Sitka</span></li>
								<li><span data-value="America/St_Johns">America / St_Johns</span></li>
								<li><span data-value="America/Swift_Current">America / Swift_Current</span></li>
								<li><span data-value="America/Tegucigalpa">America / Tegucigalpa</span></li>
								<li><span data-value="America/Thule">America / Thule</span></li>
								<li><span data-value="America/Thunder_Bay">America / Thunder_Bay</span></li>
								<li><span data-value="America/Tijuana">America / Tijuana</span></li>
								<li><span data-value="America/Toronto">America / Toronto</span></li>
								<li><span data-value="America/Vancouver">America / Vancouver</span></li>
								<li><span data-value="America/Whitehorse">America / Whitehorse</span></li>
								<li><span data-value="America/Winnipeg">America / Winnipeg</span></li>
								<li><span data-value="America/Yakutat">America / Yakutat</span></li>
								<li><span data-value="America/Yellowknife">America / Yellowknife</span></li>
								<li><span data-value="Antarctica/Casey">Antarctica / Casey</span></li>
								<li><span data-value="Antarctica/Davis">Antarctica / Davis</span></li>
								<li><span data-value="Antarctica/DumontDUrville">Antarctica / DumontDUrville</span></li>
								<li><span data-value="Antarctica/Macquarie">Antarctica / Macquarie</span></li>
								<li><span data-value="Antarctica/Mawson">Antarctica / Mawson</span></li>
								<li><span data-value="Antarctica/Palmer">Antarctica / Palmer</span></li>
								<li><span data-value="Antarctica/Rothera">Antarctica / Rothera</span></li>
								<li><span data-value="Antarctica/Syowa">Antarctica / Syowa</span></li>
								<li><span data-value="Antarctica/Troll">Antarctica / Troll</span></li>
								<li><span data-value="Antarctica/Vostok">Antarctica / Vostok</span></li>
								<li><span data-value="Asia/Almaty">Asia / Almaty</span></li>
								<li><span data-value="Asia/Amman">Asia / Amman</span></li>
								<li><span data-value="Asia/Anadyr">Asia / Anadyr</span></li>
								<li><span data-value="Asia/Aqtau">Asia / Aqtau</span></li>
								<li><span data-value="Asia/Aqtobe">Asia / Aqtobe</span></li>
								<li><span data-value="Asia/Ashgabat">Asia / Ashgabat</span></li>
								<li><span data-value="Asia/Atyrau">Asia / Atyrau</span></li>
								<li><span data-value="Asia/Baghdad">Asia / Baghdad</span></li>
								<li><span data-value="Asia/Baku">Asia / Baku</span></li>
								<li><span data-value="Asia/Bangkok">Asia / Bangkok</span></li>
								<li><span data-value="Asia/Barnaul">Asia / Barnaul</span></li>
								<li><span data-value="Asia/Beirut">Asia / Beirut</span></li>
								<li><span data-value="Asia/Bishkek">Asia / Bishkek</span></li>
								<li><span data-value="Asia/Brunei">Asia / Brunei</span></li>
								<li><span data-value="Asia/Chita">Asia / Chita</span></li>
								<li><span data-value="Asia/Choibalsan">Asia / Choibalsan</span></li>
								<li><span data-value="Asia/Colombo">Asia / Colombo</span></li>
								<li><span data-value="Asia/Damascus">Asia / Damascus</span></li>
								<li><span data-value="Asia/Dhaka">Asia / Dhaka</span></li>
								<li><span data-value="Asia/Dili">Asia / Dili</span></li>
								<li><span data-value="Asia/Dubai">Asia / Dubai</span></li>
								<li><span data-value="Asia/Dushanbe">Asia / Dushanbe</span></li>
								<li><span data-value="Asia/Famagusta">Asia / Famagusta</span></li>
								<li><span data-value="Asia/Gaza">Asia / Gaza</span></li>
								<li><span data-value="Asia/Hebron">Asia / Hebron</span></li>
								<li><span data-value="Asia/Ho_Chi_Minh">Asia / Ho_Chi_Minh</span></li>
								<li><span data-value="Asia/Hong_Kong">Asia / Hong_Kong</span></li>
								<li><span data-value="Asia/Hovd">Asia / Hovd</span></li>
								<li><span data-value="Asia/Irkutsk">Asia / Irkutsk</span></li>
								<li><span data-value="Asia/Jakarta">Asia / Jakarta</span></li>
								<li><span data-value="Asia/Jayapura">Asia / Jayapura</span></li>
								<li><span data-value="Asia/Jerusalem">Asia / Jerusalem</span></li>
								<li><span data-value="Asia/Kabul">Asia / Kabul</span></li>
								<li><span data-value="Asia/Kamchatka">Asia / Kamchatka</span></li>
								<li><span data-value="Asia/Karachi">Asia / Karachi</span></li>
								<li><span data-value="Asia/Kathmandu">Asia / Kathmandu</span></li>
								<li><span data-value="Asia/Khandyga">Asia / Khandyga</span></li>
								<li><span data-value="Asia/Kolkata">Asia / Kolkata</span></li>
								<li><span data-value="Asia/Krasnoyarsk">Asia / Krasnoyarsk</span></li>
								<li><span data-value="Asia/Kuala_Lumpur">Asia / Kuala_Lumpur</span></li>
								<li><span data-value="Asia/Kuching">Asia / Kuching</span></li>
								<li><span data-value="Asia/Macau">Asia / Macau</span></li>
								<li><span data-value="Asia/Magadan">Asia / Magadan</span></li>
								<li><span data-value="Asia/Makassar">Asia / Makassar</span></li>
								<li><span data-value="Asia/Manila">Asia / Manila</span></li>
								<li><span data-value="Asia/Nicosia">Asia / Nicosia</span></li>
								<li><span data-value="Asia/Novokuznetsk">Asia / Novokuznetsk</span></li>
								<li><span data-value="Asia/Novosibirsk">Asia / Novosibirsk</span></li>
								<li><span data-value="Asia/Omsk">Asia / Omsk</span></li>
								<li><span data-value="Asia/Oral">Asia / Oral</span></li>
								<li><span data-value="Asia/Pontianak">Asia / Pontianak</span></li>
								<li><span data-value="Asia/Pyongyang">Asia / Pyongyang</span></li>
								<li><span data-value="Asia/Qatar">Asia / Qatar</span></li>
								<li><span data-value="Asia/Qostanay">Asia / Qostanay</span></li>
								<li><span data-value="Asia/Qyzylorda">Asia / Qyzylorda</span></li>
								<li><span data-value="Asia/Riyadh">Asia / Riyadh</span></li>
								<li><span data-value="Asia/Sakhalin">Asia / Sakhalin</span></li>
								<li><span data-value="Asia/Samarkand">Asia / Samarkand</span></li>
								<li><span data-value="Asia/Seoul">Asia / Seoul</span></li>
								<li><span data-value="Asia/Shanghai">Asia / Shanghai</span></li>
								<li><span data-value="Asia/Singapore">Asia / Singapore</span></li>
								<li><span data-value="Asia/Srednekolymsk">Asia / Srednekolymsk</span></li>
								<li><span data-value="Asia/Taipei">Asia / Taipei</span></li>
								<li><span data-value="Asia/Tashkent">Asia / Tashkent</span></li>
								<li><span data-value="Asia/Tbilisi">Asia / Tbilisi</span></li>
								<li><span data-value="Asia/Tehran">Asia / Tehran</span></li>
								<li><span data-value="Asia/Thimphu">Asia / Thimphu</span></li>
								<li><span data-value="Asia/Tokyo">Asia / Tokyo</span></li>
								<li><span data-value="Asia/Tomsk">Asia / Tomsk</span></li>
								<li><span data-value="Asia/Ulaanbaatar">Asia / Ulaanbaatar</span></li>
								<li><span data-value="Asia/Urumqi">Asia / Urumqi</span></li>
								<li><span data-value="Asia/Ust-Nera">Asia / Ust-Nera</span></li>
								<li><span data-value="Asia/Vladivostok">Asia / Vladivostok</span></li>
								<li><span data-value="Asia/Yakutsk">Asia / Yakutsk</span></li>
								<li><span data-value="Asia/Yangon">Asia / Yangon</span></li>
								<li><span data-value="Asia/Yekaterinburg">Asia / Yekaterinburg</span></li>
								<li><span data-value="Asia/Yerevan">Asia / Yerevan</span></li>
								<li><span data-value="Atlantic/Azores">Atlantic / Azores</span></li>
								<li><span data-value="Atlantic/Bermuda">Atlantic / Bermuda</span></li>
								<li><span data-value="Atlantic/Canary">Atlantic / Canary</span></li>
								<li><span data-value="Atlantic/Cape_Verde">Atlantic / Cape_Verde</span></li>
								<li><span data-value="Atlantic/Faroe">Atlantic / Faroe</span></li>
								<li><span data-value="Atlantic/Madeira">Atlantic / Madeira</span></li>
								<li><span data-value="Atlantic/Reykjavik">Atlantic / Reykjavik</span></li>
								<li><span data-value="Atlantic/South_Georgia">Atlantic / South_Georgia</span></li>
								<li><span data-value="Atlantic/Stanley">Atlantic / Stanley</span></li>
								<li><span data-value="Australia/Adelaide">Australia / Adelaide</span></li>
								<li><span data-value="Australia/Brisbane">Australia / Brisbane</span></li>
								<li><span data-value="Australia/Broken_Hill">Australia / Broken_Hill</span></li>
								<li><span data-value="Australia/Currie">Australia / Currie</span></li>
								<li><span data-value="Australia/Darwin">Australia / Darwin</span></li>
								<li><span data-value="Australia/Eucla">Australia / Eucla</span></li>
								<li><span data-value="Australia/Hobart">Australia / Hobart</span></li>
								<li><span data-value="Australia/Lindeman">Australia / Lindeman</span></li>
								<li><span data-value="Australia/Lord_Howe">Australia / Lord_Howe</span></li>
								<li><span data-value="Australia/Melbourne">Australia / Melbourne</span></li>
								<li><span data-value="Australia/Perth">Australia / Perth</span></li>
								<li><span data-value="Australia/Sydney">Australia / Sydney</span></li>
								<li><span data-value="Europe/Amsterdam">Europe / Amsterdam</span></li>
								<li><span data-value="Europe/Andorra">Europe / Andorra</span></li>
								<li><span data-value="Europe/Astrakhan">Europe / Astrakhan</span></li>
								<li><span data-value="Europe/Athens">Europe / Athens</span></li>
								<li><span data-value="Europe/Belgrade">Europe / Belgrade</span></li>
								<li><span data-value="Europe/Berlin">Europe / Berlin</span></li>
								<li><span data-value="Europe/Brussels">Europe / Brussels</span></li>
								<li><span data-value="Europe/Bucharest">Europe / Bucharest</span></li>
								<li><span data-value="Europe/Budapest">Europe / Budapest</span></li>
								<li><span data-value="Europe/Chisinau">Europe / Chisinau</span></li>
								<li><span data-value="Europe/Copenhagen">Europe / Copenhagen</span></li>
								<li><span data-value="Europe/Dublin">Europe / Dublin</span></li>
								<li><span data-value="Europe/Gibraltar">Europe / Gibraltar</span></li>
								<li><span data-value="Europe/Helsinki">Europe / Helsinki</span></li>
								<li><span data-value="Europe/Istanbul">Europe / Istanbul</span></li>
								<li><span data-value="Europe/Kaliningrad">Europe / Kaliningrad</span></li>
								<li><span data-value="Europe/Kiev">Europe / Kiev</span></li>
								<li><span data-value="Europe/Kirov">Europe / Kirov</span></li>
								<li><span data-value="Europe/Lisbon">Europe / Lisbon</span></li>
								<li><span data-value="Europe/London">Europe / London</span></li>
								<li><span data-value="Europe/Luxembourg">Europe / Luxembourg</span></li>
								<li><span data-value="Europe/Madrid">Europe / Madrid</span></li>
								<li><span data-value="Europe/Malta">Europe / Malta</span></li>
								<li><span data-value="Europe/Minsk">Europe / Minsk</span></li>
								<li><span data-value="Europe/Monaco">Europe / Monaco</span></li>
								<li><span data-value="Europe/Moscow">Europe / Moscow</span></li>
								<li><span data-value="Europe/Oslo">Europe / Oslo</span></li>
								<li><span data-value="Europe/Paris">Europe / Paris</span></li>
								<li><span data-value="Europe/Prague">Europe / Prague</span></li>
								<li><span data-value="Europe/Riga">Europe / Riga</span></li>
								<li><span data-value="Europe/Rome">Europe / Rome</span></li>
								<li><span data-value="Europe/Samara">Europe / Samara</span></li>
								<li><span data-value="Europe/Saratov">Europe / Saratov</span></li>
								<li><span data-value="Europe/Simferopol">Europe / Simferopol</span></li>
								<li><span data-value="Europe/Sofia">Europe / Sofia</span></li>
								<li><span data-value="Europe/Stockholm">Europe / Stockholm</span></li>
								<li><span data-value="Europe/Tallinn">Europe / Tallinn</span></li>
								<li><span data-value="Europe/Tirane">Europe / Tirane</span></li>
								<li><span data-value="Europe/Ulyanovsk">Europe / Ulyanovsk</span></li>
								<li><span data-value="Europe/Uzhgorod">Europe / Uzhgorod</span></li>
								<li><span data-value="Europe/Vienna">Europe / Vienna</span></li>
								<li><span data-value="Europe/Vilnius">Europe / Vilnius</span></li>
								<li><span data-value="Europe/Volgograd">Europe / Volgograd</span></li>
								<li><span data-value="Europe/Warsaw">Europe / Warsaw</span></li>
								<li><span data-value="Europe/Zaporozhye">Europe / Zaporozhye</span></li>
								<li><span data-value="Europe/Zurich">Europe / Zurich</span></li>
								<li><span data-value="Indian/Chagos">Indian / Chagos</span></li>
								<li><span data-value="Indian/Christmas">Indian / Christmas</span></li>
								<li><span data-value="Indian/Cocos">Indian / Cocos</span></li>
								<li><span data-value="Indian/Kerguelen">Indian / Kerguelen</span></li>
								<li><span data-value="Indian/Mahe">Indian / Mahe</span></li>
								<li><span data-value="Indian/Maldives">Indian / Maldives</span></li>
								<li><span data-value="Indian/Mauritius">Indian / Mauritius</span></li>
								<li><span data-value="Indian/Reunion">Indian / Reunion</span></li>
								<li><span data-value="Pacific/Apia">Pacific / Apia</span></li>
								<li><span data-value="Pacific/Auckland">Pacific / Auckland</span></li>
								<li><span data-value="Pacific/Bougainville">Pacific / Bougainville</span></li>
								<li><span data-value="Pacific/Chatham">Pacific / Chatham</span></li>
								<li><span data-value="Pacific/Chuuk">Pacific / Chuuk</span></li>
								<li><span data-value="Pacific/Easter">Pacific / Easter</span></li>
								<li><span data-value="Pacific/Efate">Pacific / Efate</span></li>
								<li><span data-value="Pacific/Enderbury">Pacific / Enderbury</span></li>
								<li><span data-value="Pacific/Fakaofo">Pacific / Fakaofo</span></li>
								<li><span data-value="Pacific/Fiji">Pacific / Fiji</span></li>
								<li><span data-value="Pacific/Funafuti">Pacific / Funafuti</span></li>
								<li><span data-value="Pacific/Galapagos">Pacific / Galapagos</span></li>
								<li><span data-value="Pacific/Gambier">Pacific / Gambier</span></li>
								<li><span data-value="Pacific/Guadalcanal">Pacific / Guadalcanal</span></li>
								<li><span data-value="Pacific/Guam">Pacific / Guam</span></li>
								<li><span data-value="Pacific/Honolulu">Pacific / Honolulu</span></li>
								<li><span data-value="Pacific/Kiritimati">Pacific / Kiritimati</span></li>
								<li><span data-value="Pacific/Kosrae">Pacific / Kosrae</span></li>
								<li><span data-value="Pacific/Kwajalein">Pacific / Kwajalein</span></li>
								<li><span data-value="Pacific/Majuro">Pacific / Majuro</span></li>
								<li><span data-value="Pacific/Marquesas">Pacific / Marquesas</span></li>
								<li><span data-value="Pacific/Nauru">Pacific / Nauru</span></li>
								<li><span data-value="Pacific/Niue">Pacific / Niue</span></li>
								<li><span data-value="Pacific/Norfolk">Pacific / Norfolk</span></li>
								<li><span data-value="Pacific/Noumea">Pacific / Noumea</span></li>
								<li><span data-value="Pacific/Pago_Pago">Pacific / Pago_Pago</span></li>
								<li><span data-value="Pacific/Palau">Pacific / Palau</span></li>
								<li><span data-value="Pacific/Pitcairn">Pacific / Pitcairn</span></li>
								<li><span data-value="Pacific/Pohnpei">Pacific / Pohnpei</span></li>
								<li><span data-value="Pacific/Port_Moresby">Pacific / Port_Moresby</span></li>
								<li><span data-value="Pacific/Rarotonga">Pacific / Rarotonga</span></li>
								<li><span data-value="Pacific/Tahiti">Pacific / Tahiti</span></li>
								<li><span data-value="Pacific/Tarawa">Pacific / Tarawa</span></li>
								<li><span data-value="Pacific/Tongatapu">Pacific / Tongatapu</span></li>
								<li><span data-value="Pacific/Wake">Pacific / Wake</span></li>
								<li><span data-value="Pacific/Wallis">Pacific / Wallis</span></li>
							</ul>
						</div>
					</div>
					<div class="pref">
						<label id="label_default_currency">Currency ?</label>
						<div class="rounded" data-cat="default" data-key="currency" data-type="select" data-nboptions="1,1" data-options="currencies">
							<span data-value=""></span>
							<ul id="currencies" style="display: none;">
								<li><span data-value="AED">د.إ; / UAE dirham</span></li>
								<li><span data-value="AFN">Afs / Afghan afghani</span></li>
								<li><span data-value="ALL">L / Albanian lek</span></li>
								<li><span data-value="AMD">AMD / Armenian dram</span></li>
								<li><span data-value="ANG">NAƒ / Netherlands Antillean gulden</span></li>
								<li><span data-value="AOA">Kz / Angolan kwanza</span></li>
								<li><span data-value="ARS">$ / Argentine peso</span></li>
								<li><span data-value="AUD">$ / Australian dollar</span></li>
								<li><span data-value="AWG">ƒ / Aruban florin</span></li>
								<li><span data-value="AZN">AZN / Azerbaijani manat</span></li>
								<li><span data-value="BAM">KM / Bosnia and Herzegovina konvertibilna marka</span></li>
								<li><span data-value="BBD">Bds$ / Barbadian dollar</span></li>
								<li><span data-value="BDT">৳ / Bangladeshi taka</span></li>
								<li><span data-value="BGN">BGN / Bulgarian lev</span></li>
								<li><span data-value="BHD">.د.ب / Bahraini dinar</span></li>
								<li><span data-value="BIF">FBu / Burundi franc</span></li>
								<li><span data-value="BMD">BD$ / Bermudian dollar</span></li>
								<li><span data-value="BND">B$ / Brunei dollar</span></li>
								<li><span data-value="BOB">Bs. / Bolivian boliviano</span></li>
								<li><span data-value="BRL">R$ / Brazilian real</span></li>
								<li><span data-value="BSD">B$ / Bahamian dollar</span></li>
								<li><span data-value="BTN">Nu. / Bhutanese ngultrum</span></li>
								<li><span data-value="BWP">P / Botswana pula</span></li>
								<li><span data-value="BYR">Br / Belarusian ruble</span></li>
								<li><span data-value="BZD">BZ$ / Belize dollar</span></li>
								<li><span data-value="CAD">$ / Canadian dollar</span></li>
								<li><span data-value="CDF">F / Congolese franc</span></li>
								<li><span data-value="CHF">Fr. / Swiss franc</span></li>
								<li><span data-value="CLP">$ / Chilean peso</span></li>
								<li><span data-value="CNY">¥ / Chinese/Yuan renminbi</span></li>
								<li><span data-value="COP">Col$ / Colombian peso</span></li>
								<li><span data-value="CRC">₡ / Costa Rican colon</span></li>
								<li><span data-value="CUC">$ / Cuban peso</span></li>
								<li><span data-value="CVE">Esc / Cape Verdean escudo</span></li>
								<li><span data-value="CZK">Kč / Czech koruna</span></li>
								<li><span data-value="DJF">Fdj / Djiboutian franc</span></li>
								<li><span data-value="DKK">Kr / Danish krone</span></li>
								<li><span data-value="DOP">RD$ / Dominican peso</span></li>
								<li><span data-value="DZD">د.ج / Algerian dinar</span></li>
								<li><span data-value="EEK">KR / Estonian kroon</span></li>
								<li><span data-value="EGP">£ / Egyptian pound</span></li>
								<li><span data-value="ERN">Nfa / Eritrean nakfa</span></li>
								<li><span data-value="ETB">Br / Ethiopian birr</span></li>
								<li><span data-value="EUR">€ / European Euro</span></li>
								<li><span data-value="FJD">FJ$ / Fijian dollar</span></li>
								<li><span data-value="FKP">£ / Falkland Islands pound</span></li>
								<li><span data-value="GBP">£ / British pound</span></li>
								<li><span data-value="GEL">GEL / Georgian lari</span></li>
								<li><span data-value="GHS">GH₵ / Ghanaian cedi</span></li>
								<li><span data-value="GIP">£ / Gibraltar pound</span></li>
								<li><span data-value="GMD">D / Gambian dalasi</span></li>
								<li><span data-value="GNF">FG / Guinean franc</span></li>
								<li><span data-value="GQE">CFA / Central African CFA franc</span></li>
								<li><span data-value="GTQ">Q / Guatemalan quetzal</span></li>
								<li><span data-value="GYD">GY$ / Guyanese dollar</span></li>
								<li><span data-value="HKD">HK$ / Hong Kong dollar</span></li>
								<li><span data-value="HNL">L / Honduran lempira</span></li>
								<li><span data-value="HRK">kn / Croatian kuna</span></li>
								<li><span data-value="HTG">G / Haitian gourde</span></li>
								<li><span data-value="HUF">Ft / Hungarian forint</span></li>
								<li><span data-value="IDR">Rp / Indonesian rupiah</span></li>
								<li><span data-value="ILS">₪ / Israeli new sheqel</span></li>
								<li><span data-value="INR">₹ / Indian rupee</span></li>
								<li><span data-value="IQD">د.ع / Iraqi dinar</span></li>
								<li><span data-value="IRR">IRR / Iranian rial</span></li>
								<li><span data-value="ISK">kr / Icelandic króna</span></li>
								<li><span data-value="JMD">J$ / Jamaican dollar</span></li>
								<li><span data-value="JOD">JOD / Jordanian dinar</span></li>
								<li><span data-value="JPY">¥ / Japanese yen</span></li>
								<li><span data-value="KES">KSh / Kenyan shilling</span></li>
								<li><span data-value="KGS">сом / Kyrgyzstani som</span></li>
								<li><span data-value="KHR">៛ / Cambodian riel</span></li>
								<li><span data-value="KMF">KMF / Comorian franc</span></li>
								<li><span data-value="KPW">W / North Korean won</span></li>
								<li><span data-value="KRW">W / South Korean won</span></li>
								<li><span data-value="KWD">KWD / Kuwaiti dinar</span></li>
								<li><span data-value="KYD">KY$ / Cayman Islands dollar</span></li>
								<li><span data-value="KZT">T / Kazakhstani tenge</span></li>
								<li><span data-value="LAK">KN / Lao kip</span></li>
								<li><span data-value="LBP">£ / Lebanese lira</span></li>
								<li><span data-value="LKR">Rs / Sri Lankan rupee</span></li>
								<li><span data-value="LRD">L$ / Liberian dollar</span></li>
								<li><span data-value="LSL">M / Lesotho loti</span></li>
								<li><span data-value="LTL">Lt / Lithuanian litas</span></li>
								<li><span data-value="LVL">Ls / Latvian lats</span></li>
								<li><span data-value="LYD">LD / Libyan dinar</span></li>
								<li><span data-value="MAD">MAD / Moroccan dirham</span></li>
								<li><span data-value="MDL">MDL / Moldovan leu</span></li>
								<li><span data-value="MGA">FMG / Malagasy ariary</span></li>
								<li><span data-value="MKD">MKD / Macedonian denar</span></li>
								<li><span data-value="MMK">K / Myanma kyat</span></li>
								<li><span data-value="MNT">₮ / Mongolian tugrik</span></li>
								<li><span data-value="MOP">P / Macanese pataca</span></li>
								<li><span data-value="MRO">UM / Mauritanian ouguiya</span></li>
								<li><span data-value="MUR">Rs / Mauritian rupee</span></li>
								<li><span data-value="MVR">Rf / Maldivian rufiyaa</span></li>
								<li><span data-value="MWK">MK / Malawian kwacha</span></li>
								<li><span data-value="MXN">$ / Mexican peso</span></li>
								<li><span data-value="MYR">RM / Malaysian ringgit</span></li>
								<li><span data-value="MZM">MTn / Mozambican metical</span></li>
								<li><span data-value="NAD">N$ / Namibian dollar</span></li>
								<li><span data-value="NGN">₦ / Nigerian naira</span></li>
								<li><span data-value="NIO">C$ / Nicaraguan córdoba</span></li>
								<li><span data-value="NOK">kr / Norwegian krone</span></li>
								<li><span data-value="NPR">NRs / Nepalese rupee</span></li>
								<li><span data-value="NZD">NZ$ / New Zealand dollar</span></li>
								<li><span data-value="OMR">OMR / Omani rial</span></li>
								<li><span data-value="PAB">B./ / Panamanian balboa</span></li>
								<li><span data-value="PEN">S/. / Peruvian nuevo sol</span></li>
								<li><span data-value="PGK">K / Papua New Guinean kina</span></li>
								<li><span data-value="PHP">₱ / Philippine peso</span></li>
								<li><span data-value="PKR">Rs. / Pakistani rupee</span></li>
								<li><span data-value="PLN">zł / Polish zloty</span></li>
								<li><span data-value="PYG">₲ / Paraguayan guarani</span></li>
								<li><span data-value="QAR">QR / Qatari riyal</span></li>
								<li><span data-value="RON">L / Romanian leu</span></li>
								<li><span data-value="RSD">din. / Serbian dinar</span></li>
								<li><span data-value="RUB">R / Russian ruble</span></li>
								<li><span data-value="SAR">SR / Saudi riyal</span></li>
								<li><span data-value="SBD">SI$ / Solomon Islands dollar</span></li>
								<li><span data-value="SCR">SR / Seychellois rupee</span></li>
								<li><span data-value="SDG">SDG / Sudanese pound</span></li>
								<li><span data-value="SEK">kr / Swedish krona</span></li>
								<li><span data-value="SGD">S$ / Singapore dollar</span></li>
								<li><span data-value="SHP">£ / Saint Helena pound</span></li>
								<li><span data-value="SLL">Le / Sierra Leonean leone</span></li>
								<li><span data-value="SOS">Sh. / Somali shilling</span></li>
								<li><span data-value="SRD">$ / Surinamese dollar</span></li>
								<li><span data-value="SYP">LS / Syrian pound</span></li>
								<li><span data-value="SZL">E / Swazi lilangeni</span></li>
								<li><span data-value="THB">฿ / Thai baht</span></li>
								<li><span data-value="TJS">TJS / Tajikistani somoni</span></li>
								<li><span data-value="TMT">m / Turkmen manat</span></li>
								<li><span data-value="TND">DT / Tunisian dinar</span></li>
								<li><span data-value="TRY">TRY / Turkish new lira</span></li>
								<li><span data-value="TTD">TT$ / Trinidad and Tobago dollar</span></li>
								<li><span data-value="TWD">NT$ / New Taiwan dollar</span></li>
								<li><span data-value="TZS">TZS / Tanzanian shilling</span></li>
								<li><span data-value="UAH">UAH / Ukrainian hryvnia</span></li>
								<li><span data-value="UGX">USh / Ugandan shilling</span></li>
								<li><span data-value="USD">US$ / United States dollar</span></li>
								<li><span data-value="UYU">$U / Uruguayan peso</span></li>
								<li><span data-value="UZS">UZS / Uzbekistani som</span></li>
								<li><span data-value="VEB">Bs / Venezuelan bolivar</span></li>
								<li><span data-value="VND">₫ / Vietnamese dong</span></li>
								<li><span data-value="VUV">VT / Vanuatu vatu</span></li>
								<li><span data-value="WST">WS$ / Samoan tala</span></li>
								<li><span data-value="XAF">CFA / Central African CFA franc</span></li>
								<li><span data-value="XCD">EC$ / East Caribbean dollar</span></li>
								<li><span data-value="XDR">SDR / Special Drawing Rights</span></li>
								<li><span data-value="XOF">CFA / West African CFA franc</span></li>
								<li><span data-value="XPF">F / CFP franc</span></li>
								<li><span data-value="YER">YER / Yemeni rial</span></li>
								<li><span data-value="ZAR">R / South African rand</span></li>
								<li><span data-value="ZMK">ZK / Zambian kwacha</span></li>
								<li><span data-value="ZWR">Z$ / Zimbabwean dollar</span></li>

							</ul>
						</div>
						<!-- div data-cat="default" data-key="currency">
							<span data-value="euro">€</span>
							<span data-value="dollard">$</span>
							<span data-value="pound">£</span>
							<span data-value="yen">¥</span>
							<span data-value="rupee">₹</span>
						</div -->
					</div>

					<div class="pref">
						<label id="label_default_phoneprefix">Phone prefix ?</label>
						<div class="rounded" data-cat="default" data-key="phoneprefix" data-type="select" data-nboptions="1,1" data-options="phoneprefixes">
							<span data-value=""></span>
							<ul id="phoneprefixes" style="display: none;">
								<li><span data-value="AF">Afghanistan / +93</span></li>
								<li><span data-value="AX">Aland Islands / +358</span></li>
								<li><span data-value="AL">Albania / +355</span></li>
								<li><span data-value="DZ">Algeria / +213</span></li>
								<li><span data-value="AS">AmericanSamoa / +1684</span></li>
								<li><span data-value="AD">Andorra / +376</span></li>
								<li><span data-value="AO">Angola / +244</span></li>
								<li><span data-value="AI">Anguilla / +1264</span></li>
								<li><span data-value="AQ">Antarctica / +672</span></li>
								<li><span data-value="AG">Antigua and Barbuda / +1268</span></li>
								<li><span data-value="AR">Argentina / +54</span></li>
								<li><span data-value="AM">Armenia / +374</span></li>
								<li><span data-value="AW">Aruba / +297</span></li>
								<li><span data-value="AU">Australia / +61</span></li>
								<li><span data-value="AT">Austria / +43</span></li>
								<li><span data-value="AZ">Azerbaijan / +994</span></li>
								<li><span data-value="BS">Bahamas / +1242</span></li>
								<li><span data-value="BH">Bahrain / +973</span></li>
								<li><span data-value="BD">Bangladesh / +880</span></li>
								<li><span data-value="BB">Barbados / +1246</span></li>
								<li><span data-value="BY">Belarus / +375</span></li>
								<li><span data-value="BE">Belgium / +32</span></li>
								<li><span data-value="BZ">Belize / +501</span></li>
								<li><span data-value="BJ">Benin / +229</span></li>
								<li><span data-value="BM">Bermuda / +1441</span></li>
								<li><span data-value="BT">Bhutan / +975</span></li>
								<li><span data-value="BO">Bolivia, Plurinational State of / +591</span></li>
								<li><span data-value="BA">Bosnia and Herzegovina / +387</span></li>
								<li><span data-value="BW">Botswana / +267</span></li>
								<li><span data-value="BR">Brazil / +55</span></li>
								<li><span data-value="IO">British Indian Ocean Territory / +246</span></li>
								<li><span data-value="BN">Brunei Darussalam / +673</span></li>
								<li><span data-value="BG">Bulgaria / +359</span></li>
								<li><span data-value="BF">Burkina Faso / +226</span></li>
								<li><span data-value="BI">Burundi / +257</span></li>
								<li><span data-value="KH">Cambodia / +855</span></li>
								<li><span data-value="CM">Cameroon / +237</span></li>
								<li><span data-value="CA">Canada / +1</span></li>
								<li><span data-value="CV">Cape Verde / +238</span></li>
								<li><span data-value="KY">Cayman Islands / + 345</span></li>
								<li><span data-value="CF">Central African Republic / +236</span></li>
								<li><span data-value="TD">Chad / +235</span></li>
								<li><span data-value="CL">Chile / +56</span></li>
								<li><span data-value="CN">China / +86</span></li>
								<li><span data-value="CX">Christmas Island / +61</span></li>
								<li><span data-value="CC">Cocos (Keeling) Islands / +61</span></li>
								<li><span data-value="CO">Colombia / +57</span></li>
								<li><span data-value="KM">Comoros / +269</span></li>
								<li><span data-value="CG">Congo / +242</span></li>
								<li><span data-value="CD">Congo, The Democratic Republic of the Congo / +243</span></li>
								<li><span data-value="CK">Cook Islands / +682</span></li>
								<li><span data-value="CR">Costa Rica / +506</span></li>
								<li><span data-value="CI">Cote d'Ivoire / +225</span></li>
								<li><span data-value="HR">Croatia / +385</span></li>
								<li><span data-value="CU">Cuba / +53</span></li>
								<li><span data-value="CY">Cyprus / +357</span></li>
								<li><span data-value="CZ">Czech Republic / +420</span></li>
								<li><span data-value="DK">Denmark / +45</span></li>
								<li><span data-value="DJ">Djibouti / +253</span></li>
								<li><span data-value="DM">Dominica / +1767</span></li>
								<li><span data-value="DO">Dominican Republic / +1849</span></li>
								<li><span data-value="EC">Ecuador / +593</span></li>
								<li><span data-value="EG">Egypt / +20</span></li>
								<li><span data-value="SV">El Salvador / +503</span></li>
								<li><span data-value="GQ">Equatorial Guinea / +240</span></li>
								<li><span data-value="ER">Eritrea / +291</span></li>
								<li><span data-value="EE">Estonia / +372</span></li>
								<li><span data-value="ET">Ethiopia / +251</span></li>
								<li><span data-value="FK">Falkland Islands (Malvinas) / +500</span></li>
								<li><span data-value="FO">Faroe Islands / +298</span></li>
								<li><span data-value="FJ">Fiji / +679</span></li>
								<li><span data-value="FI">Finland / +358</span></li>
								<li><span data-value="FR">France / +33</span></li>
								<li><span data-value="GF">French Guiana / +594</span></li>
								<li><span data-value="PF">French Polynesia / +689</span></li>
								<li><span data-value="GA">Gabon / +241</span></li>
								<li><span data-value="GM">Gambia / +220</span></li>
								<li><span data-value="GE">Georgia / +995</span></li>
								<li><span data-value="DE">Germany / +49</span></li>
								<li><span data-value="GH">Ghana / +233</span></li>
								<li><span data-value="GI">Gibraltar / +350</span></li>
								<li><span data-value="GR">Greece / +30</span></li>
								<li><span data-value="GL">Greenland / +299</span></li>
								<li><span data-value="GD">Grenada / +1473</span></li>
								<li><span data-value="GP">Guadeloupe / +590</span></li>
								<li><span data-value="GU">Guam / +1671</span></li>
								<li><span data-value="GT">Guatemala / +502</span></li>
								<li><span data-value="GG">Guernsey / +44</span></li>
								<li><span data-value="GN">Guinea / +224</span></li>
								<li><span data-value="GW">Guinea-Bissau / +245</span></li>
								<li><span data-value="GY">Guyana / +595</span></li>
								<li><span data-value="HT">Haiti / +509</span></li>
								<li><span data-value="VA">Holy See (Vatican City State) / +379</span></li>
								<li><span data-value="HN">Honduras / +504</span></li>
								<li><span data-value="HK">Hong Kong / +852</span></li>
								<li><span data-value="HU">Hungary / +36</span></li>
								<li><span data-value="IS">Iceland / +354</span></li>
								<li><span data-value="IN">India / +91</span></li>
								<li><span data-value="ID">Indonesia / +62</span></li>
								<li><span data-value="IR">Iran, Islamic Republic of Persian Gulf / +98</span></li>
								<li><span data-value="IQ">Iraq / +964</span></li>
								<li><span data-value="IE">Ireland / +353</span></li>
								<li><span data-value="IM">Isle of Man / +44</span></li>
								<li><span data-value="IL">Israel / +972</span></li>
								<li><span data-value="IT">Italy / +39</span></li>
								<li><span data-value="JM">Jamaica / +1876</span></li>
								<li><span data-value="JP">Japan / +81</span></li>
								<li><span data-value="JE">Jersey / +44</span></li>
								<li><span data-value="JO">Jordan / +962</span></li>
								<li><span data-value="KZ">Kazakhstan / +77</span></li>
								<li><span data-value="KE">Kenya / +254</span></li>
								<li><span data-value="KI">Kiribati / +686</span></li>
								<li><span data-value="KP">Korea, Democratic People's Republic of Korea / +850</span></li>
								<li><span data-value="KR">Korea, Republic of South Korea / +82</span></li>
								<li><span data-value="KW">Kuwait / +965</span></li>
								<li><span data-value="KG">Kyrgyzstan / +996</span></li>
								<li><span data-value="LA">Laos / +856</span></li>
								<li><span data-value="LV">Latvia / +371</span></li>
								<li><span data-value="LB">Lebanon / +961</span></li>
								<li><span data-value="LS">Lesotho / +266</span></li>
								<li><span data-value="LR">Liberia / +231</span></li>
								<li><span data-value="LY">Libyan Arab Jamahiriya / +218</span></li>
								<li><span data-value="LI">Liechtenstein / +423</span></li>
								<li><span data-value="LT">Lithuania / +370</span></li>
								<li><span data-value="LU">Luxembourg / +352</span></li>
								<li><span data-value="MO">Macao / +853</span></li>
								<li><span data-value="MK">Macedonia / +389</span></li>
								<li><span data-value="MG">Madagascar / +261</span></li>
								<li><span data-value="MW">Malawi / +265</span></li>
								<li><span data-value="MY">Malaysia / +60</span></li>
								<li><span data-value="MV">Maldives / +960</span></li>
								<li><span data-value="ML">Mali / +223</span></li>
								<li><span data-value="MT">Malta / +356</span></li>
								<li><span data-value="MH">Marshall Islands / +692</span></li>
								<li><span data-value="MQ">Martinique / +596</span></li>
								<li><span data-value="MR">Mauritania / +222</span></li>
								<li><span data-value="MU">Mauritius / +230</span></li>
								<li><span data-value="YT">Mayotte / +262</span></li>
								<li><span data-value="MX">Mexico / +52</span></li>
								<li><span data-value="FM">Micronesia, Federated States of Micronesia / +691</span></li>
								<li><span data-value="MD">Moldova / +373</span></li>
								<li><span data-value="MC">Monaco / +377</span></li>
								<li><span data-value="MN">Mongolia / +976</span></li>
								<li><span data-value="ME">Montenegro / +382</span></li>
								<li><span data-value="MS">Montserrat / +1664</span></li>
								<li><span data-value="MA">Morocco / +212</span></li>
								<li><span data-value="MZ">Mozambique / +258</span></li>
								<li><span data-value="MM">Myanmar / +95</span></li>
								<li><span data-value="NA">Namibia / +264</span></li>
								<li><span data-value="NR">Nauru / +674</span></li>
								<li><span data-value="NP">Nepal / +977</span></li>
								<li><span data-value="NL">Netherlands / +31</span></li>
								<li><span data-value="AN">Netherlands Antilles / +599</span></li>
								<li><span data-value="NC">New Caledonia / +687</span></li>
								<li><span data-value="NZ">New Zealand / +64</span></li>
								<li><span data-value="NI">Nicaragua / +505</span></li>
								<li><span data-value="NE">Niger / +227</span></li>
								<li><span data-value="NG">Nigeria / +234</span></li>
								<li><span data-value="NU">Niue / +683</span></li>
								<li><span data-value="NF">Norfolk Island / +672</span></li>
								<li><span data-value="MP">Northern Mariana Islands / +1670</span></li>
								<li><span data-value="NO">Norway / +47</span></li>
								<li><span data-value="OM">Oman / +968</span></li>
								<li><span data-value="PK">Pakistan / +92</span></li>
								<li><span data-value="PW">Palau / +680</span></li>
								<li><span data-value="PS">Palestinian Territory, Occupied / +970</span></li>
								<li><span data-value="PA">Panama / +507</span></li>
								<li><span data-value="PG">Papua New Guinea / +675</span></li>
								<li><span data-value="PY">Paraguay / +595</span></li>
								<li><span data-value="PE">Peru / +51</span></li>
								<li><span data-value="PH">Philippines / +63</span></li>
								<li><span data-value="PN">Pitcairn / +872</span></li>
								<li><span data-value="PL">Poland / +48</span></li>
								<li><span data-value="PT">Portugal / +351</span></li>
								<li><span data-value="PR">Puerto Rico / +1939</span></li>
								<li><span data-value="QA">Qatar / +974</span></li>
								<li><span data-value="RO">Romania / +40</span></li>
								<li><span data-value="RU">Russia / +7</span></li>
								<li><span data-value="RW">Rwanda / +250</span></li>
								<li><span data-value="RE">Reunion / +262</span></li>
								<li><span data-value="BL">Saint Barthelemy / +590</span></li>
								<li><span data-value="SH">Saint Helena, Ascension and Tristan Da Cunha / +290</span></li>
								<li><span data-value="KN">Saint Kitts and Nevis / +1869</span></li>
								<li><span data-value="LC">Saint Lucia / +1758</span></li>
								<li><span data-value="MF">Saint Martin / +590</span></li>
								<li><span data-value="PM">Saint Pierre and Miquelon / +508</span></li>
								<li><span data-value="VC">Saint Vincent and the Grenadines / +1784</span></li>
								<li><span data-value="WS">Samoa / +685</span></li>
								<li><span data-value="SM">San Marino / +378</span></li>
								<li><span data-value="ST">Sao Tome and Principe / +239</span></li>
								<li><span data-value="SA">Saudi Arabia / +966</span></li>
								<li><span data-value="SN">Senegal / +221</span></li>
								<li><span data-value="RS">Serbia / +381</span></li>
								<li><span data-value="SC">Seychelles / +248</span></li>
								<li><span data-value="SL">Sierra Leone / +232</span></li>
								<li><span data-value="SG">Singapore / +65</span></li>
								<li><span data-value="SK">Slovakia / +421</span></li>
								<li><span data-value="SI">Slovenia / +386</span></li>
								<li><span data-value="SB">Solomon Islands / +677</span></li>
								<li><span data-value="SO">Somalia / +252</span></li>
								<li><span data-value="ZA">South Africa / +27</span></li>
								<li><span data-value="SS">South Sudan / +211</span></li>
								<li><span data-value="GS">South Georgia and the South Sandwich Islands / +500</span></li>
								<li><span data-value="ES">Spain / +34</span></li>
								<li><span data-value="LK">Sri Lanka / +94</span></li>
								<li><span data-value="SD">Sudan / +249</span></li>
								<li><span data-value="SR">Suriname / +597</span></li>
								<li><span data-value="SJ">Svalbard and Jan Mayen / +47</span></li>
								<li><span data-value="SZ">Swaziland / +268</span></li>
								<li><span data-value="SE">Sweden / +46</span></li>
								<li><span data-value="CH">Switzerland / +41</span></li>
								<li><span data-value="SY">Syrian Arab Republic / +963</span></li>
								<li><span data-value="TW">Taiwan / +886</span></li>
								<li><span data-value="TJ">Tajikistan / +992</span></li>
								<li><span data-value="TZ">Tanzania, United Republic of Tanzania / +255</span></li>
								<li><span data-value="TH">Thailand / +66</span></li>
								<li><span data-value="TL">Timor-Leste / +670</span></li>
								<li><span data-value="TG">Togo / +228</span></li>
								<li><span data-value="TK">Tokelau / +690</span></li>
								<li><span data-value="TO">Tonga / +676</span></li>
								<li><span data-value="TT">Trinidad and Tobago / +1868</span></li>
								<li><span data-value="TN">Tunisia / +216</span></li>
								<li><span data-value="TR">Turkey / +90</span></li>
								<li><span data-value="TM">Turkmenistan / +993</span></li>
								<li><span data-value="TC">Turks and Caicos Islands / +1649</span></li>
								<li><span data-value="TV">Tuvalu / +688</span></li>
								<li><span data-value="UG">Uganda / +256</span></li>
								<li><span data-value="UA">Ukraine / +380</span></li>
								<li><span data-value="AE">United Arab Emirates / +971</span></li>
								<li><span data-value="GB">United Kingdom / +44</span></li>
								<li><span data-value="US">United States / +1</span></li>
								<li><span data-value="UY">Uruguay / +598</span></li>
								<li><span data-value="UZ">Uzbekistan / +998</span></li>
								<li><span data-value="VU">Vanuatu / +678</span></li>
								<li><span data-value="VE">Venezuela, Bolivarian Republic of Venezuela / +58</span></li>
								<li><span data-value="VN">Vietnam / +84</span></li>
								<li><span data-value="VG">Virgin Islands, British / +1284</span></li>
								<li><span data-value="VI">Virgin Islands, U.S. / +1340</span></li>
								<li><span data-value="WF">Wallis and Futuna / +681</span></li>
								<li><span data-value="YE">Yemen / +967</span></li>
								<li><span data-value="ZM">Zambia / +260</span></li>
								<li><span data-value="ZW">Zimbabwe / +263</span></li>
							</ul>
						</div>
						<!-- div data-cat="default" data-key="currency">
							<span data-value="euro">€</span>
							<span data-value="dollard">$</span>
							<span data-value="pound">£</span>
							<span data-value="yen">¥</span>
							<span data-value="rupee">₹</span>
						</div -->
					</div>

					<div class="pref">
						<label id="label_default_date_pattern">Date format ?</label>
						<div class="rounded" data-cat="default" data-key="date_pattern" data-type="select" data-nboptions="1,1" data-options="date_patterns">
							<span data-value=""></span>
							<ul id="date_patterns" style="display: none;">
								<li><span data-value="iso">YYYY-MM-DD</span></li>
								<li><span data-value="usa">MM/DD/YYYY</span></li>
								<li><span data-value="eur">DD/MM/YYYY</span></li>
							</ul>
						</div>
					</div>
					<div class="pref">
						<label id="label_default_separator_real">Real separator ?</label>
						<div class="rounded" data-cat="default" data-key="separator_real" data-type="select" data-nboptions="1,1" data-options="separators_real">
							<span data-value=""></span>
							<ul id="separators_real" style="display: none;">
								<li><span data-value="dot">.</span></li>
								<li><span data-value="comma">,</span></li>
							</ul>
						</div>
					</div>
					<!--
					<div class="pref">
						<label id="label_default_unit_distance">Distance unit ?</label>
						<div class="rounded" data-cat="default" data-key="unit_distance">
							<span data-value="kilometre">km</span>
							<span data-value="mile">mi</span>
						</div>
					</div>
					<div class="pref">
						<label id="label_default_unit_volume">Volume unit ?</label>
						<div class="rounded" data-cat="default" data-key="unit_volume">
							<span data-value="litre">l</span>
							<span data-value="gallon">US gallon</span>
						</div>
					</div>
				-->
				</div>
			</div>
		</div>

