/* thx to 
 * - http://www.colorzilla.com/gradient-editor/ for gradient tool ! 
 * - material design for most icons
*/

/* TABS Z-INDEX */

#tab_call, #tab_history {
	z-index:+2;
}

/* TAB MAIN */

.icon_history {
	background:#fff url('incoming.phone.png') no-repeat center center;
}
.icon_call {
	background:#fff url('call.png') no-repeat center center;
}

#phone_number {
	position:absolute;
	top:50px;
	left:0;
	right:0;
	overflow: hidden;
	height:40px;
	z-index:+1;
}
#number {
	border:0;
	margin:0;
	height:40px;
	line-height:20px;
	font-size:26px;
	background: linear-gradient(to bottom, rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%);
	border-radius: 0;
	padding: 0 40px 0 5px;
}
#clear_number {
	border:0;
	margin:0;
	padding:0;
	position:absolute;
	right:5px;
	top:4px;
	font-size:20px;
	background: transparent;
}
#keypad {
	width: 100%;
	height: 80%;
	display: table;
	table-layout: fixed;
}
.keypad-row {
	display: table-row;
}
.keypad-key {
	display: table-cell;
	padding: 1.2rem 0 0 1.4rem;
	box-sizing: border-box;
	height: 20%;
	vertical-align: middle;
	color: #333;
	font-size: 5rem;
	line-height: 1rem;
	overflow: hidden;
	text-align: left;
	height:100px;
}
.keypad-key:hover {
	cursor:pointer;
}
.keypad-key span {
	width: 1.4rem;
	display: inline-block;
	overflow: visible;
}
.keypad-key em {
	display: inline-block;
	font-size: 0.9rem;
	color: #038282;
	font-style: normal;
}
.voicemail {
	background-image: url('actionicon_dialer_voicemail.png');
	background-size: 3rem;
	background-position: -0.4rem -0.1rem;
}
.keypad-subicon {
	background-repeat: no-repeat;
	pointer-events: none;
	display: inline-block;
	width: 2rem;
	height: 1rem;
	background-size: 72%;
	background-position: bottom left;
}
#keypad-callbar-call-action {
	width:95%;
	margin:10px 0;
	background-image: url("actionicon_activecall_pickup.png");
	background-color: #00adad;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 4rem 4rem;
	border-radius: 2rem;
	height: 4rem;
	border:1px solid #ddd;
}
.big {
	width:60px;
	height:60px;
	padding:10px;
	display:inline-block;
	margin:10px 0;
	border-radius: 30px;
	border:1px solid #ddd;
}

.icon {
	background-size: 35px;
	background-position: center center;
	background-repeat:no-repeat;
}

.static {
	/*background-color: #00adad;*/
}


/* MULTIPLE TABS */

h1, h2, h3, h4 {
	padding:10px;
	border-bottom: 1px solid #00adad;
	text-align:left;
	color:#00adad;
	margin-bottom:10px;
}

#tab_settings h3 {
	color:orange;
	border-bottom: 1px solid orange;
}

/* TABS EDIT & SETTINGS */

input[type="text"], textarea {
	width:100%;
	background:#eee;
	border-radius:5px;
	border:1px solid #ddd;
	font-weight:bold;
	appearance: none;
	font-size: initial;
	padding: 8px;
	margin: 2px 0;
}
input:hover, textarea:hover {
	background: #f1e767; /* Old browsers */
	background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%); /* W3C */

}
input:focus, textarea:focus {
	border:1px solid #aaa;
}

/*
ul {
	margin:0;
	padding:0;
	list-style-type:none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: stretch;
	justify-content: flex-start;
}
li {
	background: linear-gradient(to bottom, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%);
	border: 1px solid black;
	margin: 2px 0;
	text-align: left;
	display: inline-block;
	padding: 10px;
	border-radius: 5px;
	flex: auto;
}
li.selected {
	background: linear-gradient(to bottom, rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%);
}
*/

/* TAB CALL */

.number {
	font-size:20px;
	font-weight:bold;
}

.call_number {
	text-align:center;
	margin:20px 0;
	font-weight:bold;
	border-bottom:1px solid #ddd;
}
.row1 {
	display:table;
	margin:0 auto;
	width: 100%;
}
.row2, .row3 {
	display: block;
	width: 100%;
}
.col1, .col2, .col3 {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.col1 {
	width: 20%;
	max-width: 20%;
}
.col2 {
	width: 60%;
	max-width: 60%;
}
.col3 {
}
.col31 {
	display: inline-block;
	width: 30%;
	text-align: left;
}
.col32 {
	display: inline-block;
	width: 60%;
	text-align: right;
}
.deflect {
	display: block;	
}
#calls_details {
	margin:20px 0;
	border-bottom:1px solid #ddd;
	text-align:left;
}
button.tel {
	width:69%;
}
button.sms {
	width:29%;
}
button.email {
	width:98%;
}

.icon_keypad_mute {
	background-image:url('../icons/mute.off.svg');
}
.icon_keypad_speaker {
	background-image:url('../icons/speaker.off.svg');
}
#button_keypad-mute.selected span {
	background-image:url('../icons/mute.on.svg');
}
#button_keypad-speaker.selected span.icon_keypad_speaker {
	background-image:url('../icons/speaker.on.svg');
}

.icon_accept {
	background-image:url('../icons/accept.svg');
}
.icon_deflect {
	background-image:url('../icons/deflect.svg');
}
.icon_deflect_confirm {
	background-image:url('../icons/deflect.confirm.svg');
}
.icon_deflect_cancel {
	background-image:url('../icons/deflect.cancel.svg');
}
.icon_hold_and_accept {
	background-image:url('../icons/hold_and_accept.svg');
}
.icon_hang_and_accept {
	background-image:url('../icons/hang_and_accept.svg');
}
.icon_join {
	background-image:url('../icons/join_multiparty.svg');
}
.icon_leave {
	background-image:url('../icons/leave_multiparty.svg');
}
.icon_hangup {
	background-image:url('../icons/hangup.svg');
}
.icon_recall {
	background-image:url('../icons/recall.svg');
	opacity: 0.5;
}

/* TAB HISTORY */

.icon_edit_caller {
	background-image:url('../icons/person-fill.svg');	
	opacity: 0.5;
}

.icon_john_doe {
	background-image:url('../icons/person-bounding-box.svg');	
	opacity: 0.5;
}

/* remove border on focus */

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

button.action span {
	width: 100%;
	height: 100%;
	display: inline-block;
}

.bg_01 { background: linear-gradient(to bottom,rgba(225,149,94,1) 0%,rgba(184,125,59,1) 44%,rgba(138,93,22,1) 100%); }
.bg_02 { background: linear-gradient(to bottom,rgba(222,170,93,1) 0%,rgba(184,150,59,1) 44%,rgba(135,118,21,1) 100%); }
.bg_03 { background: linear-gradient(to bottom,rgba(222,170,93,1) 0%,rgba(184,150,59,1) 44%,rgba(135,118,21,1) 100%); }
.bg_04 { background: linear-gradient(to bottom,rgba(222,216,93,1) 0%,rgba(184,177,59,1) 44%,rgba(158,158,28,1) 100%); }
.bg_05 { background: linear-gradient(to bottom,rgba(196,219,92,1) 0%,rgba(152,184,59,1) 44%,rgba(125,158,28,1) 100%); }
.bg_06 { background: linear-gradient(to bottom,rgba(170,212,93,1) 0%,rgba(124,171,54,1) 44%,rgba(91,158,28,1) 100%); }
.bg_07 { background: linear-gradient(to bottom,rgba(136,222,93,1) 0%,rgba(95,171,54,1) 44%,rgba(51,155,27,1) 100%); }
.bg_08 { background: linear-gradient(to bottom,rgba(94,225,116,1) 0%,rgba(56,176,68,1) 44%,rgba(26,153,64,1) 100%); }
.bg_09 { background: linear-gradient(to bottom,rgba(94,225,177,1) 0%,rgba(57,178,128,1) 44%,rgba(26,153,104,1) 100%); }
.bg_10 { background: linear-gradient(to bottom,rgba(94,225,216,1) 0%,rgba(57,178,178,1) 44%,rgba(25,148,148,1) 100%); }
.bg_11 { background: linear-gradient(to bottom,rgba(94,188,225,1) 0%,rgba(57,146,178,1) 44%,rgba(24,111,145,1) 100%); }
.bg_12 { background: linear-gradient(to bottom,rgba(94,157,225,1) 0%,rgba(57,122,178,1) 44%,rgba(24,69,145,1) 100%); }
.bg_13 { background: linear-gradient(to bottom,rgba(94,129,225,1) 0%,rgba(58,89,181,1) 44%,rgba(24,69,145,1) 100%); }
.bg_14 { background: linear-gradient(to bottom,rgba(94,99,225,1) 0%,rgba(60,58,181,1) 44%,rgba(24,36,145,1) 100%); }
.bg_15 { background: linear-gradient(to bottom,rgba(121,93,222,1) 0%,rgba(93,57,178,1) 44%,rgba(72,25,148,1) 100%); }
.bg_16 { background: linear-gradient(to bottom,rgba(166,93,222,1) 0%,rgba(132,58,181,1) 44%,rgba(109,26,150,1) 100%); }
.bg_17 { background: linear-gradient(to bottom,rgba(205,94,225,1) 0%,rgba(173,59,184,1) 44%,rgba(140,24,140,1) 100%); }
.bg_18 { background: linear-gradient(to bottom,rgba(225,94,207,1) 0%,rgba(184,59,175,1) 44%,rgba(135,23,107,1) 100%); }
.bg_19 { background: linear-gradient(to bottom,rgba(222,93,162,1) 0%,rgba(189,61,140,1) 44%,rgba(135,23,68,1) 100%); }
.bg_20 { background: linear-gradient(to bottom,rgba(225,94,131,1) 0%,rgba(186,60,96,1) 44%,rgba(130,22,51,1) 100%); }

