			<!-- TAB MAIN -->
			<div id="tab_main" class="tab fixed">
				<div class="header">
					<div class="absright">
						<span class="rounded menu icon_new" id="button_new"></span>
						<span class="rounded menu icon_contacts" id="button_contacts"></span>
						<span class="rounded menu icon_menu" id="button_settings_open"></span>
					</div>
					<div class="absleft">
						<p id="button_log_open">
						<span id="Storcka">Storcka</span></span>
						</p>
					</div>
				</div>	
				<div id="research">
					<input type="text" name="selector_kws" id="selector_kws" placeholder="?" />
					<button type="button" id="selector_clear_kws">&#9003;</button>
				</div>
				<div class="body overflow" style="top:91px">
				    <div id="messages_list1"></div>
				</div>
			</div>
			<!-- TAB MESSAGE -->
			<div id="tab_message" class="tab fixed">
				<div class="header">
					<div class="absleft">
						<span class="rounded menu icon_backward" id="button_message_close"></span>
					</div>
					<div class="contact">
						<div class="big" id="messages_icon">
							<span class="icon icon_people"> </span>
						</div>
						<p>
							<span id="list_number"></span>
						</p>
					</div>
					<div class="absright"></div>
				</div>
				<div class="footer">
					<form name="form0" method="post" enctype="multipart/form-data">
						<div class="col51">
							<button type="button" id="button_join">
								<span class="icon icon_join">&nbsp;</span>
							</button>					
							<button type="button" id="button_emotes">
								<span class="icon icon_emotes">&nbsp;</span>
							</button>					
						</div>
						<div class="col52">
							<textarea name="edito" id="editor_text" rows="1"></textarea>
						</div>
						<div class="col53">
							<button type="button" id="button_submit">
								<span class="icon icon_submit">&nbsp;</span>						
							</button>					
						</div>
					</form>
				</div>
				<div class="body overflow">
					<input type="file" name="files[]" id="files" multiple="multiple"/>
					<div id="messages_list2">
					</div>
				</div>
			</div>
			<!-- TAB EMOTE -->
			<div id="tab_emotes" class="tab fixed">
				<div class="header">
					<div class="absleft">
						<span class="rounded menu icon_backward" id="button_emotes_close"></span>
					</div>
					<div class="absright">
					</div>
					<p id="label_emotes">Emotes</p>
				</div>
				<div class="body overflow with_padding">
					<!-- from Pandemy (WebRTC/Chat client) - cf. www.alsatux.com -->
					<div id="emotes_body">
						<!-- face-smiling (Visages/Sourires) -->
						<span>😀</span> <span>😃</span> <span>😄</span> <span>😁</span> <span>😆</span> <span>😅</span> <span>🤣</span> <span>😂</span> <span>🙂</span> <span>🙃</span> <span>😉</span> <span>😊</span> <span>😇</span> 
						<!-- face-affection (Visages/Affection) -->
						<span>🥰</span> <span>😍</span> <span>🤩</span> <span>😘</span> <span>😗</span> <span>☺</span> <span>😚</span> <span>😙</span> 
						<!-- face-tongue (Visages/Langue) -->
						<span>😋</span> <span>😛</span> <span>😜</span> <span>🤪</span> <span>😝</span> <span>🤑</span> 
						<!-- face-hand (Visages/Mains) -->
						<span>🤗</span> <span>🤭</span> <span>🤫</span> <span>🤔</span> 
						<!-- face-neutral-skeptical (Visages/Sceptiques) -->
						<span>🤐</span> <span>🤨</span> <span>😐</span> <span>😑</span> <span>😶</span> <span>😏</span> <span>😒</span> <span>🙄</span> <span>😬</span> <span>🤥</span> 
						<!-- face-sleepy (Visages/Fatigués) -->
						<span>😌</span> <span>😔</span> <span>😪</span> <span>🤤</span> <span>😴</span> 
						<!-- face-unwell (Visages/Malades) -->
						<span>😷</span> <span>🤒</span> <span>🤕</span> <span>🤢</span> <span>🤮</span> <span>🤧</span> <span>🥵</span> <span>🥶</span> <span>🥴</span> <span>😵</span> <span>🤯</span> 
						<!-- face-hat (Visages/Chapeaux) -->
						<span>🤠</span> <span>🥳</span> 
						<!-- face-glasses (Visages/Lunettes) -->
						<span>😎</span> <span>🤓</span> <span>🧐</span> 
						<!-- face-concerned (Visages/Compatissants) -->
						<span>😕</span> <span>😟</span> <span>🙁</span> <span>☹</span> <span>😮</span> <span>😯</span> <span>😲</span> <span>😳</span> <span>🥺</span> <span>😦</span> <span>😧</span> <span>😨</span> <span>😰</span> <span>😥</span> <span>😢</span> <span>😭</span> <span>😱</span> <span>😖</span> <span>😣</span> <span>😞</span> <span>😓</span> <span>😩</span> <span>😫</span> 
						<!-- face-negative (Visages/Agressifs) -->
						<span>😤</span> <span>😡</span> <span>😠</span> <span>🤬</span> <span>😈</span> <span>👿</span> <span>💀</span> <span>☠</span> 
						<!-- face-costume (Visages/Costumes) -->
						<span>💩</span> <span>🤡</span> <span>👹</span> <span>👺</span> <span>👻</span> <span>👽</span> <span>👾</span> <span>🤖</span> 
						<!-- cat-face (Chats) -->
						<span>😺</span> <span>😸</span> <span>😹</span> <span>😻</span> <span>😼</span> <span>😽</span> <span>🙀</span> <span>😿</span> <span>😾</span> 
						<!-- monkey-face (Singes) -->
						<span>🙈</span> <span>🙉</span> <span>🙊</span> 
						<!-- emotion (Emotions) -->
						<span>💋</span> <span>💌</span> <span>💘</span> <span>💝</span> <span>💖</span> <span>💗</span> <span>💓</span> <span>💞</span> <span>💕</span> <span>💟</span> <span>❣</span> <span>💔</span> <span>❤</span> <span>🧡</span> <span>💛</span> <span>💚</span> <span>💙</span> <span>💜</span> <span>🖤</span> <span>🤍</span> <span>💯</span> <span>💢</span> <span>💥</span> <span>💫</span> <span>💦</span> <span>💨</span> <span>🕳</span> <span>💣</span> <span>💬</span> <!-- span>👁️‍🗨️</span --> <span>🗨</span> <span>🗯</span> <span>💭</span> <span>💤</span> 
						<!-- hand-fingers-open (Main/Doigts ouverts) -->
						<span>👋</span> <span>🤚</span> <span>🖐</span> <span>✋</span> <span>🖖</span> 
						<!-- hand-fingers-partial (Main/Doigts multiples) -->
						<span>👌</span> <!-- span>🤌</span --> <!-- span>🤏</span --> <span>✌</span> <span>🤞</span> <span>🤟</span> <span>🤘</span> <span>🤙</span> 
						<!-- hand-single-finger (Main/Doigt unique) -->
						<span>👈</span> <span>👉</span> <span>👆</span> <span>🖕</span> <span>👇</span> <span>☝</span> 
						<!-- hand-fingers-closed (Main/Doigts fermés) -->
						<span>👍</span> <span>👎</span> <span>✊</span> <span>👊</span> <span>🤛</span> <span>🤜</span> 
						<!-- hands (Deux Mains) -->
						<span>👏</span> <span>🙌</span> <span>👐</span> <span>🤲</span> <span>🤝</span> <span>🙏</span> 
						<!-- hand-prop (Main/Action) -->
						<span>✍</span> <span>💅</span> <span>🤳</span> 
						<!-- body-parts (Corps humain) -->
						<span>💪</span> <!-- span>🦾</span --> <!-- span>🦿</span --> <span>🦵</span> <span>🦶</span> <span>👂</span> <!-- span>🦻</span --> <span>👃</span> <span>🧠</span> <!-- span>🫀</span --> <!-- span>🫁</span --> <span>🦷</span> <span>🦴</span> <span>👀</span> <span>👁</span> <span>👅</span> <span>👄</span> 
						<!-- person (Personnes) -->
						<span>👶</span> <span>🧒</span> <span>👦</span> <span>👧</span> <span>🧑</span> <span>👱</span> <span>👨</span> <span>🧔</span> <!-- span>👨‍🦰</span --> <!-- span>👨‍🦱</span --> <!-- span>👨‍🦳</span --> <!-- span>👨‍🦲</span --> <span>👩</span> <!-- span>👩‍🦰</span --> <!-- span>🧑‍🦰</span --> <!-- span>👩‍🦱</span --> <!-- span>🧑‍🦱</span --> <!-- span>👩‍🦳</span --> <!-- span>🧑‍🦳</span --> <!-- span>👩‍🦲</span --> <!-- span>🧑‍🦲</span --> <!-- span>👱‍♀️</span --> <!-- span>👱‍♂️</span --> <span>🧓</span> <span>👴</span> <span>👵</span> 
						<!-- person-gesture (Personnes/Gestes) -->
						<span>🙍</span> <!-- span>🙍‍♂️</span --> <!-- span>🙍‍♀️</span --> <span>🙎</span> <!-- span>🙎‍♂️</span --> <!-- span>🙎‍♀️</span --> <span>🙅</span> <!-- span>🙅‍♂️</span --> <!-- span>🙅‍♀️</span --> <span>🙆</span> <!-- span>🙆‍♂️</span --> <!-- span>🙆‍♀️</span --> <span>💁</span> <!-- span>💁‍♂️</span --> <!-- span>💁‍♀️</span --> <span>🙋</span> <!-- span>🙋‍♂️</span --> <!-- span>🙋‍♀️</span --> <!-- span>🧏</span --> <!-- span>🧏‍♂️</span --> <!-- span>🧏‍♀️</span --> <span>🙇</span> <!-- span>🙇‍♂️</span --> <!-- span>🙇‍♀️</span --> <span>🤦</span> <!-- span>🤦‍♂️</span --> <!-- span>🤦‍♀️</span --> <span>🤷</span> <!-- span>🤷‍♂️</span --> <!-- span>🤷‍♀️</span --> 
						<!-- person-role (Personnes/Rôles) -->
						<!-- span>🧑‍⚕️</span --> <!-- span>👨‍⚕️</span --> <!-- span>👩‍⚕️</span --> <!-- span>🧑‍🎓</span --> <!-- span>👨‍🎓</span --> <!-- span>👩‍🎓</span --> <!-- span>🧑‍🏫</span --> <!-- span>👨‍🏫</span --> <!-- span>👩‍🏫</span --> <!-- span>🧑‍⚖️</span --> <!-- span>👨‍⚖️</span --> <!-- span>👩‍⚖️</span --> <!-- span>🧑‍🌾</span --> <!-- span>👨‍🌾</span --> <!-- span>👩‍🌾</span --> <!-- span>🧑‍🍳</span --> <!-- span>👨‍🍳</span --> <!-- span>👩‍🍳</span --> <!-- span>🧑‍🔧</span --> <!-- span>👨‍🔧</span --> <!-- span>👩‍🔧</span --> <!-- span>🧑‍🏭</span --> <!-- span>👨‍🏭</span --> <!-- span>👩‍🏭</span --> <!-- span>🧑‍💼</span --> <!-- span>👨‍💼</span --> <!-- span>👩‍💼</span --> <!-- span>🧑‍🔬</span --> <!-- span>👨‍🔬</span --> <!-- span>👩‍🔬</span --> <!-- span>🧑‍💻</span --> <!-- span>👨‍💻</span --> <!-- span>👩‍💻</span --> <!-- span>🧑‍🎤</span --> <!-- span>👨‍🎤</span --> <!-- span>👩‍🎤</span --> <!-- span>🧑‍🎨</span --> <!-- span>👨‍🎨</span --> <!-- span>👩‍🎨</span --> <!-- span>🧑‍✈️</span --> <!-- span>👨‍✈️</span --> <!-- span>👩‍✈️</span --> <!-- span>🧑‍🚀</span --> <!-- span>👨‍🚀</span --> <!-- span>👩‍🚀</span --> <!-- span>🧑‍🚒</span --> <!-- span>👨‍🚒</span --> <!-- span>👩‍🚒</span --> <span>👮</span> <!-- span>👮‍♂️</span --> <!-- span>👮‍♀️</span --> <span>🕵</span> <!-- span>🕵️‍♂️</span --> <!-- span>🕵️‍♀️</span --> <span>💂</span> <!-- span>💂‍♂️</span --> <!-- span>💂‍♀️</span --> <!-- span>🥷</span --> <span>👷</span> <!-- span>👷‍♂️</span --> <!-- span>👷‍♀️</span --> <span>🤴</span> <span>👸</span> <span>👳</span> <!-- span>👳‍♂️</span --> <!-- span>👳‍♀️</span --> <span>👲</span> <span>🧕</span> <span>🤵</span> <!-- span>🤵‍♂️</span --> <!-- span>🤵‍♀️</span --> <span>👰</span> <!-- span>👰‍♂️</span --> <!-- span>👰‍♀️</span --> <span>🤰</span> <span>🤱</span> <!-- span>👩‍🍼</span --> <!-- span>👨‍🍼</span --> <!-- span>🧑‍🍼</span --> 
						<!-- person-fantasy (Personnes/Fantaisie) -->
						<span>👼</span> <span>🎅</span> <span>🤶</span> <!-- span>🧑‍🎄</span --> <span>🦸</span> <!-- span>🦸‍♂️</span --> <!-- span>🦸‍♀️</span --> <span>🦹</span> <!-- span>🦹‍♂️</span --> <!-- span>🦹‍♀️</span --> <span>🧙</span> <!-- span>🧙‍♂️</span --> <!-- span>🧙‍♀️</span --> <span>🧚</span> <!-- span>🧚‍♂️</span --> <!-- span>🧚‍♀️</span --> <span>🧛</span> <!-- span>🧛‍♂️</span --> <!-- span>🧛‍♀️</span --> <span>🧜</span> <!-- span>🧜‍♂️</span --> <!-- span>🧜‍♀️</span --> <span>🧝</span> <!-- span>🧝‍♂️</span --> <!-- span>🧝‍♀️</span --> <span>🧞</span> <!-- span>🧞‍♂️</span --> <!-- span>🧞‍♀️</span --> <span>🧟</span> <!-- span>🧟‍♂️</span --> <!-- span>🧟‍♀️</span --> 
						<!-- person-activity (Personnes/Activités) -->
						<span>💆</span> <!-- span>💆‍♂️</span --> <!-- span>💆‍♀️</span --> <span>💇</span> <!-- span>💇‍♂️</span --> <!-- span>💇‍♀️</span --> <span>🚶</span> <!-- span>🚶‍♂️</span --> <!-- span>🚶‍♀️</span --> <!-- span>🧍</span --> <!-- span>🧍‍♂️</span --> <!-- span>🧍‍♀️</span --> <!-- span>🧎</span --> <!-- span>🧎‍♂️</span --> <!-- span>🧎‍♀️</span --> <!-- span>🧑‍🦯</span --> <!-- span>👨‍🦯</span --> <!-- span>👩‍🦯</span --> <!-- span>🧑‍🦼</span --> <!-- span>👨‍🦼</span --> <!-- span>👩‍🦼</span --> <!-- span>🧑‍🦽</span --> <!-- span>👨‍🦽</span --> <!-- span>👩‍🦽</span --> <span>🏃</span> <!-- span>🏃‍♂️</span --> <!-- span>🏃‍♀️</span --> <span>💃</span> <span>🕺</span> <span>🕴</span> <span>👯</span> <!-- span>👯‍♂️</span --> <!-- span>👯‍♀️</span --> <span>🧖</span> <!-- span>🧖‍♂️</span --> <!-- span>🧖‍♀️</span --> <span>🧗</span> <!-- span>🧗‍♂️</span --> <!-- span>🧗‍♀️</span --> 
						<!-- person-sport (Personnes/Sport) -->
						<span>🤺</span> <span>🏇</span> <span>⛷</span> <span>🏂</span> <span>🏌</span> <!-- span>🏌️‍♂️</span --> <!-- span>🏌️‍♀️</span --> <span>🏄</span> <!-- span>🏄‍♂️</span --> <!-- span>🏄‍♀️</span --> <span>🚣</span> <!-- span>🚣‍♂️</span --> <!-- span>🚣‍♀️</span --> <span>🏊</span> <!-- span>🏊‍♂️</span --> <!-- span>🏊‍♀️</span --> <span>⛹</span> <!-- span>⛹️‍♂️</span --> <!-- span>⛹️‍♀️</span --> <span>🏋</span> <!-- span>🏋️‍♂️</span --> <!-- span>🏋️‍♀️</span --> <span>🚴</span> <!-- span>🚴‍♂️</span --> <!-- span>🚴‍♀️</span --> <span>🚵</span> <!-- span>🚵‍♂️</span --> <!-- span>🚵‍♀️</span --> <span>🤸</span> <!-- span>🤸‍♂️</span --> <!-- span>🤸‍♀️</span --> <span>🤼</span> <!-- span>🤼‍♂️</span --> <!-- span>🤼‍♀️</span --> <span>🤽</span> <!-- span>🤽‍♂️</span --> <!-- span>🤽‍♀️</span --> <span>🤾</span> <!-- span>🤾‍♂️</span --> <!-- span>🤾‍♀️</span --> <span>🤹</span> <!-- span>🤹‍♂️</span --> <!-- span>🤹‍♀️</span --> 
						<!-- person-resting (Personnes/Repos) -->
						<span>🧘</span> <!-- span>🧘‍♂️</span --> <!-- span>🧘‍♀️</span --> <span>🛀</span> <span>🛌</span> 
						<!-- family (Famille) -->
						<!-- span>🧑‍🤝‍🧑</span --> <span>👭</span> <span>👫</span> <span>👬</span> <span>💏</span> <!-- span>👩‍❤️‍💋‍👨</span --> <!-- span>👨‍❤️‍💋‍👨</span --> <!-- span>👩‍❤️‍💋‍👩</span --> <span>💑</span> <!-- span>👩‍❤️‍👨</span --> <!-- span>👨‍❤️‍👨</span --> <!-- span>👩‍❤️‍👩</span --> <span>👪</span> <!-- span>👨‍👩‍👦</span --> <!-- span>👨‍👩‍👧</span --> <!-- span>👨‍👩‍👧‍👦</span --> <!-- span>👨‍👩‍👦‍👦</span --> <!-- span>👨‍👩‍👧‍👧</span --> <!-- span>👨‍👨‍👦</span --> <!-- span>👨‍👨‍👧</span --> <!-- span>👨‍👨‍👧‍👦</span --> <!-- span>👨‍👨‍👦‍👦</span --> <!-- span>👨‍👨‍👧‍👧</span --> <!-- span>👩‍👩‍👦</span --> <!-- span>👩‍👩‍👧</span --> <!-- span>👩‍👩‍👧‍👦</span --> <!-- span>👩‍👩‍👦‍👦</span --> <!-- span>👩‍👩‍👧‍👧</span --> <!-- span>👨‍👦</span --> <!-- span>👨‍👦‍👦</span --> <!-- span>👨‍👧</span --> <!-- span>👨‍👧‍👦</span --> <!-- span>👨‍👧‍👧</span --> <!-- span>👩‍👦</span --> <!-- span>👩‍👦‍👦</span --> <!-- span>👩‍👧</span --> <!-- span>👩‍👧‍👦</span --> <!-- span>👩‍👧‍👧</span --> 
						<!-- person-symbol (Personne/Symbole) -->
						<span>🗣</span> <span>👤</span> <span>👥</span> <!-- span>🫂</span --> <span>👣</span> 
						<!-- hair-style (Coupe de cheveu) -->
						<span>🦰</span> <span>🦱</span> <span>🦳</span> <span>🦲</span> 
						<!-- animal-mammal (Mammifères) -->
						<span>🐵</span> <span>🐒</span> <span>🦍</span> <!-- span>🦧</span --> <span>🐶</span> <span>🐕</span> <!-- span>🦮</span --> <!-- span>🐕‍🦺</span --> <span>🐩</span> <span>🐺</span> <span>🦊</span> <span>🦝</span> <span>🐱</span> <span>🐈</span> <!-- span>🐈‍⬛</span --> <span>🦁</span> <span>🐯</span> <span>🐅</span> <span>🐆</span> <span>🐴</span> <span>🐎</span> <span>🦄</span> <span>🦓</span> <span>🦌</span> <!-- span>🦬</span --> <span>🐮</span> <span>🐂</span> <span>🐃</span> <span>🐄</span> <span>🐷</span> <span>🐖</span> <span>🐗</span> <span>🐽</span> <span>🐏</span> <span>🐑</span> <span>🐐</span> <span>🐪</span> <span>🐫</span> <span>🦙</span> <span>🦒</span> <span>🐘</span> <!-- span>🦣</span --> <span>🦏</span> <span>🦛</span> <span>🐭</span> <span>🐁</span> <span>🐀</span> <span>🐹</span> <span>🐰</span> <span>🐇</span> <span>🐿</span> <!-- span>🦫</span --> <span>🦔</span> <span>🦇</span> <span>🐻</span> <!-- span>🐻‍❄️</span --> <span>🐨</span> <span>🐼</span> <!-- span>🦥</span --> <!-- span>🦦</span --> <!-- span>🦨</span --> <span>🦘</span> <span>🦡</span> <span>🐾</span> 
						<!-- animal-bird (Oiseaux) -->
						<span>🦃</span> <span>🐔</span> <span>🐓</span> <span>🐣</span> <span>🐤</span> <span>🐥</span> <span>🐦</span> <span>🐧</span> <span>🕊</span> <span>🦅</span> <span>🦆</span> <span>🦢</span> <span>🦉</span> <!-- span>🦤</span --> <!-- span>🪶</span --> <!-- span>🦩</span --> <span>🦚</span> <span>🦜</span> 
						<!-- animal-amphibian (Amphibiens) -->
						<span>🐸</span> 
						<!-- animal-reptile (Reptiles) -->
						<span>🐊</span> <span>🐢</span> <span>🦎</span> <span>🐍</span> <span>🐲</span> <span>🐉</span> <span>🦕</span> <span>🦖</span> 
						<!-- animal-marine (Faune marine) -->
						<span>🐳</span> <span>🐋</span> <span>🐬</span> <!-- span>🦭</span --> <span>🐟</span> <span>🐠</span> <span>🐡</span> <span>🦈</span> <span>🐙</span> <span>🐚</span> 
						<!-- animal-bug (Insectes) -->
						<span>🐌</span> <span>🦋</span> <span>🐛</span> <span>🐜</span> <span>🐝</span> <!-- span>🪲</span --> <span>🐞</span> <span>🦗</span> <!-- span>🪳</span --> <span>🕷</span> <span>🕸</span> <span>🦂</span> <span>🦟</span> <!-- span>🪰</span --> <!-- span>🪱</span --> <span>🦠</span> 
						<!-- plant-flower (Fleurs) -->
						<span>💐</span> <span>🌸</span> <span>💮</span> <span>🏵</span> <span>🌹</span> <span>🥀</span> <span>🌺</span> <span>🌻</span> <span>🌼</span> <span>🌷</span> 
						<!-- plant-other (Autres plantes) -->
						<span>🌱</span> <!-- span>🪴</span --> <span>🌲</span> <span>🌳</span> <span>🌴</span> <span>🌵</span> <span>🌾</span> <span>🌿</span> <span>☘</span> <span>🍀</span> <span>🍁</span> <span>🍂</span> <span>🍃</span> 
						<!-- food-fruit (Fruits) -->
						<span>🍇</span> <span>🍈</span> <span>🍉</span> <span>🍊</span> <span>🍋</span> <span>🍌</span> <span>🍍</span> <span>🥭</span> <span>🍎</span> <span>🍏</span> <span>🍐</span> <span>🍑</span> <span>🍒</span> <span>🍓</span> <!-- span>🫐</span --> <span>🥝</span> <span>🍅</span> <!-- span>🫒</span --> <span>🥥</span> 
						<!-- food-vegetable (Légumes) -->
						<span>🥑</span> <span>🍆</span> <span>🥔</span> <span>🥕</span> <span>🌽</span> <span>🌶</span> <!-- span>🫑</span --> <span>🥒</span> <span>🥬</span> <span>🥦</span> <!-- span>🧄</span --> <!-- span>🧅</span --> <span>🍄</span> <span>🥜</span> <span>🌰</span> 
						<!-- food-prepared (Nourriture) -->
						<span>🍞</span> <span>🥐</span> <span>🥖</span> <!-- span>🫓</span --> <span>🥨</span> <span>🥯</span> <span>🥞</span> <!-- span>🧇</span --> <span>🧀</span> <span>🍖</span> <span>🍗</span> <span>🥩</span> <span>🥓</span> <span>🍔</span> <span>🍟</span> <span>🍕</span> <span>🌭</span> <span>🥪</span> <span>🌮</span> <span>🌯</span> <!-- span>🫔</span --> <span>🥙</span> <!-- span>🧆</span --> <span>🥚</span> <span>🍳</span> <span>🥘</span> <span>🍲</span> <!-- span>🫕</span --> <span>🥣</span> <span>🥗</span> <span>🍿</span> <!-- span>🧈</span --> <span>🧂</span> <span>🥫</span> 
						<!-- food-asian (Nourriture/Asiatique) -->
						<span>🍱</span> <span>🍘</span> <span>🍙</span> <span>🍚</span> <span>🍛</span> <span>🍜</span> <span>🍝</span> <span>🍠</span> <span>🍢</span> <span>🍣</span> <span>🍤</span> <span>🍥</span> <span>🥮</span> <span>🍡</span> <span>🥟</span> <span>🥠</span> <span>🥡</span> 
						<!-- food-marine (Nourriture/Fruits de Mer) -->
						<span>🦀</span> <span>🦞</span> <span>🦐</span> <span>🦑</span> <!-- span>🦪</span --> 
						<!-- food-sweet (Nourriture/Patisseries) -->
						<span>🍦</span> <span>🍧</span> <span>🍨</span> <span>🍩</span> <span>🍪</span> <span>🎂</span> <span>🍰</span> <span>🧁</span> <span>🥧</span> <span>🍫</span> <span>🍬</span> <span>🍭</span> <span>🍮</span> <span>🍯</span> 
						<!-- drink (Boissons) -->
						<span>🍼</span> <span>🥛</span> <span>☕</span> <!-- span>🫖</span --> <span>🍵</span> <span>🍶</span> <span>🍾</span> <span>🍷</span> <span>🍸</span> <span>🍹</span> <span>🍺</span> <span>🍻</span> <span>🥂</span> <span>🥃</span> <span>🥤</span> <!-- span>🧋</span --> <!-- span>🧃</span --> <!-- span>🧉</span --> <!-- span>🧊</span --> 
						<!-- dishware (Couverts) -->
						<span>🥢</span> <span>🍽</span> <span>🍴</span> <span>🥄</span> <span>🔪</span> <span>🏺</span> 
						<!-- place-map (Lieux) -->
						<span>🌍</span> <span>🌎</span> <span>🌏</span> <span>🌐</span> <span>🗺</span> <span>🗾</span> <span>🧭</span> 
						<!-- place-geographic (Lieux géographiques) -->
						<span>🏔</span> <span>⛰</span> <span>🌋</span> <span>🗻</span> <span>🏕</span> <span>🏖</span> <span>🏜</span> <span>🏝</span> <span>🏞</span> 
						<!-- place-building (Bâtiments) -->
						<span>🏟</span> <span>🏛</span> <span>🏗</span> <span>🧱</span> <!-- span>🪨</span --> <!-- span>🪵</span --> <!-- span>🛖</span --> <span>🏘</span> <span>🏚</span> <span>🏠</span> <span>🏡</span> <span>🏢</span> <span>🏣</span> <span>🏤</span> <span>🏥</span> <span>🏦</span> <span>🏨</span> <span>🏩</span> <span>🏪</span> <span>🏫</span> <span>🏬</span> <span>🏭</span> <span>🏯</span> <span>🏰</span> <span>💒</span> <span>🗼</span> <span>🗽</span> 
						<!-- place-religious (Lieux de cultes) -->
						<span>⛪</span> <span>🕌</span> <!-- span>🛕</span --> <span>🕍</span> <span>⛩</span> <span>🕋</span> 
						<!-- place-other (Autres lieux) -->
						<span>⛲</span> <span>⛺</span> <span>🌁</span> <span>🌃</span> <span>🏙</span> <span>🌄</span> <span>🌅</span> <span>🌆</span> <span>🌇</span> <span>🌉</span> <span>♨</span> <span>🎠</span> <span>🎡</span> <span>🎢</span> <span>💈</span> <span>🎪</span> 
						<!-- transport-ground (Transports terrestres) -->
						<span>🚂</span> <span>🚃</span> <span>🚄</span> <span>🚅</span> <span>🚆</span> <span>🚇</span> <span>🚈</span> <span>🚉</span> <span>🚊</span> <span>🚝</span> <span>🚞</span> <span>🚋</span> <span>🚌</span> <span>🚍</span> <span>🚎</span> <span>🚐</span> <span>🚑</span> <span>🚒</span> <span>🚓</span> <span>🚔</span> <span>🚕</span> <span>🚖</span> <span>🚗</span> <span>🚘</span> <span>🚙</span> <!-- span>🛻</span --> <span>🚚</span> <span>🚛</span> <span>🚜</span> <span>🏎</span> <span>🏍</span> <span>🛵</span> <!-- span>🦽</span --> <!-- span>🦼</span --> <!-- span>🛺</span --> <span>🚲</span> <span>🛴</span> <span>🛹</span> <!-- span>🛼</span --> <span>🚏</span> <span>🛣</span> <span>🛤</span> <span>🛢</span> <span>⛽</span> <span>🚨</span> <span>🚥</span> <span>🚦</span> <span>🛑</span> <span>🚧</span> 
						<!-- transport-water (Navigation) -->
						<span>⚓</span> <span>⛵</span> <span>🛶</span> <span>🚤</span> <span>🛳</span> <span>⛴</span> <span>🛥</span> <span>🚢</span> 
						<!-- transport-air (Transport aérien) -->
						<span>✈</span> <span>🛩</span> <span>🛫</span> <span>🛬</span> <!-- span>🪂</span --> <span>💺</span> <span>🚁</span> <span>🚟</span> <span>🚠</span> <span>🚡</span> <span>🛰</span> <span>🚀</span> <span>🛸</span> 
						<!-- hotel (Hôtel) -->
						<span>🛎</span> <span>🧳</span> 
						<!-- time (Temps) -->
						<span>⌛</span> <span>⏳</span> <span>⌚</span> <span>⏰</span> <span>⏱</span> <span>⏲</span> <span>🕰</span> <span>🕛</span> <span>🕧</span> <span>🕐</span> <span>🕜</span> <span>🕑</span> <span>🕝</span> <span>🕒</span> <span>🕞</span> <span>🕓</span> <span>🕟</span> <span>🕔</span> <span>🕠</span> <span>🕕</span> <span>🕡</span> <span>🕖</span> <span>🕢</span> <span>🕗</span> <span>🕣</span> <span>🕘</span> <span>🕤</span> <span>🕙</span> <span>🕥</span> <span>🕚</span> <span>🕦</span> 
						<!-- sky-and-weather (Ciel et météo) -->
						<span>🌑</span> <span>🌒</span> <span>🌓</span> <span>🌔</span> <span>🌕</span> <span>🌖</span> <span>🌗</span> <span>🌘</span> <span>🌙</span> <span>🌚</span> <span>🌛</span> <span>🌜</span> <span>🌡</span> <span>☀</span> <span>🌝</span> <span>🌞</span> <!-- span>🪐</span --> <span>⭐</span> <span>🌟</span> <span>🌠</span> <span>🌌</span> <span>☁</span> <span>⛅</span> <span>⛈</span> <span>🌤</span> <span>🌥</span> <span>🌦</span> <span>🌧</span> <span>🌨</span> <span>🌩</span> <span>🌪</span> <span>🌫</span> <span>🌬</span> <span>🌀</span> <span>🌈</span> <span>🌂</span> <span>☂</span> <span>☔</span> <span>⛱</span> <span>⚡</span> <span>❄</span> <span>☃</span> <span>⛄</span> <span>☄</span> <span>🔥</span> <span>💧</span> <span>🌊</span> 
						<!-- event (Événements) -->
						<span>🎃</span> <span>🎄</span> <span>🎆</span> <span>🎇</span> <span>🧨</span> <span>✨</span> <span>🎈</span> <span>🎉</span> <span>🎊</span> <span>🎋</span> <span>🎍</span> <span>🎎</span> <span>🎏</span> <span>🎐</span> <span>🎑</span> <span>🧧</span> <span>🎀</span> <span>🎁</span> <span>🎗</span> <span>🎟</span> <span>🎫</span> 
						<!-- award-medal (Décorations) -->
						<span>🎖</span> <span>🏆</span> <span>🏅</span> <span>🥇</span> <span>🥈</span> <span>🥉</span> 
						<!-- sport (Sport) -->
						<span>⚽</span> <span>⚾</span> <span>🥎</span> <span>🏀</span> <span>🏐</span> <span>🏈</span> <span>🏉</span> <span>🎾</span> <span>🥏</span> <span>🎳</span> <span>🏏</span> <span>🏑</span> <span>🏒</span> <span>🥍</span> <span>🏓</span> <span>🏸</span> <span>🥊</span> <span>🥋</span> <span>🥅</span> <span>⛳</span> <span>⛸</span> <span>🎣</span> <!-- span>🤿</span --> <span>🎽</span> <span>🎿</span> <span>🛷</span> <span>🥌</span> 
						<!-- game (Jeux) -->
						<span>🎯</span> <!-- span>🪀</span --> <!-- span>🪁</span --> <span>🎱</span> <span>🔮</span> <!-- span>🪄</span --> <span>🧿</span> <span>🎮</span> <span>🕹</span> <span>🎰</span> <span>🎲</span> <span>🧩</span> <span>🧸</span> <!-- span>🪅</span --> <!-- span>🪆</span --> <span>♠</span> <span>♥</span> <span>♦</span> <span>♣</span> <span>♟</span> <span>🃏</span> <span>🀄</span> <span>🎴</span> 
						<!-- art-and-crafts (Art et artisanat) -->
						<span>🎭</span> <span>🖼</span> <span>🎨</span> <span>🧵</span> <!-- span>🪡</span --> <span>🧶</span> <!-- span>🪢</span --> 
						<!-- clothing (Vêtements) -->
						<span>👓</span> <span>🕶</span> <span>🥽</span> <span>🥼</span> <!-- span>🦺</span --> <span>👔</span> <span>👕</span> <span>👖</span> <span>🧣</span> <span>🧤</span> <span>🧥</span> <span>🧦</span> <span>👗</span> <span>👘</span> <!-- span>🥻</span --> <!-- span>🩱</span --> <!-- span>🩲</span --> <!-- span>🩳</span --> <span>👙</span> <span>👚</span> <span>👛</span> <span>👜</span> <span>👝</span> <span>🛍</span> <span>🎒</span> <!-- span>🩴</span --> <span>👞</span> <span>👟</span> <span>🥾</span> <span>🥿</span> <span>👠</span> <span>👡</span> <!-- span>🩰</span --> <span>👢</span> <span>👑</span> <span>👒</span> <span>🎩</span> <span>🎓</span> <span>🧢</span> <!-- span>🪖</span --> <span>⛑</span> <span>📿</span> <span>💄</span> <span>💍</span> <span>💎</span> 
						<!-- sound (Sons) -->
						<span>🔇</span> <span>🔈</span> <span>🔉</span> <span>🔊</span> <span>📢</span> <span>📣</span> <span>📯</span> <span>🔔</span> <span>🔕</span> 
						<!-- music (Musique) -->
						<span>🎼</span> <span>🎵</span> <span>🎶</span> <span>🎙</span> <span>🎚</span> <span>🎛</span> <span>🎤</span> <span>🎧</span> <span>📻</span> 
						<!-- musical-instrument (Instruments de musique) -->
						<span>🎷</span> <!-- span>🪗</span --> <span>🎸</span> <span>🎹</span> <span>🎺</span> <span>🎻</span> <!-- span>🪕</span --> <span>🥁</span> <!-- span>🪘</span --> 
						<!-- phone (Téléphones) -->
						<span>📱</span> <span>📲</span> <span>☎</span> <span>📞</span> <span>📟</span> <span>📠</span> 
						<!-- computer (Ordinateur et périphériques) -->
						<span>🔋</span> <span>🔌</span> <span>💻</span> <span>🖥</span> <span>🖨</span> <span>⌨</span> <span>🖱</span> <span>🖲</span> <span>💽</span> <span>💾</span> <span>💿</span> <span>📀</span> <span>🧮</span> 
						<!-- light-and-video (Lumière et vidéo) -->
						<span>🎥</span> <span>🎞</span> <span>📽</span> <span>🎬</span> <span>📺</span> <span>📷</span> <span>📸</span> <span>📹</span> <span>📼</span> <span>🔍</span> <span>🔎</span> <span>🕯</span> <span>💡</span> <span>🔦</span> <span>🏮</span> <!-- span>🪔</span --> 
						<!-- book-paper (Livres) -->
						<span>📔</span> <span>📕</span> <span>📖</span> <span>📗</span> <span>📘</span> <span>📙</span> <span>📚</span> <span>📓</span> <span>📒</span> <span>📃</span> <span>📜</span> <span>📄</span> <span>📰</span> <span>🗞</span> <span>📑</span> <span>🔖</span> <span>🏷</span> 
						<!-- money (Monnaies) -->
						<span>💰</span> <!-- span>🪙</span --> <span>💴</span> <span>💵</span> <span>💶</span> <span>💷</span> <span>💸</span> <span>💳</span> <span>🧾</span> <span>💹</span> 
						<!-- mail (Mail) -->
						<span>✉</span> <span>📧</span> <span>📨</span> <span>📩</span> <span>📤</span> <span>📥</span> <span>📦</span> <span>📫</span> <span>📪</span> <span>📬</span> <span>📭</span> <span>📮</span> <span>🗳</span> 
						<!-- writing (Stylos) -->
						<span>✏</span> <span>✒</span> <span>🖋</span> <span>🖊</span> <span>🖌</span> <span>🖍</span> <span>📝</span> 
						<!-- office (Affaires de bureau) -->
						<span>💼</span> <span>📁</span> <span>📂</span> <span>🗂</span> <span>📅</span> <span>📆</span> <span>🗒</span> <span>🗓</span> <span>📇</span> <span>📈</span> <span>📉</span> <span>📊</span> <span>📋</span> <span>📌</span> <span>📍</span> <span>📎</span> <span>🖇</span> <span>📏</span> <span>📐</span> <span>✂</span> <span>🗃</span> <span>🗄</span> <span>🗑</span> 
						<!-- lock (Cadenas et clés) -->
						<span>🔒</span> <span>🔓</span> <span>🔏</span> <span>🔐</span> <span>🔑</span> <span>🗝</span> 
						<!-- tool (Outils de bricolage) -->
						<span>🔨</span> <!-- span>🪓</span --> <span>⛏</span> <span>⚒</span> <span>🛠</span> <span>🗡</span> <span>⚔</span> <span>🔫</span> <!-- span>🪃</span --> <span>🏹</span> <span>🛡</span> <!-- span>🪚</span --> <span>🔧</span> <!-- span>🪛</span --> <span>🔩</span> <span>⚙</span> <span>🗜</span> <span>⚖</span> <!-- span>🦯</span --> <span>🔗</span> <span>⛓</span> <!-- span>🪝</span --> <span>🧰</span> <span>🧲</span> <!-- span>🪜</span --> 
						<!-- science (Sciences) -->
						<span>⚗</span> <span>🧪</span> <span>🧫</span> <span>🧬</span> <span>🔬</span> <span>🔭</span> <span>📡</span> 
						<!-- medical (Médical) -->
						<span>💉</span> <!-- span>🩸</span --> <span>💊</span> <!-- span>🩹</span --> <!-- span>🩺</span --> 
						<!-- household (Menage et courses) -->
						<span>🚪</span> <!-- span>🛗</span --> <!-- span>🪞</span --> <!-- span>🪟</span --> <span>🛏</span> <span>🛋</span> <!-- span>🪑</span --> <span>🚽</span> <!-- span>🪠</span --> <span>🚿</span> <span>🛁</span> <!-- span>🪤</span --> <!-- span>🪒</span --> <span>🧴</span> <span>🧷</span> <span>🧹</span> <span>🧺</span> <span>🧻</span> <!-- span>🪣</span --> <span>🧼</span> <!-- span>🪥</span --> <span>🧽</span> <span>🧯</span> <span>🛒</span> 
						<!-- other-object (Autres objets) -->
						<span>🚬</span> <span>⚰</span> <!-- span>🪦</span --> <span>⚱</span> <span>🗿</span> <!-- span>🪧</span --> 
						<!-- transport-sign (Sigles dans les transports) -->
						<span>🏧</span> <span>🚮</span> <span>🚰</span> <span>♿</span> <span>🚹</span> <span>🚺</span> <span>🚻</span> <span>🚼</span> <span>🚾</span> <span>🛂</span> <span>🛃</span> <span>🛄</span> <span>🛅</span> 
						<!-- warning (Sigles d'avertissements) -->
						<span>⚠</span> <span>🚸</span> <span>⛔</span> <span>🚫</span> <span>🚳</span> <span>🚭</span> <span>🚯</span> <span>🚱</span> <span>🚷</span> <span>📵</span> <span>🔞</span> <span>☢</span> <span>☣</span> 
						<!-- arrow (Flèches) -->
						<span>⬆</span> <span>↗</span> <span>➡</span> <span>↘</span> <span>⬇</span> <span>↙</span> <span>⬅</span> <span>↖</span> <span>↕</span> <span>↔</span> <span>↩</span> <span>↪</span> <span>⤴</span> <span>⤵</span> <span>🔃</span> <span>🔄</span> <span>🔙</span> <span>🔚</span> <span>🔛</span> <span>🔜</span> <span>🔝</span> 
						<!-- religion (Sigles religieux) -->
						<span>🛐</span> <span>⚛</span> <span>🕉</span> <span>✡</span> <span>☸</span> <span>☯</span> <span>✝</span> <span>☦</span> <span>☪</span> <span>☮</span> <span>🕎</span> <span>🔯</span> 
						<!-- zodiac (Signes du zodiac) -->
						<span>♈</span> <span>♉</span> <span>♊</span> <span>♋</span> <span>♌</span> <span>♍</span> <span>♎</span> <span>♏</span> <span>♐</span> <span>♑</span> <span>♒</span> <span>♓</span> <span>⛎</span> 
						<!-- av-symbol (Symbols audio/vidéo) -->
						<span>🔀</span> <span>🔁</span> <span>🔂</span> <span>▶</span> <span>⏩</span> <span>⏭</span> <span>⏯</span> <span>◀</span> <span>⏪</span> <span>⏮</span> <span>🔼</span> <span>⏫</span> <span>🔽</span> <span>⏬</span> <span>⏸</span> <span>⏹</span> <span>⏺</span> <span>⏏</span> <span>🎦</span> <span>🔅</span> <span>🔆</span> <span>📶</span> <span>📳</span> <span>📴</span> 
						<!-- gender (Genres) -->
						<span>♀</span> <span>♂</span> <span>⚧</span> 
						<!-- math (Maths) -->
						<span>✖</span> <span>➕</span> <span>➖</span> <span>➗</span> <span>♾</span> 
						<!-- punctuation (Ponctuation) -->
						<span>‼</span> <span>⁉</span> <span>❓</span> <span>❔</span> <span>❕</span> <span>❗</span> <span>〰</span> 
						<!-- currency (Monnaies) -->
						<span>💱</span> <span>💲</span> 
						<!-- other-symbol (Autres symboles) -->
						<span>⚕</span> <span>♻</span> <span>⚜</span> <span>🔱</span> <span>📛</span> <span>🔰</span> <span>⭕</span> <span>✅</span> <span>☑</span> <span>✔</span> <span>❌</span> <span>❎</span> <span>➰</span> <span>➿</span> <span>〽</span> <span>✳</span> <span>✴</span> <span>❇</span> <span>©</span> <span>®</span> <span>™</span> 
						<!-- keycap (Pavé numérique) -->
						<span>#️⃣</span> <span>*️⃣</span> <span>0️⃣</span> <span>1️⃣</span> <span>2️⃣</span> <span>3️⃣</span> <span>4️⃣</span> <span>5️⃣</span> <span>6️⃣</span> <span>7️⃣</span> <span>8️⃣</span> <span>9️⃣</span> <span>🔟</span> 
						<!-- alphanum (Sigles alphanumérique) -->
						<span>🔠</span> <span>🔡</span> <span>🔢</span> <span>🔣</span> <span>🔤</span> <span>🅰</span> <span>🆎</span> <span>🅱</span> <span>🆑</span> <span>🆒</span> <span>🆓</span> <span>ℹ</span> <span>🆔</span> <span>Ⓜ</span> <span>🆕</span> <span>🆖</span> <span>🅾</span> <span>🆗</span> <span>🅿</span> <span>🆘</span> <span>🆙</span> <span>🆚</span> <span>🈁</span> <span>🈂</span> <span>🈷</span> <span>🈶</span> <span>🈯</span> <span>🉐</span> <span>🈹</span> <span>🈚</span> <span>🈲</span> <span>🉑</span> <span>🈸</span> <span>🈴</span> <span>🈳</span> <span>㊗</span> <span>㊙</span> <span>🈺</span> <span>🈵</span> 
						<!-- geometric (Géométrique) -->
						<span>🔴</span> <!-- span>🟠</span --> <!-- span>🟡</span --> <!-- span>🟢</span --> <span>🔵</span> <!-- span>🟣</span --> <!-- span>🟤</span --> <span>⚫</span> <span>⚪</span> <!-- span>🟥</span --> <!-- span>🟧</span --> <!-- span>🟨</span --> <!-- span>🟩</span --> <!-- span>🟦</span --> <!-- span>🟪</span --> <!-- span>🟫</span --> <span>⬛</span> <span>⬜</span> <span>◼</span> <span>◻</span> <span>◾</span> <span>◽</span> <span>▪</span> <span>▫</span> <span>🔶</span> <span>🔷</span> <span>🔸</span> <span>🔹</span> <span>🔺</span> <span>🔻</span> <span>💠</span> <span>🔘</span> <span>🔳</span> <span>🔲</span> 
						<!-- flag (Drapeaux) -->
						<span>🏁</span> <span>🚩</span> <span>🎌</span> <span>🏴</span> <span>🏳</span> <!-- span>🏳️‍🌈</span --> <!-- span>🏳️‍⚧️</span --> <!-- span>🏴‍☠️</span -->

					</div>
				</div>
			</div>			

