		<link rel="stylesheet" href="css/module.css" type="text/css" />
		<script src="js/gui.tpl.js" type="text/javascript"></script>
		<script src="js/lang.js" type="text/javascript"></script>
		<script src="js/main.js" type="text/javascript"></script>
		<script src="js/message.js" type="text/javascript"></script>
		<script src="js/mmsdecoder.js" type="text/javascript"></script>
		<script src="js/settings.js" type="text/javascript"></script>
		<script src="js/signals.js" type="text/javascript"></script>
		<script src="js/slots.js" type="text/javascript"></script>
		<script src="js/sms.object.js" type="text/javascript"></script>
		<script src="js/sms.tbl.js" type="text/javascript"></script>
		<script src="js/tab.main.js" type="text/javascript"></script>
		<script src="js/tab.message.js" type="text/javascript"></script>
		<script src="js/tab.emotes.js" type="text/javascript"></script>
		<script src="js/xml.data.js" type="text/javascript"></script>