/* TABS Z-INDEX */

ul.horiz, ul.vert {
	margin:0;
	padding:0;
	list-style-type:none;
	line-height:32px;
	text-align:center;
}
ul.horiz {
	display:block;
	margin:3px auto;
}
ul.horiz li {
	display:inline-block;
}

