/* thx to 
 * - http://www.colorzilla.com/gradient-editor/ for gradient tool ! 
 * - material design for most icons
*/

.body {
	background: #333;
	color: white;
}

span.rounded, div.rounded span {
	color: black;
}

.bold {
	font-weight: bold
}

.icon_people {
	background-image:url('../icons/person-fill.svg');	
	opacity: 0.5;
}
.icon_join {
	background-image:url('../icons/paperclip.svg');	
}
.icon_emotes {
	background-image:url('../icons/emoji-smile.svg');	
}
.icon_submit {
	background-image:url('../icons/send.svg');	
}
.icon_new {
	background-image:url('../icons/plus.svg');		
}
.icon_contacts {
	background-image:url('../icons/people-fill2.svg');
	background-size: 50%;
}

/* TABS Z-INDEX */

#tab_main {
	z-index:+1;
}

#tab_message {
    z-index:+2;
}

#tab_emotes {
	z-index:+3;	
}

/* TABS SETTINGS */

input[type="text"], textarea {
    width:100%;
    background:#eee;
    border-radius:5px;
    border:1px solid #ddd;
    font-weight:bold;
    appearance: none;
    font-size: initial;
    padding: 8px;
    margin: 2px 0;
}
input:hover, textarea:hover {
    background: #f1e767; /* Old browsers */
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%); /* W3C */

}
input:focus, textarea:focus {
    border:1px solid #aaa;
}

ul {
	margin:0;
	padding:0;
	list-style-type:none;

}
li {
	margin: 2px 0;
	text-align: left;
	display: inline-block;
	padding: 10px;
	border-radius: 5px;
	flex: auto;
	color: black;
}
li.selected {
	background: linear-gradient(to bottom, rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%);
}

/* TAB EMOTES */

#emotes_body span {
    font-size: 26px;
    line-height: 32px;
    width: 42px;
    height: 36px;
    padding: 0;
    border: 1px solid #666;
    margin: 3px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
    cursor: pointer;
}

#emotes_body span:hover {
	border: 1px solid #060;
}
#emotes_body span:active {
	border: 1px solid #600;
}

#files {
	width: 0;
	height: 0;
	z-index: -1;
	padding: 0;
	margin: 0;
}

/* TAB MAIN */

#messages_list1 {
	text-align:left;
	margin: 10px;
	font-size:14px;
}
#messages_list1 .date {
	float: right;
}
#messages_list1 div.message:hover {
	background: #666;
}
.big {
	width:40px;
	height:40px;
	padding:5px;
	display:inline-block;
	border-radius: 20px;
	border:1px solid #444;
}
.icon {
	display: inline-block;
	background-size: 20px;
	background-position: center center;
	background-repeat:no-repeat;
	height: 100%;
	width: 100%;
}
div.big span {
	width: 100%;
	height: 100%;
	display: inline-block;
}
.col1, .col2 {
	display: table-cell;
	vertical-align: middle;
}
.col1 {
	width: 10%;
	max-width: 10%;
}
.col2 {
	width: 90%;
	max-width: 90%;
	padding-left: 10px;
}
#messages_icon {
	vertical-align: middle;
}
.message {
	padding:5px 10px;
	display: table;
	width: 100%;
	cursor: pointer;
}
#research {
	position:absolute;
	top:50px;
	left:0;
	right:0;
	overflow: hidden;
	height:40px;
	z-index:+1;
}
#selector_kws {
	border:0;
	margin:0;
	height:40px;
	line-height:20px;
	width:100%;
	font-size:26px;
	background: linear-gradient(to bottom, rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%);
	border-radius: 0;
}
#selector_clear_kws {
	border:0;
	margin:0;
	padding:0;
	position:absolute;
	right:5px;
	top:4px;
	font-size:20px;
	background: transparent;
}

/* TAB MESSAGES */

#messages_list2 {
	text-align:left;
	margin: 10px;
	font-size:14px;
}
.messages_header {
	display: inline-block;
    margin-top: 4px;
}
.messages_header_table {
	display: table-cell;
	vertical-align: middle;	
}

.message2 p.text {
	display: inline-block;
	padding: 10px;
	margin: 3px 10px;
	border-radius: 10px;
	color: black;
	text-align: justify;
}
.message2 p.date {
	clear: both;
	margin: 3px 10px;
	color: #888;
}
.message2.received p.text {
	float:left;
	background: white;
}
.message2.received p.date {
	text-align: left;
}
.message2:not(.received) p.text {
	float: right;
	background: #a5efa5;
}
.message2:not(.received) p.date {
	text-align: right;	
}

.header div.contact {
	margin-top: -3px;
	line-height: 18px;
	font-size: 18px;
	cursor: pointer;
}
#list_number {
	font-weight: bold;
	color: white;
	padding-left: 5px;
	font-size: 16px;
}

#tab_message .body {
	bottom: 64px;
}
#tab_message .col51 button {
	width: 32px;
	height: 32px;
	padding: 2px;
}
#tab_message .col53 button {
	width: 32px;
	height: 64px;
}
#tab_message .footer {
	overflow: hidden;
	z-index: +1;
	display: table-row;
	vertical-align: middle;
	background: #111;
	width: 100%;
	height: 64px;
}
#tab_message .col51, #tab_message .col53 {
	display: table-cell;
	vertical-align: middle;
	width: 32px;
	height: 64px;
}
#tab_message .col52 {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 64px;
}

#editor_text {
	display: block;
    width: 100%;
	height: 18px;
    height: auto;
	background: #222;
	background: linear-gradient(to bottom, rgba(99,99,99,1) 0%,rgba(14,14,14,1) 100%);
    border: 0;
	resize: none;
	font-size: 16px;
	color: white;
	min-height: 64px;
	max-height: 64px;
	border-top: 1px solid white;
}


/* TAB MAIN AND MESSAGES */

.bg_01 { background: linear-gradient(to bottom,rgba(225,149,94,1) 0%,rgba(184,125,59,1) 44%,rgba(138,93,22,1) 100%); }
.bg_02 { background: linear-gradient(to bottom,rgba(222,170,93,1) 0%,rgba(184,150,59,1) 44%,rgba(135,118,21,1) 100%); }
.bg_03 { background: linear-gradient(to bottom,rgba(222,170,93,1) 0%,rgba(184,150,59,1) 44%,rgba(135,118,21,1) 100%); }
.bg_04 { background: linear-gradient(to bottom,rgba(222,216,93,1) 0%,rgba(184,177,59,1) 44%,rgba(158,158,28,1) 100%); }
.bg_05 { background: linear-gradient(to bottom,rgba(196,219,92,1) 0%,rgba(152,184,59,1) 44%,rgba(125,158,28,1) 100%); }
.bg_06 { background: linear-gradient(to bottom,rgba(170,212,93,1) 0%,rgba(124,171,54,1) 44%,rgba(91,158,28,1) 100%); }
.bg_07 { background: linear-gradient(to bottom,rgba(136,222,93,1) 0%,rgba(95,171,54,1) 44%,rgba(51,155,27,1) 100%); }
.bg_08 { background: linear-gradient(to bottom,rgba(94,225,116,1) 0%,rgba(56,176,68,1) 44%,rgba(26,153,64,1) 100%); }
.bg_09 { background: linear-gradient(to bottom,rgba(94,225,177,1) 0%,rgba(57,178,128,1) 44%,rgba(26,153,104,1) 100%); }
.bg_10 { background: linear-gradient(to bottom,rgba(94,225,216,1) 0%,rgba(57,178,178,1) 44%,rgba(25,148,148,1) 100%); }
.bg_11 { background: linear-gradient(to bottom,rgba(94,188,225,1) 0%,rgba(57,146,178,1) 44%,rgba(24,111,145,1) 100%); }
.bg_12 { background: linear-gradient(to bottom,rgba(94,157,225,1) 0%,rgba(57,122,178,1) 44%,rgba(24,69,145,1) 100%); }
.bg_13 { background: linear-gradient(to bottom,rgba(94,129,225,1) 0%,rgba(58,89,181,1) 44%,rgba(24,69,145,1) 100%); }
.bg_14 { background: linear-gradient(to bottom,rgba(94,99,225,1) 0%,rgba(60,58,181,1) 44%,rgba(24,36,145,1) 100%); }
.bg_15 { background: linear-gradient(to bottom,rgba(121,93,222,1) 0%,rgba(93,57,178,1) 44%,rgba(72,25,148,1) 100%); }
.bg_16 { background: linear-gradient(to bottom,rgba(166,93,222,1) 0%,rgba(132,58,181,1) 44%,rgba(109,26,150,1) 100%); }
.bg_17 { background: linear-gradient(to bottom,rgba(205,94,225,1) 0%,rgba(173,59,184,1) 44%,rgba(140,24,140,1) 100%); }
.bg_18 { background: linear-gradient(to bottom,rgba(225,94,207,1) 0%,rgba(184,59,175,1) 44%,rgba(135,23,107,1) 100%); }
.bg_19 { background: linear-gradient(to bottom,rgba(222,93,162,1) 0%,rgba(189,61,140,1) 44%,rgba(135,23,68,1) 100%); }
.bg_20 { background: linear-gradient(to bottom,rgba(225,94,131,1) 0%,rgba(186,60,96,1) 44%,rgba(130,22,51,1) 100%); }
