			<!-- TAB CARS LIST -->
			<div id="tab_cars_list" class="tab fixed">
				<div class="header">
					<div class="absright">
						<span class="rounded icon" id="main_export"></span>
						<span class="rounded icon button_settings" id="button_settings_open"></span>
					</div>
					<div class="absleft">
						<span class="rounded icon button_add" id="button_car_list_add"></span>
						<span class="rounded icon" id="main_import" class="uploader"></span>
					</div>
					<p class="button_log_open"><span class="manifest" data-key="title">Title</span></p>
				</div>
				<div class="body overflow">
					<div id="cars_list">
						<p class="center italic"><span id="nb_of_cars_label">Cars available</span> : <span id="nb_of_cars"></span></p>
						<div id="cars_rows"></div>
					</div>
					<div id="no_cars_list">
						<h1 id="welcome">Welcome !</h1>
						<p><img class="pict s160x120" src="img/default.png" alt="MyCar" /></p>
						<p id="welcome_resume">Cars manager with financial statistics.</p>
						<p id="welcome_start">Press the + button to begin.</p>
					</div>
				</div>
			</div>
			<!-- TAB CAR SEL -->
			<div id="tab_car_sel" class="tab fixed">
				<div class="header">
					<div class="absright">
						<span class="rounded icon button_del" id="button_car_sel_del"></span>
					</div>
					<div class="absleft">
						<span class="rounded icon button_back" id="button_car_sel_back"></span>
					</div>
					<span class="rounded icon button_edit" id="button_car_sel_edit"></span>
				</div>
				<div class="body overflow">
					<p class="center italic"><span id="car_sel_selected">Cars selected</span></p>
					<div class="row">
						<p><img class="pict"  id="car_sel_photo_src" src="img/default.png" /></p>
						<p id="car_sel_text"></p>
					</div>
					<button id="button_car_sel_fill"><span class="circle icon button_gas"></span> <span id="button_car_sel_gas_label">Gas</span></button>
					<button id="button_car_sel_repair"><span class="circle icon button_repair"></span> <span id="button_car_sel_repair_label">Repair</span></button>
					<button id="button_car_sel_insurance"><span class="circle icon button_insurance"></span> <span id="button_car_sel_insurance_label">Insurance</span></button>
					<button id="button_car_sel_stats"><span class="circle icon button_stats"></span> <span id="button_car_sel_stats_label">Stats</span></button>
					<button id="button_car_sel_photos"><span class="circle icon button_camera"></span> <span id="button_car_sel_photos_label">Photos</span></button>
				</div>
			</div>
			<!-- TAB CAR EDITOR -->
			<div id="tab_car_editor" class="tab fixed">
				<div class="header">
					<div class="absright">
						<span class="rounded icon button_submit" id="button_car_edit_rec"></span>
					</div>
					<div class="absleft">
						<span class="rounded icon button_back" id="button_car_edit_back"></span>
					</div>
					<p class="button_log_open" id="title_car_editor">Car editor</p>
				</div>
				<div class="body overflow">
					<div class="frame">
						<div class="frame_bg"></div>
						<div class="frame_fg">
							<p><input type="text" id="car_name" value="" placeholder="Name"/></p>
							<p><input type="text" id="car_driver" value="" placeholder="Driver"/></p>
							<p><input type="date" id="car_purchase_date" value="" placeholder="Purchase date" maxlength="4" min="1970-01-01" /></p>
							<p><input type="text" class="number" id="car_purchase_counter" value="" placeholder="Purchase counter" min="0" max="500000" /></p>
							<p><input type="text" class="number" id="car_purchase_price" value="" placeholder="Purchase price"  min="0" max="200000" /></p>
						</div>
					</div>
				</div>
			</div>
			<!-- TAB PHOTOS LIST -->
			<div id="tab_photos_list" class="tab fixed">
				<div class="header">
					<div class="absright">
						<span class="rounded icon button_add" id="button_photos_add"></span>
					</div>
					<div class="absleft">
						<span class="rounded icon button_back" id="button_photos_return"></span>
					</div>
					<p id="title_car_photos">Car photos</p>
				</div>
				<div class="body overflow">
					<div id="photos_list">
						<p class="center italic"><span id="nb_of_photos_label">Photos available</span> : <span id="nb_of_photos"></span></p>
						<div id="photos_rows"></div>
					</div>
					<div id="no_photos_list">
						<p id="no_photos_list_warning">No photos yet for this car.</p>
					</div>
				</div>
			</div>
			<!-- TAB PHOTOS EDITOR -->
			<div id="tab_photo_editor" class="tab fixed">
				<div class="header">
					<div class="absright">
						<span class="rounded icon button_del" id="button_photos_del"></span>
					</div>
					<div class="absleft">
						<span class="rounded icon button_back" id="button_photos_back"></span>
					</div>
					<span class="rounded icon button_submit" id="button_photos_rec"></span>
				</div>
				<div class="body overflow">
					<p><img class="pict s160x120" src="img/default.png" id="photo_car_edit" /></p>
					<p><button id="button_photos_change"><span class="circle icon button_camera"></span> <span id="button_photos_change_label">Change photo</span></button></p>
				</div>
			</div>
			<!-- TAB FILLS LIST -->
			<div id="tab_fills_list" class="tab fixed">
				<div class="header">
					<div class="absright">
						<span class="rounded icon button_add" id="button_fills_add"></span>
					</div>
					<div class="absleft">
						<span class="rounded icon button_back" id="button_fills_return"></span>
					</div>
					<p class="button_log_open" id="title_fill_up">Fill up</p>
				</div>
				<div class="body overflow">
					<div id="fills_list">
						<table class="list">
							<thead>
								<tr>
									<th><span id="fills_list_col_date">Date</span></th>
									<th><span class="settings_distance_unit">km</span></th>
									<th><span class="settings_volume_unit">l</span></th>
									<th><span class="settings_currency_unit">€</span>/<span class="settings_volume_unit">l</span></th>
									<th><span class="settings_currency_unit">€</span></th>
								</tr>
							</thead>
							<tbody id="fills_rows">
							</tbody>
						</table>
					</div>
					<div id="no_fills_list">
						<p id="no_fills_list_warning">No fills yet for this car.</p>
					</div>
				</div>
			</div>
			<!-- TAB FILL EDITOR -->
			<div id="tab_fill_editor" class="tab fixed">
				<div class="header">
					<div class="absright">
						<span class="rounded icon button_del" id="button_fills_del"></span>
					</div>
					<div class="absleft">
						<span class="rounded icon button_back" id="button_fills_back"></span>
					</div>
					<span class="rounded icon button_submit" id="button_fills_rec"></span>
				</div>
				<div class="body overflow">
					<div class="frame">
						<div class="frame_bg"></div>
						<div class="frame_fg">
							<p><input type="date" id="fill_date" value="" placeholder="Date" min="1970-01-01"/></p>
							<p><input type="text" class="number" id="fill_counter" value="" placeholder="Counter"/></p>
							<p><input type="text" class="number" id="fill_price_per_vol" value="" placeholder="Price per volume unit"/></p>
							<p><input type="text" class="number" id="fill_price" value="" placeholder="Price"/></p>
						</div>
					</div>
				</div>
			</div>
			<!-- TAB REPAIR LIST -->
			<div id="tab_repairs_list" class="tab fixed">
				<div class="header">
					<div class="absright">
						<span class="rounded icon button_add" id="button_repairs_add"></span>
					</div>
					<div class="absleft">
						<span class="rounded icon button_back" id="button_repairs_return"></span>
					</div>
					<p class="button_log_open" id='title_repair'>Repair</p>
				</div>
				<div class="body overflow">
					<div id="repairs_list">
						<table class="list2">
							<thead>
								<tr>
									<th><span id="repairs_list_col_date">Date</span></th>
									<th><span id="repairs_list_col_garage">Garage</span></th>
									<th><span class="settings_currency_unit">€</span></th>
								</tr>
								<tr>
									<th colspan="3"><span id="repairs_list_col_desc">Description</span></th>
								</tr>
							</thead>
							<tbody id="repairs_rows">
							</tbody>
						</table>
					</div>
					<div id="no_repairs_list">
						<p id="no_repairs_list_warning">No repairs yet for this car.</p>
					</div>
				</div>
			</div>
			<!-- TAB REPAIR EDITOR -->
			<div id="tab_repair_editor" class="tab fixed">
				<div class="header">
					<div class="absright">
						<span class="rounded icon button_del" id="button_repairs_del"></span>
					</div>
					<div class="absleft">
						<span class="rounded icon button_back" id="button_repairs_back"></span>
					</div>
					<span class="rounded icon button_submit" id="button_repairs_rec"></span>
				</div>
				<div class="body overflow">
					<div class="frame">
						<div class="frame_bg"></div>
						<div class="frame_fg">
							<p><input type="date" id="repair_date" value="" placeholder="Date" min="1970-01-01"/></p>
							<p><input type="text" id="repair_garage" value="" placeholder="Garage"/></p>
							<p><textarea id="repair_desc" value="" placeholder="Description"></textarea></p>
							<p><input type="text" class="number" id="repair_price" value="" placeholder="Price"/></p>
						</div>
					</div>
				</div>
			</div>
			<!-- TAB INSURANCE LIST -->
			<div id="tab_insurances_list" class="tab fixed">
				<div class="header">
					<div class="absright">
						<span class="rounded icon button_add" id="button_insurances_add"></span>
					</div>
					<div class="absleft">
						<span class="rounded icon button_back" id="button_insurances_return"></span>
					</div>
					<p class="button_log_open" id='title_insurance'>Insurance</p>
				</div>
				<div class="body overflow">
					<div id="insurances_list">
						<table class="list">
							<thead>
								<tr>
									<th><span id="insurances_list_col_date">From</span></th>
									<th><span id="insurances_list_col_insurer">Insurer</span></th>
									<th><span class="settings_currency_unit">€</span></th>
								</tr>
							</thead>
							<tbody id="insurances_rows">
							</tbody>
						</table>
					</div>
					<div id="no_insurances_list">
						<p id="no_insurances_list_warning">No insurances yet for this car.</p>
					</div>
				</div>
			</div>
			<!-- TAB INSURANCE EDITOR -->
			<div id="tab_insurance_editor" class="tab fixed">
				<div class="header">
					<div class="absright">
						<span class="rounded icon button_del" id="button_insurances_del"></span>
					</div>
					<div class="absleft">
						<span class="rounded icon button_back" id="button_insurances_back"></span>
					</div>
					<span class="rounded icon button_submit" id="button_insurances_rec"></span>
				</div>
				<div class="body overflow">
					<div class="frame">
						<div class="frame_bg"></div>
						<div class="frame_fg">
							<p><input type="date" id="insurance_date" value="" placeholder="Date" min="1970-01-01"/></p>
							<p><input type="text" id="insurance_name" value="" placeholder="Insurer"/></p>
							<p><input type="text" class="number" id="insurance_price" value="" placeholder="Price"/></p>
						</div>
					</div>
				</div>
			</div>
			<!-- TAB STATS -->
			<div id="tab_stats" class="tab fixed">
				<div class="header">
					<div class="absleft">
						<span class="rounded icon button_back" id="button_car_stats_back"></span>
					</div>
					<p id="title_stats">Stats</p>
				</div>
				<div class="body overflow" id="stats_list">
				</div>
			</div>
