		<link href="css/module.css" rel="stylesheet" type="text/css">
		<script src="js/car.object.js" type="text/javascript"></script>
		<script src="js/cars.tbl.js" type="text/javascript"></script>
		<script src="js/fill.object.js" type="text/javascript"></script>
		<script src="js/fills.tbl.js" type="text/javascript"></script>
		<script src="js/gui.tpl.js" type="text/javascript"></script>
		<script src="js/insurance.object.js" type="text/javascript"></script>
		<script src="js/insurances.tbl.js" type="text/javascript"></script>
		<script src="js/lang.js" type="text/javascript"></script>
		<script src="js/local.js" type="text/javascript"></script>
		<script src="js/main.js" type="text/javascript"></script>
		<script src="js/photo.object.js" type="text/javascript"></script>
		<script src="js/photos.tbl.js" type="text/javascript"></script>
		<script src="js/repair.object.js" type="text/javascript"></script>
		<script src="js/repairs.tbl.js" type="text/javascript"></script>
		<script src="js/settings.js" type="text/javascript"></script>
		<script src="js/signals.js" type="text/javascript"></script>
		<script src="js/slots.js" type="text/javascript"></script>
		<script src="js/tab.car.js" type="text/javascript"></script>
		<script src="js/tab.fill.js" type="text/javascript"></script>
		<script src="js/tab.insurance.js" type="text/javascript"></script>
		<script src="js/tab.photo.js" type="text/javascript"></script>
		<script src="js/tab.repair.js" type="text/javascript"></script>
		<script src="js/tab.stats.js" type="text/javascript"></script>
