			<!-- TAB MAIN -->
			<div id="tab_main" class="tab fixed">
				<div class="header">
					<div class="absright">
						<span class="rounded menu icon_call" id="button_call_open"></span>
						<span class="rounded menu icon_history" id="button_history_open"></span>
						<span class="rounded menu icon_menu" id="button_settings_open"></span>
					</div>
					<div class="absleft">
						<p id="button_log_open">
						<span class="manifest" data-key="title">Title</span>
						</p>
					</div>
				</div>
				<div id="phone_number">
					<input type="text" name="number" id="number" placeholder="?" value=""/>
					<button type="button" id="clear_number">&#9003;</button>
				</div>
				<div class="body overflow" style="top:91px">
					<div id="dialer">
						<section id="keypad">
							<div class="keypad-row">
								<div class="keypad-key" role="key" data-value="1">
									<span>1</span>
									<em class="keypad-subicon voicemail" data-l10n-id="voiceMailKey">&nbsp;</em>
								</div>
								<div class="keypad-key" role="key" data-value="2">
									<span>2</span>
									<em>ABC</em>
								</div>
								<div class="keypad-key" role="key" data-value="3">
									<span>3</span>
									<em>DEF</em>
								</div>
							</div>
							<div class="keypad-row">
								<div class="keypad-key" role="key" data-value="4">
									<span>4</span>
									<em>GHI</em>
								</div>
								<div class="keypad-key" role="key" data-value="5">
									<span>5</span>
									<em>JKL</em>
								</div>
								<div class="keypad-key" role="key" data-value="6">
									<span>6</span>
									<em>MNO</em>
								</div>
							</div>
							<div class="keypad-row">
								<div class="keypad-key" role="key" data-value="7">
									<span>7</span>
									<em>PQRS</em>
								</div>
								<div class="keypad-key" role="key" data-value="8">
									<span>8</span>
									<em>TUV</em>
								</div>
								<div class="keypad-key" role="key" data-value="9">
									<span>9</span>
									<em>WXYZ</em>
								</div>
							</div>
							<div class="keypad-row">
								<div class="keypad-key" role="key" data-value="*" data-l10n-id="asterisk">
									<span class="asterisk">*</span>
									<em>’</em>
								</div>
								<div class="keypad-key" role="key" data-value="0">
									<span>0</span>
									<em class="font-size-plus">+</em>
								</div>
								<div class="keypad-key" role="key" data-type="dial" data-value="#" data-l10n-id="hashSign">
									<div class="sharp">#</div>
								</div>
							</div>
						</section>
						<section id="keypad-callbar">
							<button id="keypad-callbar-call-action" data-value="make-call" data-l10n-id="makeCall"></button>
						</section>
						<audio id="player" autoplay>
							<source id="player_src" src="sounds/dtmf/silence.wav" type="audio/wav"/>
						</audio>
					</div>
				</div>
			</div>
			<!-- TAB CALL -->
			<div id="tab_call" class="tab fixed">
				<div class="header">
					<div class="absleft">
						<span class="rounded menu icon_backward" id="button_call_close"></span>
					</div>
					<div class="absright">
						<span class="rounded menu icon_history" id="button_call_history"></span>
					</div>
					<p id="label_online_calls">Online calls</p>
				</div>
				<div class="body overflow with_padding">
					<section id="keypad-sound">
						<button class="action big static bg_02" id="button_keypad-mute" data-value="mute-sound" data-l10n-id="mute">
							<span class="icon icon_keypad_mute"></span>
						</button>
						<button class="action big static bg_02" id="button_keypad-speaker" data-value="speaker-sound" data-l10n-id="speaker">
							<span class="icon icon_keypad_speaker"></span>
						</button>
					</section>
					<h3><span class="label_calls_active">Active</span></h3>
					<div id="calls_details"></div>
					<div id="calls_dtmf"></div>
					<div id="calls_active"></div>
				</div>
			</div>
			<!-- TAB HISTORY -->
			<div id="tab_history" class="tab fixed">
				<div class="header">
					<div class="absleft">
						<span class="rounded menu icon_backward" id="button_history_close"></span>
					</div>
					<div class="absright">
					</div>
					<p id="label_history">History</p>
				</div>
				<div class="body overflow with_padding">
					<div id="calls_history"></div>
				</div>
			</div>

