		<link rel="stylesheet" href="css/module.css" type="text/css" />
		<script src="js/call.object.js" type="text/javascript"></script>
		<script src="js/calls.tbl.js" type="text/javascript"></script>
		<script src="js/clock.tbl.js" type="text/javascript"></script>
		<script src="js/echo.js" type="text/javascript"></script>
		<script src="js/gui.tpl.js" type="text/javascript"></script>
		<script src="js/lang.js" type="text/javascript"></script>
		<script src="js/main.js" type="text/javascript"></script>
		<script src="js/settings.js" type="text/javascript"></script>
		<script src="js/signals.js" type="text/javascript"></script>
		<script src="js/slots.js" type="text/javascript"></script>
		<script src="js/tab.main.js" type="text/javascript"></script>
		<script src="js/tab.call.js" type="text/javascript"></script>
		<script src="js/tab.history.js" type="text/javascript"></script>
		<script src="js/timer.tbl.js" type="text/javascript"></script>